<th:block th:fragment="title">
	<h1>Notificaci&oacute;n de Mantenimiento no finalizados</h1>
</th:block>


<th:block th:fragment="body">
	<h1 style="color:#000000;">Hola <span th:text="${alias}"></span>: </h1>
	<p style="display:inline"><th:block th:text="${titulo}"></th:block>:</p>
	
	<table align="center" border="0" cellpadding="10" cellspacing="10" width="100%" style="border-collapse: collapse; border:solid 1px #333333">		
		<tr>
			<!-- <th style="background-color: #333333; text-align: left; border: solid 1px #333333; color: #FFF" width="10%">Clave</th> -->
			<th style="background-color: #333333; text-align: left; border: solid 1px #333333; color: #FFF" width="30%">Observaciones</th>
			<!-- <th style="background-color: #333333; text-align: left; border: solid 1px #333333; color: #FFF" width="20%">Estatus</th> -->
			<!-- <th style="background-color: #333333; text-align: center; border: solid 1px #333333; color: #FFF" width="20%">Tipo de Activo</th> -->
            <th style="background-color: #333333; text-align: right; border: solid 1px #333333; color: #FFF" width="20%">Gasto Aproximado</th>
            <th style="background-color: #333333; text-align: right; border: solid 1px #333333; color: #FFF" width="20%">Fecha Programada</th>
                        
		</tr>
		
		<tr th:each="ItemMantenimiento : ${lstMantenimiento}">
			<!-- <td style="text-align: left; border: solid 1px #333333" th:text="${ItemMantenimiento.numeroEconomico}"></td> -->
			<td style="text-align: left; border: solid 1px #333333" th:text="${ItemMantenimiento.observaciones}"></td>
			<!-- <td style="text-align: left; border: solid 1px #333333" th:text="${ItemMantenimiento.Estatus}"></td> -->
			<!-- <td style="text-align: center; border: solid 1px #333333" th:text="${ItemMantenimiento.TipoActivo}"></td> -->
            <td style="text-align: right; border: solid 1px #333333" th:text="${ItemMantenimiento.gastoAproximado}"></td>
			<td style="text-align: right; border: solid 1px #333333" th:text="${ItemMantenimiento.fechaProgramada}"></td>            
		</tr>		
	</table>
</th:block>

