<!-- Jquery Core Js -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Moment Plugin Js -->
<script th:src="@{/plugins/momentjs/moment.js}"></script>
<script th:src="@{/plugins/momentjs/moment-with-locales.min.js}"></script>
<script th:src="@{/plugins/momentjs/moment-timezone.js}"></script>
<script th:src="@{/plugins/momentjs/moment-timezone-with-data.js}"></script>

<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script th:src="@{/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>

<!-- Select Plugin Js -->
<script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

<!-- Jquery Validation Plugin Js -->
<script th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>

<!-- Input Mask Plugin Js -->
<script th:src="@{/plugins/jquery-inputmask/jquery.inputmask.bundle.js}"></script>

<!-- Slimscroll Plugin Js -->
<script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/plugins/node-waves/waves.js}"></script>

<!-- Jquery CountTo Plugin Js -->
<script sth:rc="@{/plugins/jquery-countto/jquery.countTo.js}"></script>

<!-- SweetAlert -->
<script th:src="@{/plugins/sweetalert/sweetalert2.min.js}"></script>

<!-- Custom Js -->
<script th:src="@{/assets/js/admin.js}"></script>

<!-- Dropzone Plugin Js -->
<script th:src="@{/plugins/dropzone/dropzone.js}"></script>
<script th:src="@{/assets/js/pages/index.js}"></script>

<!-- Push JS -->
<script th:src="@{/plugins/push/push.min.js}"></script>


<!-- Bootstrap Notify Plugin Js -->
 <script th:src="@{/plugins/bootstrap-notify/bootstrap-notify.js}"></script>


<!-- Pusher -->
<script src="https://js.pusher.com/4.2/pusher.min.js"></script>


<!-- Demo Js -->
<script th:src="@{/assets/js/demo.js}"></script>
