<!-- Google Fonts -->
<link th:href="@{/assets/css/google-fonts.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/material-icons.css}" rel="stylesheet" type="text/css" />

<!-- Bootstrap Core Css -->
<link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" />

<!-- wenzhixin -->
<link rel="stylesheet" th:href="@{/plugins/wenzhixin/bootstrap-table.css}" />

<!-- Waves Effect Css -->
<link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet" />

<!-- Bootstrap Material Datetime Picker Css -->
<link th:href="@{/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />

<!-- Bootstrap Select Css -->
<link th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" />

<!-- Dropzone Css -->
<link th:href="@{/plugins/dropzone/dropzone.css}" rel="stylesheet" />

<!-- Colorpicker Css -->
<link th:href="@{/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css}" rel="stylesheet" />

<!-- Font Awesome 5 Css -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />

<!-- Stars Css -->
<link th:href="@{/plugins/bootstrap-rate-star/css/star-rating.min.css}" rel="stylesheet" />

<!-- Starrr Css -->
<link th:href="@{/plugins/starrr/starrr.css}" rel="stylesheet" />

<!-- Animation Css -->
<link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet" />

<!-- Morris Chart Css-->
<link th:href="@{/plugins/morrisjs/morris.css}" rel="stylesheet" />

<!-- SweetAlert Css-->
<link th:href="@{/plugins/sweetalert/sweetalert2.min.css}" rel="stylesheet" />

<!-- CALENDAR -->
<link th:href="@{/plugins/fullcalendar/fullcalendar.min.css}" rel="stylesheet" />
<link th:href="@{/plugins/fullcalendar/fullcalendar.print.css}" rel="stylesheet" media="print" />

<!-- JQuery DataTable Css -->
<link th:href="@{/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css}" rel="stylesheet" />

<!-- Custom Css -->
<link th:href="@{/assets/css/style.css}" rel="stylesheet" />
<!-- FIle css -->
<link th:href="@{/assets/css/file.css}" rel="stylesheet" />


<!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
<link th:href="@{/assets/css/themes/all-themes.css}" rel="stylesheet" />