<th:block th:fragment="body">
	<div id="appActivos">

	<ol class="breadcrumb breadcrumb-bg-red">
		<li><a th:href="${ {_PATH_} + 'controlPanel/'}"><i class="material-icons">home</i> Inicio</a></li>
		<li class="active"><i class="material-icons">public</i> Nuevos Activos</li>
	</ol>

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>Lista de Recursos Activos</h2>
				</div>
		
    			<div class="body">
    				<div class="row clearfix">
					<!--<div class="row clearfix" th:if="${rolNuevoCliente}">-->
    					<div class="col-md-4 col-md-offset-8 text-right">
							<!--th:href="${ {_PATH_} + 'controlPanel/activos/create'}" -->
							<a href="#" role="button" class="btn bg-purple waves-effect" 
								data-toggle="modal" data-target="#modalNuevoActivo" v-on:click="loadModal">
								<i class="material-icons">add_circle</i> Nuevo Activo</a>
						</div>
					</div>

					<div class="table-responsive-md table-responsive-lg table-responsive-xl">
						<table id="dtActivo" class="table table-bordered table-striped table-hover table-dark" data-height="600">
							<thead>
								<tr class="container-fluid">
									<th class="col-md-1" data-field="id_recurso_activo" data-sortable="true" data-halign="left" data-align="center" data-visible="false">ID</th>
									<th class="col-md-2" data-field="numero_unico" data-sortable="true" data-halign="left" data-align="center">ID</th>
									<th class="col-md-2" data-formatter="accionesFormatter" data-align="center" style="display: inline">Acciones</th>
									<th class="col-md-2" data-field="descripcion" data-halign="left">Activo</th>
                                    <th class="col-md-2" data-field="marca" data-halign="left">Marca</th>
                                    <th class="col-md-1" data-field="modelo" data-sortable="true" data-halign="left">Modelo</th>
									<th class="col-md-2" data-formatter="estatusFormatter" data-halign="center" data-align="center">Estatus</th>
                                    <th class="col-md-3" data-field="catalogo" data-sortable="true" data-halign="left">Catálogos</th>

									<th class="col-md-1" data-field="placa" data-halign="left" data-align="center" data-visible="false">Num. de placa</th>
									<th class="col-md-1" data-field="departamento" data-halign="left" data-align="center" data-visible="false">Departamento asig.</th>
									<th class="col-md-1" data-field="usuario_asignado" data-halign="left" data-align="center" data-visible="false">Usuario asig.</th>
                                    <th class="col-md-1" data-field="creacion_fecha" data-halign="left" data-align="center" data-visible="false">Fecha registro</th>
                                    <th class="col-md-1" data-field="creacion_id_usuario" data-halign="left" data-align="center" data-visible="false">Registrado :</th>
		
								</tr>
							</thead>
						</table>
		
					</div>
					
    			</div>

			</div>
		</div>
	</div>

			<!-- NUEVA ACTIVO -->
		<div class="modal fade" id="modalNuevoActivo" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<form id="formActivo" v-on:submit.prevent="createActivo" method="POST" role="form" enctype="multipart/form-data">
						<div class="modal-header">
							<h3 class="modal-title text-primary">Registro de Activo</h3>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />				
						<div class="modal-body">
							<!-- Campos generales -->
							<div class="row-clearfix">
								<div class="col-md-6">
									<p><b>Tipo de activo *</b></p>
									<div class="input-group">	                            
										<select class="form-control show-tick cmbCatalogo" name="cmbCatalogo" id="cmbCatalogo" v-model="newActivo.id_catalogo">
											<option value="default" selected="selected">Selecciona un Catalogo...</option>
											<option v-for="item in catalogo" :value="item.id_catalogo_activo" :data-subtext="item.nombre">{{ item.nombre }}</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
										<div class="form-group">
											<p><b>Descripción</b></p>
											<div class="form-line">
												<input type="text" name="txtDescripcion" class="form-control" required="required" placeholder="Descripcion activo" v-model="newActivo.descripcion"/>
											</div>
										</div>
								</div>
							</div>

							<div class="row clearfix">
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Marca *</b></p>
										<div class="form-line">
											<input type="text" name="txtMarca" class="form-control" required="required" 
											placeholder="Nombre de la marca.." v-model="newActivo.marca"/>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Modelo *</b></p>
										<div class="form-line">
											<input type="text" name="txtModelo" class="form-control" required="required" 
											placeholder="Modelo del producto" v-model="newActivo.modelo"/>
										</div>
									</div>
								</div>

								<div class="col-md-3">
										<div class="form-group">
											<p><b>Serie *</b></p>
											<div class="form-line">
												<input type="text" name="txtSerie" class="form-control" required="required" 
												placeholder="Num. Serie.." v-model="newActivo.serie"/>
											</div>
										</div>
								</div>
								<div class="col-md-3">
										<div class="form-group">
											<p><b>Color *</b></p>
											<div class="form-line">
												<input type="text" name="txtColor" class="form-control" placeholder="Color del recurso" v-model="newActivo.color"/>
											</div>
										</div>
								</div>
							</div>

							<div class="row clearfix">
								<div class="col-md-3">
									<p><b>Fecha Compra *</b></p>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">date_range</i>
										</span>
										<div class="form-line">
											<input type="text" class="form-control text-center txtFechaCompra" id="txtFechaCompra" name="txtFechaCompra" 
											placeholder="Selecciona una fecha..."/>
										</div>
									</div>	
								</div>	
								<div class="col-md-3">
									<p><b>Costo Recurso *</b></p>
									<div class="input-group">
										<span class="input-group-addon">$</span>
										<div class="form-line">
											<input type="number" name="txtCosto" class="form-control txtCosto" v-model="newActivo.costo_recurso"/>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Garantia (en Meses) *</b></p>
										<div class="form-line">
											<input type="number" min="1" max="56" name="txtGarantia" class="form-control" 
											placeholder="Defina en numeros los meses" v-model="newActivo.garantia_mes"/>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<p><b>Obsolecencia</b></p>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">date_range</i>
										</span>
										<div class="form-line" >
											<input type="text" name="txtObsolecencia" id="txtObsolecencia" class="form-control txtObsolecencia" 
											placeholder="Fecha de obsolencia"/>
										</div>
									</div>
								</div>
							</div>

							<!-- Campos vehicular -->
							<div class="row-clearfix" v-show="newActivo.id_catalogo==1">
								<div class="col-md-6">
									<div class="form-group">
										<p><b>Num. de Placa</b></p>
										<div class="form-line">
											<input type="text" name="txtPlaca" class="form-control" 
											placeholder="Escriba el num. de placa" v-model="newActivo.placa"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<p><b>Tipo Vehiculo </b></p>
										<div class="form-line">
											<input type="text" name="txtTipoVehiculo" class="form-control" 
												placeholder="Escriba el tipo de vehiculo" v-model="newActivo.tipo_vehiculo"/>
										</div>
									</div>
								</div>
							</div>
							
								<!-- Campos de HUR -->
								<!-- campos exculusivamente no hay -->
							
								<!-- Campos de EAC -->
							<div class="row-clearfix" v-show="newActivo.id_catalogo==2">
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Serie evaporadora</b></p>
										<div class="form-line">
											<input type="text" name="txtSerieEvaporadora" class="form-control"
											v-model="newActivo.serie_evaporadora"/>
										</div>
									</div>
								</div>
								<div class="col-md-4">	
									<div class="form-group">
										<p><b>Serie condensadora</b></p>
										<div class="form-line">
											<input type="text" name="txtSerieCondensadora" class="form-control"
											v-model="newActivo.serie_condensadora"/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<p><b></b></p>
									<input type="checkbox" id="chkControlRemoto" class="filled-in chk-col-deep-purple" name="chkControlRemoto" v-model="newActivo.control_remoto"/>
									<label for="chkControlRemoto">&iquest;Tiene control remoto?</label>
								</div>
							</div>

								<!-- Campos de HTC -->
							<div class="row-clearfix" v-show="newActivo.id_catalogo==3">
								<div class="col-md-4">
									<p><b>Fecha de Entrega</b></p>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">date_range</i>
										</span>
										<div class="form-line">
											<input type="text" class="form-control text-center txtFechaEntrega" id="txtFechaEntrega" name="txtFechaEntrega" 
											placeholder="Selecciona una fecha..."/>
										</div>
									</div>	
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<p><b>Imei</b></p>
										<div class="form-line">
											<input type="number" name="txtImei" class="form-control" placeholder="Num. Imei" v-model="newActivo.imei"/>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<p><b>Almacenamiento Externa</b></p>
										<div class="form-line">
											<input type="number" name="txtAlmacenamientoExterna" class="form-control" 
											placeholder="Almacenamiento Externo" v-model="newActivo.almacenamientoExterno"/>
										</div>
									</div>
								</div>
							</div>

							<!-- Campos de ECP -->
							<div class="row-clearfix" v-show="newActivo.id_catalogo==4">
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Tipo Equipo</b></p>
										<div class="form-line">
											<input type="text" name="txtTipoEquipo" class="form-control" v-model="newActivo.tipoEquipo"/>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<p><b>Tipo de Mem. Ram</b></p>
										<div class="form-line">
											<input type="text" name="txtTipoRam" class="form-control" v-model="newActivo.tipoMemRam"/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Capacidad Mem. Ram</b></p>
										<div class="form-line">
											<input type="number" name="txtCapMemRam" class="form-control" v-model="newActivo.capacidadRam"/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Tipo Procesador</b></p>
										<div class="form-line">
											<input type="text" name="txtTipoProcesador" class="form-control" v-model="newActivo.tipoProcesador"/>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<p><b>Marca Procesador</b></p>
										<div class="form-line">
											<input type="text" name="txtMarcaProcesador" class="form-control" v-model="newActivo.marcaProcesador"/> 
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Capacidad Procesador</b></p>
										<div class="form-line">
											<input type="number" name="txtCapProcesador" class="form-control" v-model="newActivo.capacidadProcesador"/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Tipo HDD</b></p>
										<div class="form-line">
											<input type="text" name="txtTipoHDD" class="form-control" v-model="newActivo.tipoHDD"/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Capacidad Int. HDD</b></p>
										<div class="form-line">
											<input type="number" name="txtCapIntHDD" class="form-control" v-model="newActivo.capacidadHDD"/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<p><b></b></p>
									<input type="checkbox" id="chkMonitor" class="filled-in chk-col-deep-purple" name="chkMonitor"
									v-model="newActivo.tieneMonitor"/>
									<label for="chkMonitor">&iquest;Tiene monitor?</label>
								</div>
							</div>
							<div class="row-clearfix" v-show="newActivo.id_catalogo==4">
								<div class="col-md-12">
								</div>
							</div>
							<div class="row-clearfix" v-show="newActivo.tieneMonitor==true">
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Tamaño</b></p>
										<div class="form-line">
											<input type="number" name="txtTamanioMonitor" class="form-control"
											v-model="newActivo.tamanioMonitor"/>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Color monitor</b></p>
										<div class="form-line">
											<input type="text" name="txtColorMonitor" class="form-control" v-model="newActivo.colorMonitor"/>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Modelo Monitor</b></p>
										<div class="form-line">
											<input type="text" name="txtModeloMonitor" class="form-control"
											v-model="newActivo.modeloMonitor"/>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Num. parte</b></p>
										<div class="form-line">
											<input type="text" name="txtNumParte" class="form-control" v-model="newActivo.numParte"/>
										</div>
									</div>
								</div>

							</div>
							<!-- End campos de ECP -->

							<div class="row-clearfix">
								<div class="col-md-12">
									<hr class="btn-secondary"/>
								</div>
							</div>

							<div class="row-clearfix">	
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Periodo Mant. Estimado</b></p>
										<div class="form-line">
											<input type="number" name="txtPeridoMantenimiento" class="form-control" 
											placeholder="Periodo de mant. estimado en dias" v-model="newActivo.periodo_mant_estimado"/>
										</div>
									</div>
								</div>
								
								<div class="col-md-8">
									<div class="form-group">	
										<p><b>Im&aacute;gen</b></p>							
										<div class="form-line">
											<input type="file" name="fichero" id="idFileActivo" class="form-control-file" multiple="multiple"  
											accept="image/x-png,image/gif,image/jpeg" />
												<!-- <input type="file" name="fichero" @change="onFileChange" class="form-control" multiple="multiple"/> -->
										</div>
									</div>
										<!-- <div v-else>
											<img :src="newActivo.fichero"/>
											<button class="btn-danger" @click="removeImage">Quitar Imagen</button>
										</div> -->
								</div>
							</div>


							<div class="row-clearfix">
								<div class="col-md-12 text-center">
									<hr class="btn-primary"/>
									<h4  class="text-primary">Asignacion de activo</h4>
								</div>
							</div>
							<div class="row-clearfix">
								<div class="col-md-4">
									<b>Empresa *</b>
									<div class="input-group">
										<select name="cmbEmpresa" id="cmbEmpresa" class="form-control show-tick cmbEmpresa" v-model="newActivo.id_empresa">
											<option value="default" selected="selected">Selecciona la empresa...</option>
											<option v-for="item in empresas" :value="item.id_empresa" >{{item.razon_social}}</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
                                    <b>Area *</b>
                                    <div class="input-group">	                            
										<select class="form-control show-tick cmbDepartamento" name="cmbDepartamento" id="cmbDepartamento" v-model="newActivo.id_departamento" data-live-search="true">
                                            <option value="default" selected="selected">Selecciona un Departamento...</option>
                                            <option v-for="item in departamento" :value="item.id_departamento">{{ item.nombre_departamento }}</option>
                                        </select>
                                    </div>
								</div>

								<div class="col-md-4">
									<b>Usuario </b>
									<div class="input-group">	                            
										<select class="form-control show-tick cmbUsuario" name="cmbUsuario" id="cmbUsuario" 
										v-model="newActivo.id_usuario_asignado" data-live-search="true">
											<option value="" selected="selected">Selecciona un usuario...</option>
											<option v-for="item in usuario" :value="item.id_usuario">{{ item.nombre_completo }}</option>
										</select>
									</div>
								</div>
							</div>

							<div class="row clearfix">
								<div class="col-md-12">
									<p><b>Observaciones</b></p>
									<div class="form-line">
										<textarea rows="4"  name="txtObservaciones" class="form-control no-resize col-md-6" 
										placeholder="Escriba en que condiciones se encuentra" v-model="newActivo.observaciones"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CANCELAR</button>
							<button type="submit" class="btn btn-primary waves-effect">CREAR</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>


			<!-- EDIT ACTIVO -->
			<div class="modal fade" id="modalEditActivo" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<form id="formEditActivo" v-on:submit.prevent="update" method="POST" role="form">
								<div class="modal-header">
									<h4 class="modal-title">Editar Activo</h4>
								</div>
						<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
						<div class="modal-body">
								<!-- Campos generales -->
								<div class="row-clearfix">
									<div class="col-md-6">
										<p><b>Tipo de activo *</b></p>
										<div class="input-group">
											<input type="hidden" :value="editData.id_tipo_activo" name="cmbCatalogo"/>                        
											<select class="form-control show-tick cmbCatalogo" id="cmbCatalogo" v-model="editData.id_tipo_activo" disabled="true">
												<option value="default" selected="selected">Selecciona un Catalogo...</option>
												<option v-for="item in catalogo" :value="item.id_catalogo_activo" :data-subtext="item.nombre">{{ item.nombre }}</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
											<div class="form-group">
												<p><b>Descripción</b></p>
												<div class="form-line">
													<input type="text" name="txtDescripcion" class="form-control" required="required" placeholder="Descripcion activo" v-model="editData.descripcion"/>
												</div>
											</div>
									</div>
								</div>
	
								<div class="row clearfix">
									<div class="col-md-3">
										<div class="form-group">
											<p><b>Marca *</b></p>
											<div class="form-line">
												<input type="text" name="txtMarca" class="form-control" required="required" 
												placeholder="Nombre de la marca.." v-model="editData.marca"/>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p><b>Modelo *</b></p>
											<div class="form-line">
												<input type="text" name="txtModelo" class="form-control" required="required" 
												placeholder="Modelo del producto" v-model="editData.modelo"/>
											</div>
										</div>
									</div>
	
									<div class="col-md-3">
											<div class="form-group">
												<p><b>Serie *</b></p>
												<div class="form-line">
													<input type="text" name="txtSerie" class="form-control" required="required" 
													placeholder="Num. Serie.." v-model="editData.serie"/>
												</div>
											</div>
									</div>
									<div class="col-md-3">
											<div class="form-group">
												<p><b>Color *</b></p>
												<div class="form-line">
													<input type="text" name="txtColor" class="form-control" placeholder="Color del recurso" v-model="editData.color"/>
												</div>
											</div>
									</div>
								</div>
	
								<div class="row clearfix">
									<div class="col-md-3">
										<p><b>Fecha Compra *</b></p>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="material-icons">date_range</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control text-center txtFechaCompra"  name="txtFechaCompra" 
												placeholder="Selecciona una fecha..." :value="editData.fechaCompra" readonly="true"/>
											</div>
										</div>	
									</div>	
									<div class="col-md-3">
										<p><b>Costo Recurso *</b></p>
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="form-line">
												<input type="number" name="txtCosto" class="form-control" v-model="editData.costoActivo"/>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p><b>Garantia (en Meses) *</b></p>
											<div class="form-line">
												<input type="number" min="1" max="56" name="txtGarantia" class="form-control" 
												placeholder="Defina en numeros los meses" v-model="editData.garantiames"/>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<p><b>Obsolecencia</b></p>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="material-icons">date_range</i>
											</span>
											<div class="form-line" >
												<input type="text" name="txtObsolecencia" class="form-control txtObsolecencia" 
												placeholder="Fecha de obsolencia" :value="editData.fecha_obsolescencia"/>
											</div>
										</div>
									</div>
								</div>
	
								<!-- Campos vehicular -->
								<div class="row-clearfix" v-show="editData.id_tipo_activo==1">
									<div class="col-md-6">
										<div class="form-group">
											<p><b>Num. de Placa</b></p>
											<div class="form-line">
												<input type="text" name="txtPlaca" class="form-control" 
												placeholder="Escriba el num. de placa" v-model="editData.placa"/>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<p><b>Tipo Vehiculo </b></p>
											<div class="form-line">
												<input type="text" name="txtTipoVehiculo" class="form-control" 
													placeholder="Escriba el tipo de vehiculo" v-model="editData.tipovehiculo"/>
											</div>
										</div>
									</div>
								</div>
								
									<!-- Campos de HUR -->
									<!-- campos exculusivamente no hay -->
								
									<!-- Campos de EAC -->
								<div class="row-clearfix" v-show="editData.id_tipo_activo==2">
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Serie evaporadora</b></p>
											<div class="form-line">
												<input type="text" name="txtSerieEvaporadora" class="form-control"
												v-model="editData.serieEvaporadora"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">	
										<div class="form-group">
											<p><b>Serie condensadora</b></p>
											<div class="form-line">
												<input type="text" name="txtSerieCondensadora" class="form-control"
												v-model="editData.serieCondensadora"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<p><b></b></p>
										<input type="checkbox" id="chkControlRemoto2" class="filled-in chk-col-deep-purple" name="chkControlRemoto" v-model="editData.chkControlRemoto"/>
										<label for="chkControlRemoto2">&iquest;Tiene control remoto?</label>
									</div>
								</div>
	
									<!-- Campos de HTC -->
								<div class="row-clearfix" v-show="editData.id_tipo_activo==3">
									<div class="col-md-4">
										<p><b>Fecha de Entrega</b></p>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="material-icons">date_range</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control text-center txtFechaEntrega"  name="txtFechaEntrega" 
												placeholder="Selecciona una fecha..." :value="editData.fechaEntregaMovil"/>
											</div>
										</div>	
									</div>
	
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Imei</b></p>
											<div class="form-line">
												<input type="number" name="txtImei" class="form-control" placeholder="Num. Imei" v-model="editData.imei"/>
											</div>
										</div>
									</div>
	
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Almacenamiento Externa</b></p>
											<div class="form-line">
												<input type="number" name="txtAlmacenamientoExterna" class="form-control" 
												placeholder="Almacenamiento Externo" v-model="editData.almacenamientoExterno"/>
											</div>
										</div>
									</div>
								</div>
	
								<!-- Campos de ECP -->
								<div class="row-clearfix" v-show="editData.id_tipo_activo==4">
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Tipo Equipo</b></p>
											<div class="form-line">
												<input type="text" name="txtTipoEquipo" class="form-control" v-model="editData.tipoequipo"/>
											</div>
										</div>
									</div>
	
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Tipo de Mem. Ram</b></p>
											<div class="form-line">
												<input type="text" name="txtTipoRam" class="form-control" v-model="editData.tipoMemoriaRam"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Capacidad Mem. Ram</b></p>
											<div class="form-line">
												<input type="number" name="txtCapMemRam" class="form-control" v-model="editData.capacidadMemoriaRam"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Tipo Procesador</b></p>
											<div class="form-line">
												<input type="text" name="txtTipoProcesador" class="form-control" v-model="editData.tipoProcesador"/>
											</div>
										</div>
									</div>
	
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Marca Procesador</b></p>
											<div class="form-line">
												<input type="text" name="txtMarcaProcesador" class="form-control" v-model="editData.marcaProcesador"/> 
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Capacidad Procesador</b></p>
											<div class="form-line">
												<input type="number" name="txtCapProcesador" class="form-control" v-model="editData.capProcesador"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Tipo HDD</b></p>
											<div class="form-line">
												<input type="text" name="txtTipoHDD" class="form-control" v-model="editData.tipoHDD"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Capacidad Int. HDD</b></p>
											<div class="form-line">
												<input type="number" name="txtCapIntHDD" class="form-control" v-model="editData.capIntHDD"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<p><b></b></p>
										<input type="checkbox" id="chkMonitor2" class="filled-in chk-col-deep-purple" name="2"
										v-model="editData.chkMonitor"/>
										<label for="chkMonitor2">&iquest;Tiene monitor?</label>
									</div>
								</div>
								<div class="row-clearfix" v-show="editData.id_tipo_activo==4">
									<div class="col-md-12">
									</div>
								</div>
								<div class="row-clearfix" v-show="editData.chkMonitor==true">
									<div class="col-md-3">
										<div class="form-group">
											<p><b>Tamaño</b></p>
											<div class="form-line">
												<input type="number" name="txtTamanioMonitor" class="form-control"
												v-model="editData.tamanioMonitor"/>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p><b>Color monitor</b></p>
											<div class="form-line">
												<input type="text" name="txtColorMonitor" class="form-control" v-model="editData.colorMonitor"/>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p><b>Modelo Monitor</b></p>
											<div class="form-line">
												<input type="text" name="txtModeloMonitor" class="form-control"
												v-model="editData.modeloMonitor"/>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p><b>Num. parte</b></p>
											<div class="form-line">
												<input type="text" name="txtNumParte" class="form-control" v-model="editData.numParte"/>
											</div>
										</div>
									</div>
	
								</div>
								<!-- End campos de ECP -->
	
								<div class="row-clearfix">
									<div class="col-md-12">
										<hr class="btn-secondary"/>
									</div>
								</div>
	
								<div class="row-clearfix">	
									<div class="col-md-4">
										<div class="form-group">
											<p><b>Periodo Mant. Estimado</b></p>
											<div class="form-line">
												<input type="number" name="txtPeridoMantenimiento" class="form-control" 
												placeholder="Periodo de mant. estimado en dias" v-model="editData.periodomantenimiento"/>
											</div>
										</div>
									</div>
									
									<div class="col-md-8">
										<div class="form-group" >	
											<p><b>Im&aacute;gen</b></p>							
											<div class="form-line">
												<input type="file" name="fichero" id="idFileActivo" class="form-control-file" multiple="multiple" disabled="true" />
													<!-- <input type="file" name="fichero" @change="onFileChange" class="form-control" multiple="multiple"/> -->
											</div>
										</div>
											<!-- <div v-else>
												<img :src="editData.fichero"/>
												<button class="btn-danger" @click="removeImage">Quitar Imagen</button>
											</div> -->
									</div>
								</div>
	
	
								<div class="row-clearfix">
									<div class="col-md-12 text-center">
										<hr class="btn-primary"/>
										<h4  class="text-primary">Asignacion de activo</h4>
									</div>
								</div>
								<div class="row-clearfix">
									<div class="col-md-4">
										<b>Empresa *</b>
										<div class="input-group">
											<select name="cmbEmpresa" id="cmbEmpresa" class="form-control show-tick cmbEmpresa" v-model="editData.id_empresa">
												<option value="default" selected="selected">Selecciona la empresa...</option>
												<option v-for="item in empresas" :value="item.id_empresa" >{{item.razon_social}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<b>Area *</b>
										<div class="input-group">	                            
											<select class="form-control show-tick cmbDepartamento" name="cmbDepartamento" id="cmbDepartamento" v-model="editData.id_departamento" data-live-search="true">
												<option value="default" selected="selected">Selecciona un Departamento...</option>
												<option v-for="item in departamento" :value="item.id_departamento">{{ item.nombre_departamento }}</option>
											</select>
										</div>
									</div>
	
									<div class="col-md-4">
										<b>Usuario </b>
										<div class="input-group">	                            
											<select class="form-control show-tick cmbUsuario" name="cmbUsuario" id="cmbUsuario" 
											v-model="editData.id_usuario" data-live-search="true">
												<option value="default" selected="selected">Selecciona un usuario...</option>
												<option v-for="item in usuario" :value="item.id_usuario">{{ item.nombre_completo }}</option>
											</select>
										</div>
									</div>
								</div>
	
								<div class="row clearfix">
									<div class="col-md-12">
										<p><b>Observaciones</b></p>
										<div class="form-line">
											<textarea rows="4"  name="txtObservaciones" class="form-control no-resize col-md-6" 
											placeholder="Escriba en que condiciones se encuentra" v-model="editData.observaciones"></textarea>
										</div>
									</div>
								</div>
							</div>

								<div class="modal-footer">
									<button onclick="cancel();" type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CANCELAR</button>
									<button type="submit" class="btn btn-primary waves-effect">CREAR</button>
								</div>
								
							</form>
						</div>
					</div>
			</div>

			<div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title">Historial de mantenimiento</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
						  <table id="table"
							data-toggle="table"
							data-height="299"
							data-url="json/data1.json">
							<thead>
							  <tr>
								<th data-field="id">ID</th>
								<th data-field="name">Item Name</th>
								<th data-field="price">Item Price</th>
							  </tr>
							</thead>
						  </table>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
			</div>

	</div>


</th:block>
<th:block th:fragment="script">

	<script th:src="@{/plugins/vue/vue.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/assets/js/activos.js}"></script>
	<!-- Wenzhixin DataTable -->
	<script th:src="@{/plugins/wenzhixin/bootstrap-table.js}"></script>
	<script th:src="@{/plugins/wenzhixin/extensions/export/tableExport.js}"></script>
	<script th:src="@{/plugins/wenzhixin/extensions/export/bootstrap-table-export.js}"></script>
	<script th:src="@{/plugins/wenzhixin/locale/bootstrap-table-es-MX.js}"></script>
	<script type="application/javascript" th:inline="javascript">

			$("#dtActivo").bootstrapTable({
			url					: [[@{/controlPanel/BienActivo/table}]],
			method				: 'post',
			contentType 		: 'application/x-www-form-urlencoded',
			sidePagination		: "server",
			pagination			: true,
			showColumns			: true,
			showToggle 			: true,
			showRefresh 		: true,
			search				: true,
			showExport			: true,
			striped				: true,
			pageSize 			: 10,
			exportTypes			: ["excel"],
			toolbar				: "#dtActivoToolBar",
			queryParams 		: function(params) {
										params[ [[${_csrf.parameterName}]] ] = [[${_csrf.token}]];
										params['txtBootstrapTableDesde'] = $('#txtBootstrapTableDesde').val();
										params['txtBootstrapTableHasta'] = $('#txtBootstrapTableHasta').val();
							        	return params;
		    }, onLoadSuccess :function(data){

			}
		});

		function edit(param){			
			NuevoActivo.editActivo(param);
		}

		function deleteAct(param){
			NuevoActivo.deleteActivo(param);
		}

		function accionesFormatter(value, row, index) {
			//urlDelete = [[@{/controlPanel/activos/}]] + row.id_activo_mobiliario + '/delete';
			urlEdit = [[@{/controlPanel/BienActivo/}]] + row.id_recurso_activo + '/edit';

		    return [
				'<a href="#" title="Editar" class="EditActivo" data-Edit="'+row.id_recurso_activo+'" data-toggle="modal" data-target="#modalEditActivo" onclick="edit('+row.id_recurso_activo+');" role="button">',
					'<i class="material-icons edit">edit</i>',
				'</a>',
				'<a href="#" title="Eliminar" class="deleteActivo" onclick="deleteAct('+row.id_recurso_activo+')">',
		        	'<i class="material-icons remove">delete</i>',
				'</a>',
				' ',
				'<a href="#" title="Historial" class="Historial" data-toggle="modal" data-target="#modalTable" role="button">',
					'<i class="material-icons format_list_numbered">format_list_numbered</i>',
				'</a>',
				'<a href="#" title="EnviarMantenimiento" class="Mantenimiento">',
				'<i class="material-icons build">build</i>',
				'</a>'
			].join(''); 
		}

		function estatusFormatter(value, row, index){
			var lblEstatus='';
			switch(row.estatus){
				case true:
					lblEstatus ='<a type="button" class="btn bg-green waves-effect" > Activo </a>';
					break;
				default:
					lblEstatus='<a type="button" class="btn bg-green waves-effect" > Desconocido </a>';
					break;
			}
			return lblEstatus;
		}


		$(function () {
		// VALIDADOR DE FORMULARIO
			$('#formActivo').validate({
		        rules: {
		            'txtNombre': {	required: true	},
		            'txtMarca': {	required: true	},
					'txtModelo':{	required: true	},
					'txtColor':{	required: true	},
					'txtSerie':{	required: true	},
					'txtObservaciones':{	required: true	},
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.form-group').append(error);
		        }
			});
			 
		});
		
		$(function () {
			//Datetimepicker plugin
		    $('.datetimepicker').bootstrapMaterialDatePicker({
				format: 'DD/MM/YYYY',
				lang:'es',
		        clearButton: true,
		        weekStart: 1,
		        time:false
		    });
		 });

	$('#txtFechaCompra').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false, todayBtn : true, todayHighlight: true});
	$('#txtObsolecencia').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false});
	$('#txtFechaEntrega').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false});
	// $('#txtFechaEntrega').bootstrapMaterialDatePicker('setDate', moment());
	$('.txtCosto').change(function(){
		$('.txtCosto').toFixed(2);
	});
	function cancel(){
		$('#formEditActivo')[0].reset();
			this.NuevoActivo.editData={};
			this.NuevoActivo.elegido="";
			// this.NuevoActivo.editData.nombre="";
			// this.NuevoActivo.editData.observaciones="";
			// this.NuevoActivo.editData.id_empresa='default';
	}
	$('#modalEditActivo').on('hidden.bs.modal',function(){
		cancel();
	});

	</script>

</th:block>