<th:block th:fragment="body">
	<div id="appCotizaciones">
		<div class="block-header">
			<h2>COTIZACIONES</h2>
		</div>
		
		<ol class="breadcrumb breadcrumb-bg-red">
			<li><a th:href="${ {_PATH_} + 'controlPanel/'}"><i class="material-icons">home</i> Inicio</a></li>
			<li class="active"><i class="material-icons">view_list</i> Cotizaciones</li>
		</ol>
		
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2>LISTA DE COTIZACIONES</h2>
					</div>
					
					<div class="body">
						<div class="row clearfix" th:if="${rolNuevaCotizacion}">
							<div class="col-md-4 col-md-offset-8 text-right">
								<a href="#" role="button" class="btn bg-purple waves-effect" data-toggle="modal" data-target="#modalNuevaCotizacion" v-on:click="loadModal">
									<i class="material-icons">add_circle</i> Nueva Cotizaci&oacute;n
								</a>
							</div>
						</div>
					
						<div class="row clearfix" id="dtCotizacionesToolBar" data-toolbar-align="left">
							<div class="col-xs-3 col-sm-3 col-md-3">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">date_range</i>
									</span>
									<div class="form-line" id='groupDesde'>
										<input type="text" class="form-control date text-center datetimepicker" id="txtBootstrapTableDesde" name="txtBootstrapTableDesde" placeholder="Desde..." />
									</div>
								</div>
							</div>
							
							<div class="col-xs-3 col-sm-3 col-md-3">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">date_range</i>
									</span>
									<div class="form-line" id='groupHasta'>
										<input type="text" class="form-control date text-center datetimepicker" id="txtBootstrapTableHasta" name="txtBootstrapTableHasta" placeholder="Hasta..." />
									</div>
								</div>
							</div>							
						</div>
						
						<div class="table-responsive">
							<div class="">						
								<table id="dtCotizaciones" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th data-width="10%" data-field="idCotizacion" data-halign="left" data-align="center">ID</th>
											<th data-width="20%" data-formatter="accionesFormatter" data-align="center">Acciones</th>
											<th data-width="20%" data-field="folio" data-halign="center">Folio</th>
											<th data-width="20%" data-formatter="estatusFormatter" data-halign="center" data-align="center">Estatus</th>
											<th data-width="40%" data-field="concepto" data-halign="left">Concepto</th>
																				
											<th data-width="20%" data-field="subtotal" data-halign="left" data-align="right">Subtotal</th>
											<th data-width="20%" data-field="iva" data-halign="left" data-align="right" data-visible="false">Iva</th>
											<th data-width="20%" data-field="total" data-halign="left" data-align="right">Total</th>
											
											<th data-width="25%" data-field="requisicion_folio" data-halign="center" data-visible="false">Folio Requisici&oacute;n</th>
											<th data-width="30%" data-field="usuario" data-halign="center">Usuario</th>
											<th data-width="30%" data-field="cliente" data-halign="center">Cliente</th>
											<th data-width="30%" data-field="ejecutivo" data-halign="center">Ejecutivo</th>
											
											<th data-width="150px" data-field="creacionFecha" data-halign="center">Creaci&oacute;n Fecha</th>														
										</tr>
									</thead>
								</table>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- NUEVA COTIZACION -->
		<div class="modal fade" id="modalNuevaCotizacion" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<form id="formCotizacion" v-on:submit.prevent="createCotizacion" method="POST" role="form">
						<div class="modal-header">
							<h4 class="modal-title">Nueva Cotizaci&oacute;n</h4>
						</div>
						
						<div class="modal-body">
							<div class="row clearfix">
								<div class="col-md-4" v-if="rolcotizacionAdmin">
									<p><b>Usuario *</b></p>
									<select class="form-control show-tick cmbUsuario" name="cmbUsuario" id="cmbUsuario" v-model="newCotizacion.id_usuario" data-live-search="true" >
										<option value="default" selected="selected">Selecciona un Usuario...</option>
										<option v-for="usuario in usuarios" :value="usuario.id_usuario">{{ usuario.nombre_completo }}</option>
									</select>
								</div>
								
								<div class="col-md-4">
									<p><b>Empresa *</b></p>
									<select class="form-control show-tick cmbEmpresa" name="cmbEmpresa" id="cmbEmpresa" v-model="newCotizacion.id_empresa" >
										<option value="default" selected="selected">Selecciona una Empresa...</option>
										<option v-for="empresa in empresas" :value="empresa.id_empresa">{{ empresa.razon_social }}</option>
									</select>
								</div>
								
								<div class="col-md-4">
									<div class="form-group">
										<p><b>Concepto *</b></p>
										<div class="form-line">
											<input type="text" name="txtConcepto" class="form-control" required="required" v-model="newCotizacion.concepto" />
										</div>
									</div>
								</div>
							</div>
							
							<div class="row clearfix">
								<div class="col-md-4">
									<b>Fecha de solicitud *</b>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">date_range</i>
										</span>
										<div class="form-line">
											<input type="text" class="form-control solicitud-fecha text-center" id="txtSolicitudFecha" name="txtSolicitudFecha" readonly="readonly" />
										</div>
									</div>
								</div>
								
								<div class="col-md-4">
									<b>Cliente *</b>
									<div class="input-group">								
										<select class="form-control show-tick cmbCliente" name="cmbCliente" id="cmbCliente" v-model="newCotizacion.id_cliente" data-live-search="true" >
											<option value="default" selected="selected">Selecciona un Cliente...</option>
											<option v-for="item in clientes" :value="item.id_cliente">{{ item.cliente }}</option>
										</select>
									</div>	                           
								</div>
								
								<div class="col-md-4">
									<b>Contacto *</b>
									<div class="input-group">	                            
										<select class="form-control show-tick cmbClienteContacto" name="cmbClienteContacto" id="cmbClienteContacto" v-model="newCotizacion.id_contacto">
											<option value="default" selected="selected">Selecciona un Contacto...</option>
											<option v-for="item in contactos" :value="item.id_contacto" :data-subtext="item.correo">{{ item.contacto }}</option>
										</select>
									</div>
								</div>
							</div>
							
							<div class="row clearfix">
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Ubicaci&oacute;n *</b></p>
										<div class="form-line">
											<input type="text" name="txtUbicacion" class="form-control" v-model="newCotizacion.ubicacion" required="required" />
										</div>
									</div>
								</div>
								
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Lugar de entrega *</b></p>
										<div class="form-line">
											<input type="text" name="txtLugarEntrega" class="form-control" v-model="newCotizacion.entrega" required="required" />
										</div>
									</div>
								</div>
								
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Tiempo de entrega *</b></p>
										<div class="form-line">
											<input type="text" name="txtTiempoEntrega" class="form-control" placeholder="D&iacute;as h&aacute;biles" v-model="newCotizacion.tiempo_entrega" required="required" />
										</div>
									</div>
								</div>
								
								<div class="col-md-3">
									<div class="form-group">
										<p><b>Vigencia de precios *</b></p>
										<div class="form-line">
											<input type="text" name="txtVigenciaPrecios" class="form-control" placeholder="D&iacute;as h&aacute;biles" v-model="newCotizacion.vigencia_precios" required="required" />
										</div>
									</div>
								</div>
							</div>
						
							<div class="row clearfix">
								<div class="col-md-3">
									<p><b>Moneda *</b></p>
									<select class="form-control show-tick cmbMoneda" name="cmbMoneda" id="cmbMoneda" v-model="newCotizacion.id_moneda" data-live-search="true">
											<option v-for="item in monedas" :value="item.id_moneda">{{ item.moneda }}</option>
									</select>
								</div>
								
								<div class="col-md-3">
									<p><b>Forma de pago *</b></p>
									<select class="form-control show-tick cmbFormaPago" name="cmbFormaPago" id="cmbFormaPago" v-model="newCotizacion.id_forma_pago" data-live-search="true">
											<option v-for="item in formasPagos" :value="item.id_forma_pago">{{ item.forma_pago }}</option>
									</select>
								</div>
								
								<div class="col-md-2">
									<div class="form-group">
										<p><b>D&iacute;as de cr&eacute;dito</b></p>
										<div class="form-line">
											<input type="text" name="txtDiasCredito" class="form-control" placeholder="e.g. 3 d&iacute;as" v-model="newCotizacion.dias_credito" required="required" />
										</div>
									</div>
								</div>							
							</div>
							
							<hr />
							<div style="margin-bottom: 30px;">						
								<h4>Venta e Implementaci&oacute;n</h4>
							</div>
							
							<div class="row clearfix">
								<div class="col-md-4">
									<p><b>Vendedor *</b></p>
									<select class="form-control show-tick cmbVendedor" name="cmbVendedor" id="cmbVendedor" v-model="newCotizacion.id_usuario_vendedor" data-live-search="true" disabled="disabled">
										<option value="default" selected="selected">Selecciona un Vendedor...</option>
										<option v-for="usuario in usuarios" :value="usuario.id_usuario">{{ usuario.nombre_completo }}</option>
									</select>
								</div>
								
								<div class="col-md-2">
									<input type="checkbox" id="chkVentaCompartida" name="chkVentaCompartida" value="true" class="chk-col-red" v-model="newCotizacion.chkVenta" />
									<label for="chkVentaCompartida">&iquest;VENTA COMPARTIDA?</label>
								</div>
								
								<div class="col-md-2">
									<input type="checkbox" id="chkImplementacion" name="chkImplementacion" value="true" class="chk-col-purple" v-model="newCotizacion.chkImplementa" />
									<label for="chkImplementacion">&iquest;REQUIERE IMPLEMENTACI&Oacute;N?</label>
								</div>
								
								<div class="col-md-4">
									<p><b>Implementador</b></p>
									<select class="form-control show-tick cmbImplementador" name="cmbImplementador" id="cmbImplementador" v-model="newCotizacion.id_usuario_implementador" data-live-search="true" disabled="disabled" >
										<option value="default" selected="selected">Selecciona un Implementador...</option>
										<option v-for="usuario in grupos" :value="usuario.id_usuario" :data-subtext="usuario.grupo">{{ usuario.nombre_completo }}</option>
									</select>
								</div>
							</div>
							
							<hr />
							<div style="margin-bottom: 30px;">
								<h4>Tipo de Cotizaci&oacute;n</h4>
							</div>
							
							<div class="row clearfix">
								<div class="col-md-6">
									<input name="rdTipoCotizacion" type="radio" id="rdMaster" class="with-gap radio-col-red" value="master" v-model="newCotizacion.rdTipoCotizacion" />
									<label for="rdMaster"><strong>Maestra</strong> (Ej. Cotizaci&oacute;n principal de una p&oacute;liza)</label>
								</div>

								<div class="col-md-6">
									<input name="rdTipoCotizacion" type="radio" id="rdRenta" class="with-gap radio-col-purple" value="renta" v-model="newCotizacion.rdTipoCotizacion" />
									<label for="rdRenta"><strong>Renta</strong> (Ej. Cotizaci&oacute;n mensual de una p&oacute;liza)</label>
								</div>
							</div>

							<div class="row clearfix">
								<div class="col-md-6">
									<input name="rdTipoCotizacion" type="radio" id="rdNormal" class="with-gap radio-col-blue" value="normal" checked="checked" v-model="newCotizacion.rdTipoCotizacion" />
									<label for="rdNormal"><strong>Normal</strong> (Ej. Cualquier tipo de cotizaci&oacute;n que no sea p&oacute;liza)</label>
								</div>
							
								<div class="col-md-6">
									<input type="radio" name="rdTipoCotizacion" id="rdBoom" class="with-gap radio-col-red" value="boom" v-model="newCotizacion.rdTipoCotizacion" />
									<label for="rdBoom"><strong>BOM</strong>(Ej. Cotizaci&oacute;n mayor. Principal de una p&oacute;liza)</label>
								</div>
							</div>
							
							<hr />
							<div style="margin-bottom: 30px;">						
								<h4>Informaci&oacute;n Adicional</h4>
							</div>
						
							<div class="row clearfix">
								<div class="col-md-6">
									<div class="form-group">
										<p><b>Condiciones de pago</b></p>
										<div class="form-line">
											<textarea rows="4" name="txtCondicionesPago" class="form-control no-resize" v-model="newCotizacion.condiciones"></textarea>
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<p><b>Observaciones</b></p>
										<div class="form-line">
											<textarea rows="4" name="txtObservaciones" class="form-control no-resize" v-model="newCotizacion.observaciones"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CANCELAR</button>
							<button type="submit" class="btn btn-primary waves-effect">CREAR</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<!-- ESTATUS COTIZACION MODAL -->
		<div class="modal fade" id="popUpEstatus" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<form id="formEstatus" th:action="${ {_PATH_} + 'controlPanel/cotizaciones/modificar-estatus'}" th:method="POST" enctype="multipart/form-data">
						<div class="modal-header">
							<h4 class="modal-title">Modificar Estatus de Cotizaci&oacute;n</h4>
						</div>
						<div class="modal-body">                	
							<input type="hidden" id="hddIdCotizacion" name="hddIdCotizacion" value="" />
							<div class="row m-t-20 clearfix">
								<div class="col-md-6">
									<div class="form-group">
										<p><b>Cotizaci&oacute;n</b></p>
										<div class="form-line">
											<input type="text" id="txtCotizacion" class="form-control" readonly="readonly" />
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<p><b>Estatus *</b></p>					
									<select class="form-control show-tick" name="cmbEstatus" id="cmbEstatus" data-live-search="true" >
										<th:block th:each="itemEstatus : ${lstCotizacionEstatus}">
											<th:block th:if="${rolCotizacionCobranza}">	                            		
												<option th:value="${itemEstatus.idCotizacionEstatus}" th:text="${itemEstatus.cotizacionEstatus}"></option>
											</th:block>
											
											<th:block th:unless="${rolCotizacionCobranza}">
												<th:block th:if="${itemEstatus.idCotizacionEstatus != 3 and itemEstatus.idCotizacionEstatus != 4 and itemEstatus.idCotizacionEstatus != 6}">
													<option th:value="${itemEstatus.idCotizacionEstatus}" th:text="${itemEstatus.cotizacionEstatus}"></option>
												</th:block>
											</th:block>	                          	
										</th:block>
									</select>
								</div>	
							</div>
							
							<hr />
							
							<div id="divFactura" class="row clearfix">
								<div class="col-md-6">
									<b>Factura/fecha</b>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">date_range</i>
										</span>
										<div class="form-line">
											<input type="text" class="form-control text-center" id="txtFacturaFecha" name="txtFacturaFecha" />
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<b>Factura/n&uacute;mero</b>
										<div class="form-line">
											<input type="text" id="txtFacturaNumero" name="txtFacturaNumero" class="form-control" />
										</div>
									</div>
								</div>	
							</div>
							
							<div id="divPago" class=" hide">
								<div class="row clearfix">
									<div class="col-md-6">
										<b>Fecha/Pago</b>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="material-icons">date_range</i>
											</span>
											<div class="form-line">
												<input type="text" class="form-control text-center required" id="txtPagoFecha" name="txtPagoFecha" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<b>Pago/referencia</b>
											<div class="form-line">
												<input type="text" id="txtPagoReferencia" name="txtPagoReferencia" class="form-control required" />
											</div>
										</div>
									</div>

								</div>

								<div class="row clearfix">
									<div class="col-md-12 col-xs-12">

									</div>
								</div>

								<div class="col-md-12">
									<input type="checkbox" id="chkComprobante" name="chkComprobante" value="true" class="chk-col-purple" />
									<label for="chkComprobante">ESTA COTIZACION TIENE COMPROBANTE DE PAGO ?</label>
								</div>

								<div class="row clearfix" id="divComprobante">
									<div class="row clearfix">	
										<div class="col-md-12">
											<div class="form-group">
												<p class="text-primary font-weight-bold h5 text-center"><b>Registro de comprobante de pago *</b></p> 
											</div>
										</div>
									</div>
																							
									<div class="row clearfix">
										<!-- <div class="col-md-6">
											<div class="form-group">
												<b>Folio de Factura</b>
												<div class="form-line">
													<input id="txtFolio" type="text" name="txtFolio" class="form-control" />
												</div>
											</div>
										</div> -->
											
										<div class="col-md-6">
											<b>Importe</b>
											<div class="input-group">
												<span class="input-group-addon">$</span>
												<div class="form-line">
													<input type="text" id="txtImporte" name="txtImporte" class="form-control required" />
												</div>                                    
											</div>
										</div>
									<!-- </div>
	
									<div class="row clearfix"> -->
										<!-- <div class="col-md-6">
											<b>Proveedor / Cliente</b>
											<div class="input-group">
												<div class="form-line">
													<input id="txtProveedor" type="text" name="txtProveedor" class="form-control"/>
												</div>
											</div>
										</div> -->
											
										<div class="col-md-6">
											<b>Banco</b>
											<div class="form-group">
												<div class="form-line">
													<input id="txtBanco" type="text" name="txtBanco" class="form-control required" />
												</div>
											</div>
										</div>
									</div>
																	
									<div class="row clearfix">
										<div class="col-md-6">
											<b>Fecha Ingreso</b>
											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">date_range</i>
												</span>
												<div class="form-line">
													<input type="text" class="form-control text-center required"  id="txtFechaVencimiento" name="txtFechaVencimiento" />
												</div>
											</div>
										</div>
											
										<div class="col-md-6">
											<b>Referencia de Pago</b>
											<div class="form-group">
												<div class="form-line">
													<input id="txtReferenciaPago" type="text" name="txtReferenciaPago" class="form-control required" />
												</div>
											</div>
										</div>
									</div>
									
									<div class="row clearfix">
										<div class="col-md-12">
											<p><b>Observaciones *</b></p>
											<div class="form-group">
												<div class="form-line">
													<input id="txtDescripcion" type="text" name="txtDescripcion" class="form-control"/>
												</div>
											</div>
										</div>
									</div>
															
									<div class="row clearfix">
										<div class="col-md-12">
											<p><b>Fichero</b></p>
											<div class="form-group files color">
												<input id="fichero" type="file" name="fichero" class="form-control-drop" />
											</div>
										</div>
									</div>
									
								</div>
								
							

								<div class="col-md-12 text-center">
									<p>Nota : no olvidar subir el audio de calidad de servicio en sus sig. cotizaciones para validar sus cotizaciónes</p>	
								</div>
								
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CERRAR</button>
							<button id="btnCambioEstatus" type="submit" class="btn btn-primary waves-effect">ACTUALIZAR</button>
						</div>
					</form>
				</div>
			</div>
		</div>


		<!-- LLAMADA DE CALIDAD DE SERVICIO MODAL -->
		<div class="modal fade" id="modalCalidad" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<form id="formCalidad" v-on:submit.prevent="createCalidad"  method="POST" enctype="multipart/form-data" role="form">
						<div class="modal-header">
							<h4 class="modal-title text-uppercase">Registro de Llamada de calidad</h4>
						</div>
						<div class="modal-body">
							<input type="hidden" :value="dataCotizacion.idCotizacion" name="idCotizacion"/>
							<div class="row clearfix">
								<div class="col-md-12">
									<div class="col-md-4 col-sm-6">
										<p id="nombreEmpresa"><h4 class="text-primary">Empresa</h4></p>
										<div class="form-group">
											<label class="custom-control-label" for="nombreEmpresa" v-text="dataCotizacion.empresa"></label>
										</div>
									</div>
									<div class="col-md-4 col-sm-6">
										<p id="nombrevendedor"><h4 class="text-primary">Vendedor</h4></p>
										<div class="form-group">
											<label class="custom-control-label" for="nombrevendedor" v-text="dataCotizacion.usuarioVendedor"></label>
										</div>
									</div>
									<div class="col-md-4 col-sm-6">
										<p id="numeroCotizacion"><h4 class="text-primary">Cotización</h4></p>
										<div class="form-group">
											<label class="custom-control-label" for="numeroCotizacion" v-text="dataCotizacion.folio"></label>
										</div>
									</div>
									
									<div class="col-md-4 col-sm-6">
										<p id="conceptoCotizacion"><h4 class="text-primary">Concepto</h4></p>
										<div class="form-group">
											<label class="custom-control-label" for="conceptoCotizacion" v-text="dataCotizacion.concepto"></label>
										</div>
									</div>
									
									<div class="col-md-4 col-sm-6">
										<p id="nombreCliente"><h4 class="text-primary">Cliente</h4></p>
										<div class="form-group">
											<label class="custom-control-label" for="nombreCliente" v-text="dataCotizacion.cliente"></label>
										</div>
									</div>
									
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12">
									<hr class="btn-secondary"/>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-12">
									<b>Fecha/Hora Inicio *</b>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">date_range</i>
										</span>
										<div class="form-line">
											<input type="text" class="form-control text-center" id="txtFechaHoraLlamada" name="txtFechaHoraLlamada"/>
										</div>
									</div>				
								</div>
										
								<div class="col-md-12">
									<div class="form-group files color">
										<p><b>Audio de la llamada de calidad *</b></p>
										<input id="ficheroCalidad" type="file" name="ficheroCalidad" class="form-control-drop"/>
									</div>
								</div>
											
								<div class="col-md-12">
									<div class="form-group">
										<p><b>Descripción de la llamada*</b></p>
										<div class="form-line">
											<textarea rows="4" name="txtTranscripcion" class="form-control no-resize" ></textarea>
										</div>
									</div>
								</div>
								
								<!-- Check if make call service quality -->
						
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="custom-control custom-radio">
											<input type="radio" id="customRadio1" name="rdCalidad" class="custom-control-input" value="true"/>
											<label class="custom-control-label" for="customRadio1">EL EJECUTIVO REALIZO LLAMADA DE CALIDAD</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="custom-control custom-radio">
											<input type="radio" id="customRadio2" name="rdCalidad" class="custom-control-input" value="false" />
											<label class="custom-control-label" for="customRadio2">EL EJECUTIVO NO REALIZO LLAMADA DE CALIDAD</label>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger waves-effect text-uppercase" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary waves-effect text-uppercase">Guardar llamada</button>
						</div>		
					</form>
				</div>
			</div>
		</div>


	</div>
</th:block>

<th:block th:fragment="script">
	<script th:src="@{/plugins/vue/vue.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/assets/js/script.js}"></script>
	<!-- <script th:src="@{/assets/js/calidad.js}"></script> -->


	<!-- Wenzhixin DataTable -->
	<script th:src="@{/plugins/wenzhixin/bootstrap-table.js}"></script>
	<script th:src="@{/plugins/wenzhixin/extensions/export/tableExport.js}"></script>
	<script th:src="@{/plugins/wenzhixin/extensions/export/bootstrap-table-export.js}"></script>
	<script th:src="@{/plugins/wenzhixin/locale/bootstrap-table-es-MX.js}"></script>
	<script type="application/javascript" th:inline="javascript">
	
		var rolExpediente = [[${rolCotizacionExpediente}]];
		var rolCotizacionAdmin = [[${rolCotizacionAdmin}]];
		var idUsuario = [[${_USER_.getIdUsuario()}]];
	
		$(document).ready(function() {

			app3.usuarioActivo = idUsuario;
			app3.rolcotizacionAdmin = rolCotizacionAdmin;

			$("#dtCotizaciones").bootstrapTable({
				url					: [[@{/controlPanel/cotizaciones/table}]],
				method				: 'post',
				contentType 		: 'application/x-www-form-urlencoded',
				sidePagination		: "server",
				pagination			: true,
				showColumns			: true,
				showToggle 			: true,
				showRefresh 		: true,
				search				: true,
				searchSize			: 40,
				showExport			: true,
				striped				: true,
				pageSize 			: 50,
				pageList			: [100, 500, 1000, 5000],
				exportTypes			: ["excel"],
				toolbar				: "#dtCotizacionesToolBar",
				queryParams 		: function(params) {
											params[ [[${_csrf.parameterName}]] ] = [[${_csrf.token}]];
											params['txtBootstrapTableDesde'] = $('#txtBootstrapTableDesde').val();
											params['txtBootstrapTableHasta'] = $('#txtBootstrapTableHasta').val();
								        	return params;
			    						},
			    onLoadSuccess		: function(data) {
			    	$(".clone-cotizacion").click(function() {
						var idCotizacion = $(this).attr('data-cotizacion');
						swal({
							title	: "Clonaci&oacute;n de cotizaci&oacute;n",
							text	: "La cotizacion se duplicara en el sistema.",
							type	: "warning",
							showCancelButton: true,
							cancelButtonText: 'Cancelar',
							confirmButtonText: 'Clonar',
						}).then((result) => {
							if(result) {
								
								$.ajax({
									url			: [[@{/controlPanel/cotizaciones/}]] + idCotizacion + '/clone',
									data		: {
													idCotizacion : idCotizacion, 
													[[${_csrf.parameterName}]] : [[${_csrf.token}]]
									},							        
									dataType	: 'json',
									type		: "POST",
									success		: function(data) {
										if(data.respuesta) {				
											$("#dtCotizaciones").bootstrapTable('refresh');
											swal(data.titulo, data.mensaje,'success');
										}
									},
									error		: function(e) {
										console.log(e);										
									}
								});																													
							}
						}).catch(swal.noop);
					});
			    }
			});
			
			$('#cmbEstatus').change(function() {
				var value = $(this).val();
				
				switch(value) {
					case "1":
					case "2":
					case "5":
					case "6":
						$('#divFactura').addClass('hide');
						$('#divPago').addClass('hide');
						$('#txtFacturaFecha').attr('disabled', true);
						$('#txtPagoFecha').attr('disabled', true);
						$('#txtFacturaNumero').attr('disabled', true);
						$('#txtPagoReferencia').attr('disabled', true);
						
						// $('#txtFolio').attr('disabled', true);
						// $('#txtReferenciaPago').attr('disabled', true);
						// $('#txtImporte').attr('disabled', true);

						$('#divComprobante').addClass('hide');
						// $('#txtProveedor').attr('disabled', true);
						// $('#txtBanco').attr('disabled', true);
						// $('#txtFechaVencimiento').attr('disabled', true);
						// $('#txtDescripcion').attr('disabled', true);
						// $('#fichero').attr('disabled', true);
						
						break;
						
					case "3":		
						$('#divFactura').removeClass('hide');
						$('#divPago').addClass('hide');
						$('#txtPagoFecha').attr('disabled', true);
						$('#txtFacturaFecha').attr('disabled', false);
						$('#txtFacturaNumero').attr('disabled', false);
						$('#txtPagoReferencia').attr('disabled', true);

						$('#divComprobante').addClass('hide');
						// $('#txtFolio').attr('disabled', true);
						// $('#txtReferenciaPago').attr('disabled', true);
						// $('#txtImporte').attr('disabled', true);
						// $('#txtProveedor').attr('disabled', true);
						// $('#txtBanco').attr('disabled', true);
						// $('#txtFechaVencimiento').attr('disabled', true);
						// $('#txtDescripcion').attr('disabled', true);
						// $('#fichero').attr('disabled', true);

						break;
						
					case "4":
						$('#divFactura').removeClass('hide');
						$('#divPago').removeClass('hide');
						$('#txtFacturaFecha').attr('disabled', false);
						$('#txtPagoFecha').attr('disabled', false);
						$('#txtFacturaNumero').attr('disabled', false);
						$('#txtPagoReferencia').attr('disabled', false);

						$('#divComprobante').addClass('hide');

						break;
				}
			});

			$('#chkComprobante').change(function() {
				if(this.checked) {
					$('#divComprobante').removeClass('hide');
				}else{
					$('#divComprobante').addClass('hide');
				}
			});
			
			$('#formEstatus').submit(function(e){
				e.preventDefault();
				// var formData = $('#formEstatus').serialize();
				// var formData = $('#formEstatus').serialize();

				var formData = new FormData($('#formEstatus')[0]);
				
				$.ajax({
					url					: $('#formEstatus').attr('action'),
					enctype				: 'multipart/form-data',
					data				: formData,
					type				: "POST",
					dataType			: 'json',
					async				: false,
					processData			: false,
					contentType			: false,
					cache				: false,
					success				: function(data) {
						if(data.respuesta) {
							swal(data.titulo, data.mensaje, 'success');
							$("#dtCotizaciones").bootstrapTable('refresh');
							$('#popUpEstatus').modal('hide');
						} else{
							$('#btnCambioEstatus').removeClass('disabled');
							swal('Error!', 'Ocurrio un error al modificar el estatus, verifique su informacion.', 'error');
						}
					},
					error				: function(e) {
						console.log(e);
					}
				});
			  });
			  
			$('#txtFechaVencimiento').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', weekStart : 1, lang:'es', clearButton: false, time:false});
			
			//DATEPICKER
			$('.solicitud-fecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', weekStart : 1, lang: 'es', clearButton: false, time:false, minDate : new Date()});
			$('.solicitud-fecha').bootstrapMaterialDatePicker('setDate', moment());

			//DATEPICKER FECHA HORA DE LLAMADA DE CALIDAD
			$('#txtFechaHoraLlamada').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY HH:mm', lang: 'es', weekStart : 1, clearButton: true, time:true});

			$('#chkVentaCompartida').on('change', function() {				
				if($(this).prop('checked')) {
					$('#cmbVendedor').prop('disabled', false);
					$('#cmbVendedor').selectpicker('refresh');
				} else {
					$('#cmbVendedor').prop('disabled', true);
					$('#cmbVendedor').selectpicker('refresh');
				}
			});
			
			
			$('#chkImplementacion').on('change', function() {				
				if($(this).prop('checked')) {
					$('#cmbImplementador').prop('disabled', false);
					$('#cmbImplementador').selectpicker('refresh');
				} else {
					$('#cmbImplementador').prop('disabled', true);
					$('#cmbImplementador').selectpicker('refresh');
				}
			});
		});
		
		function createCalidad(idCotizacion){			
			app3.obtenerCotizacion(idCotizacion);
		}

		function accionesFormatter(value, row, index) {
			
			urlEdit = [[@{/controlPanel/cotizaciones/}]] + row.idCotizacion + '/edit';
			urlPartidas = [[@{/controlPanel/cotizaciones/}]] + row.idCotizacion + '/partidas';
			urlPdf = [[@{/controlPanel/cotizaciones/}]] + row.idCotizacion + '/pdf';
			urlFicheros = [[@{/controlPanel/cotizaciones/}]] + row.idCotizacion + '/ficheros';
			urlOrdenes = [[@{/controlPanel/cotizaciones/}]] + row.idCotizacion + '/ordenesServicios';
			urlEntregas = [[@{/controlPanel/entregas/crear/}]]+ row.idCotizacion ;
			/*Validar que ya tenga realizada una llamada de calidad*/
			var idCotizacion = row.idCotizacion;
			var permisoEntrega = ([[${rolEntrega}]] == true || [[${rolEntregaAdmin}]] == true) ? '' : 'hidden';
			var permisoCalidad = ([[${rolCalidad}]]) == true ? '' : 'hidden';
			if(row.paseCalidad ){
				if(row.calidad > 0 || row.boolCalidad){
					p_onclick=""
					target="false"
					togle="false"
					icon="library_music",
					title="Revisar llamada de Calidad"
					if(rolExpediente){
						href=urlFicheros;
					}else{
						href="#";
					}
				}else{
					icon="call"
					title="Registrar llamada de calidad"
					p_onclick='createCalidad('+idCotizacion+')';
					togle="modal";
					target="#modalCalidad";
					href="#";
				}
			}else{
				icon=""
				title=""
				p_onclick='';
				togle="";
				target="";
				href="";
				oculto :"none"
			}
			/*Fin de la validacion*/
			/*Los valores previamente definidos, se usa para hacer dinamica la funcionalidad de registro de llamada de calidad*/
			if(row.boolNormal){
			if(row.idEstatus == 1){
				return [
					'<a href="' + urlEdit + '" title="Editar">',
						'<i class="material-icons">mode_edit</i>',
					'</a>',
					'<a href="#" class="clone-cotizacion" data-cotizacion="'+ row.idCotizacion +'" title="Clonar cotizaci&oacute;n">',
						'<i class="material-icons">flip_to_front</i>',
					'</a>',
					'<a href="' + urlPartidas + '" title="Partidas">',
						'<i class="material-icons">format_list_numbered</i>',
					'</a>',
					'<a href="' + urlOrdenes + '" title="Ordenes Servicios">',
						'<i class="material-icons">assignment_turned_in</i>',
					'</a>',
					'<a href="' + ((rolExpediente)?urlFicheros:'#') + '" title="Ficheros">',
						'<i style="' + ((rolExpediente)?'':'color:grey') + '" class="material-icons">archive</i>',
					'</a>',
					'<a target="_blank" href="' + urlPdf + '" title="Generar PDF">',
						'<i class="material-icons">print</i>',
					'</a>'
				].join(' ');
			}
			
			if(row.idEstatus == 4 || row.idEstatus == 2 || row.idEstatus == 3 ){
				return [
					'<a href="' + urlEdit + '" title="Editar">',
						'<i class="material-icons">mode_edit</i>',
					'</a>',
					'<a href="#" class="clone-cotizacion" data-cotizacion="'+ row.idCotizacion +'" title="Clonar cotizaci&oacute;n">',
						'<i class="material-icons">flip_to_front</i>',
					'</a>',
					'<a href="' + urlPartidas + '" title="Partidas">',
						'<i class="material-icons">format_list_numbered</i>',
					'</a>',
					'<a href="' + urlOrdenes + '" title="Ordenes Servicios">',
						'<i class="material-icons">assignment_turned_in</i>',
					'</a>',
					'<a href="' + ((rolExpediente)?urlFicheros:'#') + '" title="Ficheros">',
						'<i style="' + ((rolExpediente)?'':'color:grey') + '" class="material-icons">archive</i>',
					'</a>',
					
					'<a target="_blank" href="' + urlPdf + '" title="Generar PDF">',
						'<i class="material-icons">print</i>',
					'</a>',
					'<a href="'+href+'" title="'+title+'" class="calidad '+permisoCalidad+'" data-toggle="'+togle+'" data-target="'+target+'" onclick="'+p_onclick+'" role="button">',
						'<i class="material-icons +'+icon+'" style="color: green;">'+icon+'</i>',
					'</a>',
					'<a href="'+urlEntregas+'" title="Entrega de materiales" class="'+permisoEntrega+'">',
						'<i class="material-icons">layers</i>',
					'</a>'
				].join(' ');
			}
		
			if(row.idEstatus==5 || row.idEstatus==6){
				return [
					'<a href="' + urlEdit + '" title="Editar">',
						'<i class="material-icons">mode_edit</i>',
					'</a>',
					'<a href="#" class="clone-cotizacion" data-cotizacion="'+ row.idCotizacion +'" title="Clonar cotizaci&oacute;n">',
						'<i class="material-icons">flip_to_front</i>',
					'</a>',
					'<a href="' + urlPartidas + '" title="Partidas">',
						'<i class="material-icons">format_list_numbered</i>',
					'</a>',
					'<a href="' + urlOrdenes + '" title="Ordenes Servicios">',
						'<i class="material-icons">assignment_turned_in</i>',
					'</a>',
					'<a href="' + ((rolExpediente)?urlFicheros:'#') + '" title="Ficheros">',
						'<i style="' + ((rolExpediente)?'':'color:grey') + '" class="material-icons">archive</i>',
					'</a>',
					'<a target="_blank" href="' + urlPdf + '" title="Generar PDF">',
						'<i class="material-icons">print</i>',
					'</a>'
				].join(' ');
			}
			
			}else if (row.boolBoom || row.boolMaestra || row.boolRenta ) {
				if(row.idEstatus == 1 || row.idEstatus == 2){
				return [
					'<a href="' + urlEdit + '" title="Editar">',
						'<i class="material-icons">mode_edit</i>',
					'</a>',
					'<a href="#" class="clone-cotizacion" data-cotizacion="'+ row.idCotizacion +'" title="Clonar cotizaci&oacute;n">',
						'<i class="material-icons">flip_to_front</i>',
					'</a>',
					'<a href="' + urlPartidas + '" title="Partidas">',
						'<i class="material-icons">format_list_numbered</i>',
					'</a>',
					'<a target="_blank" href="' + urlPdf + '" title="Generar PDF">',
						'<i class="material-icons">print</i>',
					'</a>'
				].join(' ');
			}
			
			if(row.idEstatus == 4 || row.idEstatus == 2 || row.idEstatus == 3 ){
				return [
					'<a href="' + urlEdit + '" title="Editar">',
						'<i class="material-icons">mode_edit</i>',
					'</a>',
					'<a href="#" class="clone-cotizacion" data-cotizacion="'+ row.idCotizacion +'" title="Clonar cotizaci&oacute;n">',
						'<i class="material-icons">flip_to_front</i>',
					'</a>',
					'<a href="' + urlPartidas + '" title="Partidas">',
						'<i class="material-icons">format_list_numbered</i>',
					'</a>',				
					'<a target="_blank" href="' + urlPdf + '" title="Generar PDF">',
						'<i class="material-icons">print</i>',
					'</a>'
				].join(' ');
			}
		
			if(row.idEstatus==5 || row.idEstatus==6){
				return [
					'<a href="' + urlEdit + '" title="Editar">',
						'<i class="material-icons">mode_edit</i>',
					'</a>',
					'<a href="#" class="clone-cotizacion" data-cotizacion="'+ row.idCotizacion +'" title="Clonar cotizaci&oacute;n">',
						'<i class="material-icons">flip_to_front</i>',
					'</a>',
					'<a href="' + urlPartidas + '" title="Partidas">',
						'<i class="material-icons">format_list_numbered</i>',
					'</a>',
					'<a target="_blank" href="' + urlPdf + '" title="Generar PDF">',
						'<i class="material-icons">print</i>',
					'</a>'
				].join(' ');
			}
				
			}

		}
			
		function estatusFormatter(value, row, index) {
			
			var lblEstatus = '';
			
			switch(row.idEstatus) {
				case 1:
					lblEstatus = '<a type="button" class="btn bg-black waves-effect" onclick="cambioEstatus('+row.idCotizacion+')">'+ row.estatus +'</a>';
				break;
				
				case 2:
					lblEstatus = '<a type="button" class="btn bg-blue waves-effect" onclick="cambioEstatus('+row.idCotizacion+')">'+ row.estatus +'</a>';
				break;
				
				case 3:
					lblEstatus = '<a type="button" class="btn bg-indigo waves-effect" onclick="cambioEstatus('+row.idCotizacion+')">'+ row.estatus +'</a>';
				break;
				
				case 4:
					lblEstatus = '<a type="button" class="btn bg-green waves-effect">'+ row.estatus +'</a>';
				break;
				
				case 5:
					lblEstatus = '<a type="button" class="btn bg-red waves-effect">'+ row.estatus +'</a>';
				break;
				
				case 6:
					lblEstatus = '<a type="button" class="btn bg-orange waves-effect" onclick="cambioEstatus('+row.idCotizacion+')">'+ row.estatus +'</a>';
				break;
				
			}
			
			return lblEstatus;
		}
		
		function cambioEstatus(idCotizacion) {
			
			$('#hddIdCotizacion').val('');
			$('#txtCotizacion').val('');
			$('#txtFacturaNumero').val('');
			$('#txtPagoReferencia').val('');
			
			
			$.ajax({
				url			: [[@{/controlPanel/cotizaciones/}]] + idCotizacion + '/get-cotizacion',							        
				dataType	: 'json',
				type		: "GET",
				success		: function(data) {
					if(data.respuesta) {
						$('#hddIdCotizacion').val(idCotizacion);
						$('#txtCotizacion').val(data.folio);
						$('#txtFacturaNumero').val(data.facturaNumero);
						$('#txtPagoReferencia').val(data.pagoReferencia);
						$('#hddBoolNormal').val(data.BoolNormal);
						$('#hddBoolBoom').val(data.BoolBoom);
						$('#hddBoolRenta').val(data.BoolRenta);
						$('#hddBoolMaestra').val(data.BoolMaestra);

						
						if(data.facturacionFecha != '') {
							var arrDate1 = data.facturacionFecha.split("-");
							$('#txtFacturaFecha').bootstrapMaterialDatePicker('_onClearClick');
							$('#txtFacturaFecha').bootstrapMaterialDatePicker('setDate', arrDate1[2]+"/"+arrDate1[1]+"/"+arrDate1[0]);
						} else {
							$('#txtFacturaFecha').bootstrapMaterialDatePicker('_onClearClick');
						}
						
						if(data.pagoFecha != '') {
							var arrDate2 = data.pagoFecha.split("-");
							$('#txtPagoFecha').bootstrapMaterialDatePicker('_onClearClick');
							$('#txtPagoFecha').bootstrapMaterialDatePicker('setDate', arrDate2[2]+"/"+arrDate2[1]+"/"+arrDate2[0]);
						} else {
							$('#txtPagoFecha').bootstrapMaterialDatePicker('_onClearClick');
						}
						
						$('#cmbEstatus').val(data.idEstatus).change();						
						$('#btnCambioEstatus').removeClass('disabled');
						$('#popUpEstatus').modal('show');
					}
				},
				error		: function(e) {
					console.log(e);										
				}
			});	
		}
		
		$('#txtFacturaFecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false});
		$('#txtPagoFecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false});
			
		//Datetimepicker plugin
		$(function () {
			$('#txtBootstrapTableHasta').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false});
			$('#txtBootstrapTableDesde').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false}).on('change', function(e, date)
			{
				$('#txtBootstrapTableHasta').bootstrapMaterialDatePicker('setMinDate', date);
			});
			
			$('#txtFacturaFecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false});
			$('#txtPagoFecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', lang:'es', weekStart : 1, clearButton: true, time:false});
			
		 });
		 
		 $(function () {
			// VALIDADOR DE FORMULARIO
			$('#formCotizacion').validate({
		        rules: {
		            'txtTiempoEntrega': {
		                number: true
		            },
		            'txtVigenciaPrecios': {
		                number: true
		            },
		            'txtDiasCredito': {
		                number: true
		            }
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.form-group').append(error);
		        }
		    });
			
			//Custom Validations ===============================================================================
		    //Number
		    $.validator.addMethod('number', function (value, element) {
		        return value.match('[0-9]+');
		    },
		        'Por favor ingresa un n&uacute;mero.'
		    );
		});	
	</script>
</th:block>