<th:block th:fragment="style">
	<link th:href="@{/plugins/bootstrap3-editable/css/bootstrap-editable.css}" rel="stylesheet" />
</th:block>

<th:block th:fragment="body">
<div id="appCotizacionesPartidas">
	<div class="block-header">
        <h2>COTIZACI&Oacute;N: <th:block th:text="${objCotizacion.folio}"></th:block></h2>
    </div>
    
    <ol class="breadcrumb breadcrumb-bg-red">
      	<li><a th:href="${ {_PATH_} + 'controlPanel/'}"><i class="material-icons">home</i> Inicio</a></li>
    	<li>
			<a th:if="${objCotizacion.isNormal()}" th:href="${ {_PATH_} + 'controlPanel/cotizaciones'}"><i class="material-icons">public</i> Cotizaciones</a>
			<a th:if="${objCotizacion.isMaestra()}" th:href="${ {_PATH_} + 'controlPanel/cotizacionesProyecto'}"><i class="material-icons">public</i> Proyecto</a>
			<a th:if="${objCotizacion.isRenta()}" th:href="${ {_PATH_} + 'controlPanel/Sa'}"><i class="material-icons">public</i> Servicios administrados</a>
			<a th:if="${objCotizacion.isBoom()}" th:href="${ {_PATH_} + 'controlPanel/cotizacionesBom'}"><i class="material-icons">public</i> Cotizacion Bom</a>

		</li>
    	<li class="active"><i class="material-icons">format_list_numbered</i> Partidas</li>
  	</ol>
    
    <div class="row clearfix">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="card">
    			<div class="header">
    				<h2>LISTA DE PARTIDAS</h2>
    			</div>
    			
    			<div class="body">
    				<div class="row clearix">    				
    					<div class="col-md-6 col-md-offset-6 text-right">
    						<a class="btn bg-indigo btn-lg waves-effect" role="button" href="#" data-toggle="modal" data-target="#partidaModal"> NUEVA PARTIDA</a>							
							<a id="ordenarModal" class="btn bg-indigo btn-lg waves-effect" role="button" href="#" data-toggle="modal" data-target="#sortableModal"> ORDENAR PARTIDAS</a>
    					</div>
    				</div>
    			
    				<div class="row clearix">    				
    					<div class="col-md-6 col-md-offset-6 text-right">
    						<button class="btn bg-blue btn-lg waves-effect" type="button">
    							SUBTOTAL DE COTIZACI&Oacute;N 
    							<span class="badge subtotal-cotizacion">
    								<th:block th:text="${objCotizacion.getSubtotalNatural()}"></th:block>
   								</span>
							</button>
							
							<a th:href="${ {_PATH_} + 'controlPanel/cotizaciones/' + {objCotizacion.idCotizacion} + '/pdf'}" target="_blank" class="btn bg-pink btn-lg waves-effect" role="button"> PREVISUALIZAR COTIZACI&Oacute;N</a>
    					</div>
    				</div>    		
					
					<div class="table-responsive">
						<table id="dtPartidas" class="table table-bordered table-striped table-hover dataTable tbl-expediente">
    						<thead>
    							<tr>
    								<th>ID</th>
    								<th>Acciones</th>
    								<th>No. parte</th>
    								<th>Descripci&oacute;n</th>
    								<th>Cantidad</th>
    								<th>P.U. / lista</th>
    								<th>Desc. / porcentaje</th>
    								<th>Total</th>
    							</tr>
    						</thead>
    						<tbody>
    							<th:block th:each="item : ${lstPartidas}">						
	    							<tr>
	    								<td th:text="${item.idCotizacionPartida}"></td>
	    								<td>
	    									<a th:href="${ {_PATH_} + 'controlPanel/cotizaciones/' + {objCotizacion.idCotizacion} + '/partidas/' + {item.idCotizacionPartida} + '/edit'}" title="Editar"><i class="material-icons">mode_edit</i></a>
									        <a href="#" class="clone-partida" th:attr="data-partida=${item.idCotizacionPartida}" title="Clonar partida"><i class="material-icons">flip_to_front</i></a>
									        <a href="#" class="delete-partida" th:attr="data-partida=${item.idCotizacionPartida}" title="Eliminar"><i class="material-icons">delete</i></a>
	    								</td>
	    								<td th:text="${item.numeroParte}"></td>
	    								<td>
											<a href="javascript:void(0)" class="row-editable" th:attr="data-partida=${item.idCotizacionPartida}" data-tipo="textarea" data-name="descripcion"><th:block  th:text="${item.descripcion}"></th:block></a>
										</td>
	    								<td>
	    									<a href="javascript:void(0)" class="row-editable" th:attr="data-partida=${item.idCotizacionPartida}" data-tipo="text" data-name="cantidad"><th:block  th:text="${item.cantidad}"></th:block></a>
	    								</td>
	    								<td>
	    									<a href="javascript:void(0)" class="row-editable" th:attr="data-partida=${item.idCotizacionPartida}" data-tipo="text" data-name="precioUnitario"><th:block  th:text="${item.precioUnitarioListaNatural}"></th:block></a>
	    								</td>
	    								<td>
	    									<a href="javascript:void(0)" class="row-editable" th:attr="data-partida=${item.idCotizacionPartida}" data-tipo="text" data-name="descuentoPorcentaje"><th:block  th:text="${item.descuentoPorcentajeNatural}"></th:block></a>
	    								</td>
	    								<td th:class="${'total' + {item.idCotizacionPartida}}" th:text="${item.totalNatural}"></td>
	    							</tr>
    							</th:block>
    						</tbody>
    					</table>
					</div>
					
    			</div>
    		</div>
    	</div>
    </div>
    
    <!-- PARTIDA NUEVA MODAL -->
    <div class="modal fade" id="partidaModal" tabindex="-1" role="dialog">
    	<div class="modal-dialog modal-lg" role="document">
    		<div class="modal-content">
	    		<form id="formPartida" v-on:submit.prevent="createPartida" method="POST" role="form">
					<input type="hidden" name="hddIdCotizacion" id="hddIdCotizacion" th:value="${objCotizacion.idCotizacion}" />

	    			<div class="modal-header">
	    				<h4 class="modal-title">Nueva Partida</h4>
	    			</div>
	    			<div class="modal-body">
	    				<div class="row clearfix">
	                        <div class="col-md-6">
	                        	<div class="form-group">
	                        		<p><b>No. parte *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtNumeroParte" class="form-control" v-model="newPartida.txtNumeroParte" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">
	                        	<div class="form-group">
	                        		<p><b>Tiempo de entrega *</b></p>
	                                <div class="form-line">
	                                    <input type="text" id="txtTiempoEntrega" name="txtTiempoEntrega" class="form-control" placeholder="D&iacute;as h&aacute;biles" v-model="newPartida.txtTiempoEntrega" required="required" />
	                                </div>
	                            </div>
	                        </div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-12">
								<div class="form-group">
	                        		<p><b>Descripci&oacute;n *</b></p>
                                    <div class="form-line">
                                        <textarea rows="6" name="txtDescripcion" class="form-control no-resize" placeholder="..." v-model="newPartida.txtDescripcion" required="required"></textarea>
                                    </div>
                                 </div>
							</div>
						</div>						
						
						<div class="row clearfix">
	                        <div class="col-md-3">
                        		<b>Cantidad *</b>
	                        	<div class="input-group">
	                                <div class="form-line">
	                                    <input type="text" id="txtCantidad" name="txtCantidad" class="form-control" v-model="newPartida.txtCantidad" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">
	                        	<b>P/U Lista *</b>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">attach_money</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" id="txtPrecioUnitarioLista" name="txtPrecioUnitarioLista" v-model="newPartida.txtPrecioUnitario" class="form-control" />
                                    </div>
                                </div>
	                        </div>
	                        
	                        <div class="col-md-3">
	                        	<b>Descuento</b>
	                        	<div class="input-group">
	                                <div class="form-line">
	                                    <input type="text" id="txtDescuento" name="txtDescuento" maxlength="6" class="form-control" v-model="newPartida.txtDescuento" required="required" />
	                                </div>
	                                <span class="input-group-addon">
                                       <b>%</b>
                                    </span>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">
	                        	<b>Total</b>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">attach_money</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" id="txtTotalF" class="form-control" v-model="total" readonly="readonly" />
                                    </div>
                                </div>
	                        </div>
						</div>
	    			</div> 		
	    			<div class="modal-footer">
	    				<button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-primary waves-effect">CREAR</button>
	    			</div>
	    		</form>
    		</div>
    	</div>
    </div>
    
    <!-- SORTABLE MODAL -->
    <div class="modal fade" id="sortableModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="formSortable" th:action="${ {_PATH_} + 'controlPanel/cotizaciones/' + objCotizacion.getIdCotizacion() + '/sort-partidas'}" th:method="POST">
            		<input type="hidden" th:value="${objCotizacion.getIdCotizacion()}" name="hddIdCotizacion" id="hddIdCotizacion" />
            		<input type="hidden" value="" name="ordenPartidas" id="ordenPartidas" />
	                <div class="modal-header">
	                    <h4 class="modal-title" id="defaultModalLabel">Ordenar Partidas</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="row clearfix">
	                        <div class="col-md-12">
	                        	<ul id="listWithHandle" class="list-group"></ul>
	                        </div>
						</div>
	                </div>
	                <div class="modal-footer">	                    
	                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-link waves-effect">ORDENAR</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</th:block>

<th:block th:fragment="script">
	<script th:src="@{/plugins/vue/vue.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/assets/js/script.js}"></script>
	
	<!-- Jquery DataTable Plugin Js -->
    <script th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>
	<script th:src="@{/plugins/bootstrap3-editable/js/bootstrap-editable.min.js}"></script>

	<!-- Sortable -->
	<script th:src="@{/plugins/sortable/Sortable.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">/*<![CDATA[*/
		var idCotizacion = [[${objCotizacion.getIdCotizacion()}]];
	
		$(document).on("ready", function() {

			app2.idCotizacion = idCotizacion;
			
			var table = $('#dtPartidas').DataTable({
		        responsive: true,
		        pageLength: 100,
		        ordering: false,
		    });			
			
			$(document).on('click', '.delete-partida', function() {
				var idPartida = $(this).attr('data-partida');
				var _this = this;
				
				swal({
					title	: "&iquest;Est&aacute;s seguro?",
					text	: "Una vez eliminada, la partida no podra recuperarse.",
					type	: "warning",
					showCancelButton: true,
					cancelButtonText: 'Cancelar',
					confirmButtonText: 'Eliminar',
				}).then((result) => {
					if(result) {
						
						$.ajax({
							url			: [[@{/controlPanel/cotizaciones/}]] + idCotizacion + '/partidas/delete',
							data		: {
											idCotizacion : idCotizacion, 
											idCotizacionPartida : idPartida,
											[[${_csrf.parameterName}]] : [[${_csrf.token}]]
							},							        
							dataType	: 'json',
							type		: "POST",
							success		: function(data) {
								if(data.respuesta) {
									table.row($(_this).parents('tr')).remove().draw();
									$('.subtotal-cotizacion').html(data.subtotal);
									swal(data.titulo, data.mensaje,'success');									
								}
							},
							error		: function(e) {
								console.log(e);										
							}
						});																													
					}
				}).catch(swal.noop);
			});
			
			$(document).on('click', '.clone-partida', function() {
				var idPartida = $(this).attr('data-partida');
				swal({
					title	: "Clonaci&oacute;n de partida",
					text	: "La partida seleccionada se duplicara en la cotizacion.",
					type	: "warning",
					showCancelButton: true,
					cancelButtonText: 'Cancelar',
					confirmButtonText: 'Clonar',
				}).then((result) => {
					if(result) {
						
						$.ajax({
							url			: [[@{/controlPanel/cotizaciones/}]] + idCotizacion + '/partidas/clone',
							data		: {
											idCotizacion : idCotizacion, 
											idCotizacionPartida : idPartida,
											[[${_csrf.parameterName}]] : [[${_csrf.token}]]
							},							        
							dataType	: 'json',
							type		: "POST",
							success		: function(data) {
								if(data.respuesta) {				
									swal(data.titulo, data.mensaje,'success');
									location.reload();
								}
							},
							error		: function(e) {
								console.log(e);										
							}
						});																													
					}
				}).catch(swal.noop);
			});
			
			
			$(document).on('click', '.row-editable', function() {
				var _this = this;
				var idPartida = $(this).data("partida");
				var tipoEditor = $(this).data("tipo");
				
				$(this).editable({
					type: tipoEditor,
					placement: 'left',
				    pk: idPartida,
				    url: function(params) {				    	
				    	var d = new $.Deferred();
				    	var flag = true;

				    	if(($.isNumeric(params.value) && params.pk > 0 && params.name != "") || (params.name == "descripcion" && params.value != "")) {
				    		
				    		if(params.name == "cantidad") {
				    			if(Math.floor(params.value) != +params.value) {
					    			flag = false;
					    		}
				    		}				    					    		
				    		
				    		if(flag) {
				    			$.ajax({
								url			: [[@{/controlPanel/cotizaciones/}]] + idCotizacion + '/partida/modificar-inline',
								data		: {
												idCotizacion : idCotizacion, 
												idCotizacionPartida : idPartida,
												valor : params.value,
												campo : params.name,
												[[${_csrf.parameterName}]] : [[${_csrf.token}]]
								},							        
								dataType	: 'json',
								type		: "POST",
								success		: function(data) {
									if(data.respuesta) {
										$('.total' + idPartida).html(data.totalPartida);
										$('.subtotal-cotizacion').html(data.subtotal);
										swal(data.titulo, data.mensaje,'success');
										d.resolve();
									}
								},
								error		: function(e) {
									console.log(e);										
								}
							});
				    		} else {
					    		return d.reject('No se cumplen las condiciones para editar el campo.');
				    		}
				    		
				    	} else {
				    		return d.reject('El campo debe contener unicamente numeros.');
				    	}
				    	
				    	return d.promise();
				    },
				    title: 'Nuevo valor',
				    ajaxOptions: {
				    	type: 'post',
		           		dataType: 'json' //assuming json response
		       		}
				});	
			});
			
			
			$("#ordenarModal").click(function() {
				$.ajax({
					url			: [[@{/controlPanel/cotizaciones/}]] + idCotizacion + '/get-partidas',
					data		: {idCotizacion : idCotizacion},							        
					dataType	: 'json',
					type		: "GET",
					success		: function(data) {
						$('#listWithHandle').empty();
						data.sort(compare);
						data.forEach(element => {
							$("#listWithHandle").append('<li data-id="'+ element.idCotizacionPartida +'" class="list-group-item" style="cursor: move; cursor: -webkit-grabbing;"><i class="material-icons">sort</i><span style=" display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">'+ element.numeroParte +' - '+ element.descripcion + element.descripcion +'</span></li>');							
						});
					},
					error		: function(e) {
						console.log(e);										
					}
				});
			});
			
			// List with handle
			var list = Sortable.create(listWithHandle, {
			  handle: '.list-group-item',
			  animation: 150
			});
			
			$('#formSortable').submit(function(e) {
				e.preventDefault();
				var order = list.toArray();
				$('#ordenPartidas').val(order);
				
				var formData = $('#formSortable').serialize();
									
				$.ajax({
					url					: $('#formSortable').attr('action'),
					dataType			: 'json',
					data				: formData,
					type				: "POST",
					success				: function(data) {
						if(data.respuesta) {							
							swal(data.titulo, data.mensaje, 'success');
							$('#sortableModal').modal('hide');
							location.reload();
						} else{
							swal('Error!', 'Ocurrio un error al ordenar las partidas, verifique su informacion.', 'error');
						}
					},
					error				: function(e) {
						console.log(e);
					}
				});
			});
		});
		
		function compare(a, b) {
		  const itemA = a.ordenIndex;
		  const itemB = b.ordenIndex;
		  
		  let comparison = 0;
		  if(itemA > itemB) {
		    comparison = 1;
		  }else if(itemA < itemB) {
		    comparison = -1;
		  }
		  return comparison;
		}
		
		$(function () {
			// VALIDADOR DE FORMULARIO
			$('#formPartida').validate({
		        rules: {
					'txtTiempoEntrega': {
						number: true
					},
		            'txtCantidad': {
		                number: true
		            },
		            'txtPrecioUnitarioLista': {
		                number: true
		            },
		            'txtDescuento': {
		                number: true
		            }
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.input-group').append(error);
		        }
		    });
			
			//Custom Validations ===============================================================================
		    //Number
		    $.validator.addMethod('number', function (value, element) {
		        return value.match('[0-9]+');
		    },
		        'Por favor ingresa un n&uacute;mero.'
		    );
		});	
	
		/*]]>*/</script>
</th:block>