<th:block th:fragment="title">
	<h1>Notificaci&oacute;n de Cotizaciones</h1>
</th:block>


<th:block th:fragment="body">
	<h1 style="color:#000000;">Hola <span th:text="${objUsuario.getAlias()}"></span>: </h1>
	<p style="display:inline"><th:block th:text="${descripcion}"></th:block>:</p>
	
	<table align="center" border="0" cellpadding="10" cellspacing="10" width="100%" style="border-collapse: collapse; border:solid 1px #333333">		
		<tr>
			<th style="background-color: #333333; text-align: left; border: solid 1px #333333; color: #FFF" width="20%">Folio</th>
			<th style="background-color: #333333; text-align: left; border: solid 1px #333333; color: #FFF" width="15%">Estatus</th>
			<th style="background-color: #333333; text-align: center; border: solid 1px #333333; color: #FFF" width="15%">Fecha de <th:block th:text="${tipoFecha}"></th:block></th>
			<th style="background-color: #333333; text-align: left; border: solid 1px #333333; color: #FFF" width="30%">Cliente</th>
			<th style="background-color: #333333; text-align: right; border: solid 1px #333333; color: #FFF" width="20%">Total</th>
		</tr>
		
		<tr th:each="itemCotizacion : ${lstCotizaciones}">
			<td style="text-align: left; border: solid 1px #333333" th:text="${itemCotizacion.getFolio()}"></td>
			<td style="text-align: left; border: solid 1px #333333" th:text="${itemCotizacion.getCotizacionEstatus().getCotizacionEstatus()}"></td>
			<th:block th:if="${tipoFecha == 'Aprobación'}">
				<td style="text-align: center; border: solid 1px #333333" th:text="${itemCotizacion.getAprobacionFechaNatural()}"></td>
			</th:block>
			
			<th:block th:unless="${tipoFecha == 'Aprobación'}">
				<td style="text-align: center; border: solid 1px #333333" th:text="${itemCotizacion.getFacturacionFechaNatural()}"></td>
			</th:block>
			<td style="text-align: left; border: solid 1px #333333" th:text="${itemCotizacion.getCliente().getCliente()}"></td>
			<td style="text-align: right; border: solid 1px #333333" th:text="${itemCotizacion.getTotalNatural()}"></td>
		</tr>		
	</table>
</th:block>

