<th:block th:fragment="body">
	<div class="block-header">
        <h2>NOTICIAS</h2>
    </div>
    
    <div class="row clearfix">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="card">
    			<div class="header">
    				<h2>Nueva Noticia</h2>
    			</div>
    			
    			<div class="body">
    				<form id="formNoticia" th:action="${ {_PATH_} + 'controlPanel/noticias'}" th:method="POST">
						<div class="row clearfix">
							<div class="col-md-6">
								<div class="form-group">								
									<b>T&iacute;tulo *</b>
	                                <div class="form-line">
	                                    <input type="text" name="txtTitulo" class="form-control" placeholder="Por ejemplo, -Comunicado Importante-" required="required" />
	                                </div>
								</div>
                            </div>
                            
                            <div class="col-md-6">
								<div class="form-group">								
									<b>Descripci&oacute;n *</b>
	                                <div class="form-line">
	                                    <input type="text" name="txtDescripcion" class="form-control" placeholder="Por ejemplo, un breve resumen acerca de la noticia" required="required" />
	                                </div>
								</div>
                            </div>
	                        
	                        
						</div>
						
						<div class="row clearfix">
							<div class="col-md-4">
	                        	<b>Fecha Vencimiento</b>
	                        	<div class="input-group">
                        			<span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control text-center" id="txtVencimientoFecha" name="txtVencimientoFecha" />
                                    </div>
								</div>
	                        </div>
                  		</div>                  							
						
						<div class="row clearfix">
							<div class="col-md-12">
	                            <textarea id="txtMensaje" name="txtMensaje"></textarea>
	                        </div>							
						</div>
					
						<div class="row clearfix">
							<div class="col-md-3 col-md-offset-8 text-right">
								<a th:href="${ {_PATH_} + 'controlPanel/noticias'}" role="button" class="btn btn-danger m-t-15 waves-effect">CANCELAR</a>
								<button type="submit" class="btn btn-primary m-t-15 waves-effect">CREAR</button>
							</div>
						</div>
					</form>
    			</div>
    		</div>
    	</div>
    </div>
</th:block>

<th:block th:fragment="script">
	<!-- TinyMCE -->
	<script th:src="@{/plugins/tinymce/tinymce.js}"></script>
	<script type="application/javascript" th:inline="javascript">/*<![CDATA[*/
			
		var idUsuario = [[${_USER_.getIdUsuario()}]];
	
		$(document).ready(function() {
			//DATEPICKER
			$('#txtVencimientoFecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', weekStart : 1, clearButton: false, time:false, minDate : new Date()});
			$('#txtVencimientoFecha').bootstrapMaterialDatePicker('setDate', moment());
			
			
			//TinyMCE
		    tinymce.init({
		        selector: "textarea#txtMensaje",
		        theme: "modern",
		        height: 300,
		        plugins: [
		            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
		            'searchreplace wordcount visualblocks visualchars code fullscreen',
		            'insertdatetime media nonbreaking save table contextmenu directionality',
		            'emoticons template paste textcolor colorpicker textpattern imagetools'
		        ],
		        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
		        toolbar2: 'print preview media | forecolor backcolor emoticons',
		        image_advtab: true
		    });
		    tinymce.suffix = ".min";
		    tinyMCE.baseURL = '/WebSar/plugins/tinymce';
						
		});	
		/*]]>*/</script>
</th:block>