<th:block th:fragment="body">
	<div class="block-header">
        <h2>ENTREGAS DE PRODUCTOS</h2>
    </div>
    
    <div class="row clearfix">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="card">
    			<div class="header">
    				<h2>Editar Entrega</h2>
    			</div>
    			
    			<div class="body">
    				<form id="formEntrega" th:action="${ {_PATH_} + 'controlPanel/entregas/' + objEntrega.getIdEntrega() + '/edit'}" th:method="PUT">
						<div class="row clearfix">
							<div class="col-md-4">
	                            <p><b>Empresa *</b></p>
	                            <select class="form-control show-tick" name="cmbEmpresa" id="cmbEmpresa" data-live-search="true" >
	                            	<option value="default">Selecciona una Empresa...</option>
	                            	<th:block th:each="itemEmpresa : ${lstEmpresas}">	
	                            		<option th:if="${objEntrega.getEmpresa().getIdEmpresa() == itemEmpresa.idEmpresa}" selected="selected" th:value="${itemEmpresa.idEmpresa}" th:text="${itemEmpresa.empresa}"></option>
	                            		<option th:unless="${objEntrega.getEmpresa().getIdEmpresa() == itemEmpresa.idEmpresa}" th:value="${itemEmpresa.idEmpresa}" th:text="${itemEmpresa.empresa}"></option>                            	
	                            	</th:block>
	                       		</select>
	                        </div>
						
							<div class="col-md-4">
								<b>Cliente *</b>
								<div class="input-group">
									<select class="form-control show-tick" name="cmbCliente" id="cmbCliente" data-live-search="true" >
		                            	<th:block th:each="itemCliente : ${lstClientes}">
		                            		<option th:if="${objEntrega.cliente.idCliente == itemCliente.idCliente}" selected="selected"  th:value="${itemCliente.idCliente}" th:text="${itemCliente.cliente}"></option>
		                            		<option th:unless="${objEntrega.cliente.idCliente == itemCliente.idCliente}" th:value="${itemCliente.idCliente}" th:text="${itemCliente.cliente}"></option>
		                            	</th:block>			                            	
		                       		</select>
									
									<span class="input-group-addon">
		                       			<a href="#" data-toggle="modal" data-target="#clienteModal">		                       			
	                                        <i class="material-icons">add_circle</i>
		                       			</a>
                                    </span>	                            
								</div>	                           
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <b>Contacto *</b>
	                            <div class="input-group">
                            		<select class="form-control show-tick" name="cmbClienteContacto" id="cmbClienteContacto" data-live-search="true" >
		                            	<th:block th:each="itemContacto : ${lstContactos}">
		                            		<option th:if="${objEntrega.clienteContacto.idClienteContacto == itemContacto.idClienteContacto}" selected="selected"  th:value="${itemContacto.idClienteContacto}" th:text="${itemContacto.contacto}"></option>
		                            		<option th:unless="${objEntrega.clienteContacto.idClienteContacto == itemContacto.idClienteContacto}" th:value="${itemContacto.idClienteContacto}" th:text="${itemContacto.contacto}"></option>
		                            	</th:block>	
		                            </select>	                            	                            		                            
		                            
		                            <span class="input-group-addon">
		                       			<a href="#" data-toggle="modal" data-target="#contactoModal">		                       			
	                                        <i class="material-icons">add_circle</i>
		                       			</a>
                                    </span>
	                            </div>
	                        </div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-4">
	                            <b>Cotizaci&oacute;n</b>
	                             <div class="input-group">
		                            <th:block th:if="${objEntrega.cotizacion != null}">
		                            	<select class="form-control show-tick" name="cmbCotizacion" id="cmbCotizacion" data-live-search="true" >
			                            	<option value="0">Selecciona una Cotizaci&oacute;n...</option>
			                            <th:block th:each="itemCotizacion : ${lstCotizaciones}">		                            
			                            	<option th:if="${objEntrega.cotizacion.idCotizacion == itemCotizacion.idCotizacion}" selected="selected"  th:value="${itemCotizacion.idCotizacion}" th:text="${itemCotizacion.folio}"></option>
			                            	<option th:unless="${objEntrega.cotizacion.idCotizacion == itemCotizacion.idCotizacion}" th:value="${itemCotizacion.idCotizacion}" th:text="${itemCotizacion.folio}"></option>
			                            </th:block>
		                            	</select>
		                            </th:block>
		                            
		                            <th:block th:unless="${objEntrega.cotizacion != null}">
		                            	<select class="form-control show-tick" name="cmbCotizacion" id="cmbCotizacion" data-live-search="true" >
		                            	<option value="0" selected="selected">Selecciona una Cotizaci&oacute;n...</option>
			                            <option th:each="itemCotizacion : ${lstCotizaciones}" th:value="${itemCotizacion.idCotizacion}" th:text="${itemCotizacion.folio}"></option>
		                            </select>
		                            </th:block>
		                            <span class="input-group-addon">
		                       			<a id="rstCotizacion" href="#" data-toggle="tooltip" data-placement="bottom" title="Restaurar Cotizaci&oacute;n">		                       			
		                                	<i class="material-icons">autorenew</i>
		                       			</a>
	                                </span>
                            	</div>              	                            
	                        </div>
	                        
	                        <div class="col-md-4">
	                        	<div class="form-group">
	                        		<b>Orden de Compra</b>
	                                <div class="form-line">
	                                    <input type="text" name="txtOrdenCompra" class="form-control" th:value="${objEntrega.ordenCompra}" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <b>Entrega</b>                           
	                            <select class="form-control show-tick" name="cmbUsuarioEntrega" id="cmbUsuarioEntrega" data-live-search="true" >
	                            	<th:block th:each="itemUsuario : ${lstUsuarios}">	                            	
			                            <option th:if="${objEntrega.usuarioEntrega.idUsuario == itemUsuario.idUsuario}" selected="selected"  th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
			                            <option th:unless="${objEntrega.usuarioEntrega.idUsuario == itemUsuario.idUsuario}" selected="selected"  th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            	</th:block>
	                            </select>
	                        </div>
                  		</div>
                  		
                  		<div class="row clearfix">
                  			<div class="col-md-3">
                  				<input th:if="${objEntrega.isPrestamo()}" type="checkbox" id="chkPrestamo" class="filled-in chk-col-deep-purple" name="chkPrestamo" value="true" checked="checked" />
                  				<input th:unless="${objEntrega.isPrestamo()}" type="checkbox" id="chkPrestamo" class="filled-in chk-col-deep-purple" name="chkPrestamo" value="true" />
                                <label for="chkPrestamo">&iquest;Es un comodato?</label>
                  			</div>
                  			
                  			 <div id="dvFecha" class="col-md-3 hidden">
	                        	<b>Fecha Vencimiento</b>
	                        	<div class="input-group">
                        			<span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control text-center" id="txtEntregaFecha" name="txtEntregaFecha" th:attr="data-fecha_entrega=${objEntrega.getRegresoFecha()}" />
                                    </div>
								</div>
	                        </div>                  			
                  		</div>
						
						<div class="row clearfix">
							<div class="col-md-12">							
								<div class="form-group">
									<p><b>Observaciones</b></p>
	                              	<div class="form-line">
	                                  	<textarea rows="4" name="txtObservaciones" class="form-control no-resize">
	                                  		<th:block th:utext="${objEntrega.observaciones}"></th:block>
	                                  	</textarea>
	                              	</div>
	                       		</div>
							</div>
						</div>
						
						<br />
						
						<div id="inputContainer">						
							<th:block th:each="itemProducto : ${lstProductos}">						
								<div class="row clearfix">
									<div class="col-md-2">
										<div class="form-group">								
											<div class="form-line">
												<input type="text" name="txtCantidad[]" class="form-control inputCantidad" placeholder="Cantidad" th:value="${itemProducto.cantidad}" required="required" />
											</div>
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">								
											<div class="form-line">
												<input type="text" name="txtNumeroParte[]" class="form-control inputNumeroParte" placeholder="Numero de Parte" th:value="${itemProducto.numeroParte}" />
											</div>
										</div>
									</div>
									
									<div class="col-md-5">
										<div class="form-group">								
											<div class="form-line">
												<input type="text" name="txtDescripcion[]" class="form-control inputDescripcion" placeholder="Descripci&oacute;n" th:value="${itemProducto.descripcion}" required="required"/>
											</div>
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">								
											<div class="form-line">
												<input type="text" name="txtNumeroSerie[]" class="form-control inputNumeroSerie" placeholder="Numero de Serie" th:value="${itemProducto.numeroSerie}" />
											</div>
										</div>
									</div>
									
									<div class="col-md-1">
										<a class="add-product" href="javascript:void(0)" type="button"><i class="material-icons">playlist_add</i></a>
										<a class="delete-product" href="javascript:void(0)" type="button"><i class="material-icons">delete</i></a>
									</div>
								</div>
							</th:block>
						</div>
						
						<div id="productoContainer" data-cardinality="1" ></div>						
					
						<div class="row clearfix">
							<div class="col-md-3 col-md-offset-8 text-right">
								<a th:href="${ {_PATH_} + 'controlPanel/entregas'}" role="button" class="btn btn-danger m-t-15 waves-effect">CANCELAR</a>
								<button type="submit" class="btn btn-primary m-t-15 waves-effect">MODIFICAR</button>
							</div>
						</div>
					</form>
    			</div>
    		</div>
    	</div>
    </div>
    
    <!-- CLIENTE MODAL -->
    <div class="modal fade" id="clienteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="formCliente" th:action="${ {_PATH_} + 'controlPanel/clientes/add-cliente'}" th:method="POST">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="defaultModalLabel">Nuevo Cliente</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="row clearfix">
							<div class="col-md-8">
	                        	<div class="form-group">
	                        		<p><b>Nombre Comercial *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtNombreComercial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
							<div class="col-md-4">
	                            <p><b>Sucursal *</b></p>
	                            <select class="form-control show-tick" name="cmbSucursal" id="cmbSucursal" data-live-search="true" >
	                       			<th:block th:each="itemSucursal : ${lstSucursales}" >
	                       				<option th:if="${itemSucursal.idSucursal == _USER_.getSucursal().getSucursal()}" selected="selected" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       				<option th:unless="${itemSucursal.idSucursal == _USER_.getSucursal().getSucursal()}" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       			</th:block>
	                       		</select>
	                        </div>	                        	                       
						</div>
						
						<div class="row clearfix">
							<div class="col-md-4">
	                            <p><b>Giro</b></p>
	                            <select class="form-control show-tick" name="cmbGiro" id="cmbGiro" data-live-search="true" >
	                            	<option th:each="itemGiro : ${lstClientesGiros}" th:value="${itemGiro.idClienteGiro}" th:text="${itemGiro.clienteGiro}"></option>
	                       		</select>
	                        </div>
						
							<div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Raz&oacute;n social*</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRazonSocial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                       <div class="col-md-4">
								<div class="form-group">
	                        		<p><b>RFC *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRFC" class="form-control" required="required" />
	                                </div>
	                            </div>
							</div>
						</div>
	                </div>
	                <div class="modal-footer">	                    
	                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-link waves-effect">CREAR</button>
	                </div>
                </form>
            </div>
        </div>
    </div>

	<!-- CONTACTO MODAL -->
    <div class="modal fade" id="contactoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="formContacto" th:action="${ {_PATH_} + 'controlPanel/clientes/add-contacto'}" th:method="POST">
            		<input type="hidden" value="" name="hddIdCliente" id="hddIdCliente" />
	                <div class="modal-header">
	                    <h4 class="modal-title" id="defaultModalLabel">Nuevo Contacto</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="row clearfix">
	                        <div class="col-md-6">
	                        	<div class="form-group">
	                        		<p><b>Contacto *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtContacto" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
                        		<input type="checkbox" id="chkAdministrador" name="chkAdministrador" value="true" class="chk-col-red" />
                               	<label for="chkAdministrador">&iquest;PROPIETARIO / GERENTE?</label>
	                        </div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>Puesto</b></p>
                                    <div class="form-line">
                                        <input type="text" name="txtPuesto" class="form-control" />
                                    </div>
                                 </div>
							</div>
							
							<div class="col-md-3">                        	
	                        	<div class="form-group">
	                        		<p><b>Correo *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCorreo" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">                        		
	                        	<div class="form-group">
	                        		<p><b>Tel&eacute;fono</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtTelefono" class="form-control" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">                        		
	                        	<div class="form-group">
	                        		<p><b>Celular *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCelular" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
						</div>
	                </div>
	                <div class="modal-footer">	                    
	                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-link waves-effect">CREAR</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="script">
	<script type="application/javascript" th:inline="javascript">/*<![CDATA[*/
			
		var idUsuario = [[${_USER_.getIdUsuario()}]];
		var prestamo = [[${objEntrega.isPrestamo()}]];
	
		$(document).ready(function() {	
			
			var date = $('#txtEntregaFecha').data('fecha_entrega');
			
			if(prestamo) {				
				$('#dvFecha').removeClass("hidden");
			}
			
			// SELECT PICKER
			//$('#cmbCliente option').attr('selected', false);
			
			$('#cmbCliente').on('change', function() {
				buscarContactos();
			});
			
			//DATEPICKER
			$('#txtEntregaFecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', weekStart : 1, clearButton: false, time:false, minDate : new Date()});
			
			if(date != null) {
				var arrDate = date.split("-");				
				$('#txtEntregaFecha').bootstrapMaterialDatePicker('setDate', arrDate[2]+"/"+arrDate[1]+"/"+arrDate[0]);
			}
			
			$('#chkPrestamo').change(function() {
				
				if(this.checked) {
					$('#dvFecha').removeClass("hidden");
				} else {
					$('#dvFecha').addClass("hidden");
				}
			});
			
			$('#rstCotizacion').click(function() {
				
				if($('#cmbCotizacion').val() != "0") {					
					$('.inputCantidad').attr('disabled', false);
					$('.inputNumeroParte').attr('disabled', false);
					$('.inputDescripcion').attr('disabled', false);
					$('.inputNumeroSerie').attr('disabled', false);
					$('#inputContainer').removeClass('hide');
					
					$('#productoContainer').empty()
					$('#productoContainer').data('cardinality', 1);	
					
					$('#cmbCotizacion').selectpicker('val', '0');
					
					
					
					$('#inputContainer').empty()
					strNewTag = '<div class="row clearfix">';
					strNewTag += '<div class="col-md-2">';
						strNewTag += '<div class="form-group">';								
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="text" name="txtCantidad[]" class="form-control" placeholder="Cantidad"  required="required" />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-2">';
						strNewTag += '<div class="form-group">';							
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="text" name="txtNumeroParte[]" class="form-control" placeholder="Numero de Parte" value=" " />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-5">';
						strNewTag += '<div class="form-group">';							
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="text" name="txtDescripcion[]" class="form-control" placeholder="Descripci&oacute;n" required="required" />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-2">';
						strNewTag += '<div class="form-group">';							
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="text" name="txtNumeroSerie[]" class="form-control" placeholder="Numero de Serie" value=" " />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-1">';										
						strNewTag += '<a class="add-product" href="javascript:void(0)" type="button"><i class="material-icons">playlist_add</i></a>';
					strNewTag += '</div>';
				strNewTag += '</div>';
				
				$('#inputContainer').append(strNewTag);
				}				
			});
			
			//SELECT COTIZACIONES
			$('#cmbCotizacion').change(function(e){

				var idCotizacion = $(this).val();
				
				if(idCotizacion != "0") {					
					$.ajax({
						url					: [[@{/controlPanel/cotizaciones/}]] + idCotizacion + "/get-partidas",
						dataType			: 'json',
						data				: {
							idCotizacion : idCotizacion
						},
						type				: "GET",
						success				: function(data) {
							if(data.length > 0) {
								$('.inputCantidad').attr('disabled', true);
								$('.inputNumeroParte').attr('disabled', true);
								$('.inputDescripcion').attr('disabled', true);
								$('.inputNumeroSerie').attr('disabled', true);
								$('#inputContainer').addClass('hide');
								
								$('#productoContainer').empty()
								$('#productoContainer').data('cardinality', 1);
								
								data.forEach(element => {
									cardinality = parseInt($('#productoContainer').data('cardinality')) + 1;
									
									strNewTag = '<div class="row clearfix">';
										strNewTag += '<div class="col-md-2">';
											strNewTag += '<div class="form-group">';								
												strNewTag += '<div class="form-line">';
													strNewTag += '<input type="text" name="txtCantidad[]" class="form-control" placeholder="Cantidad" value="'+ element.cantidad +'" required="required" />';
												strNewTag += '</div>';
											strNewTag += '</div>';
										strNewTag += '</div>';
										
										strNewTag += '<div class="col-md-2">';
											strNewTag += '<div class="form-group">';							
												strNewTag += '<div class="form-line">';
													strNewTag += '<input type="text" name="txtNumeroParte[]" class="form-control" value="'+ element.numeroParte +'" placeholder="Numero de Parte" value=" " />';
												strNewTag += '</div>';
											strNewTag += '</div>';
										strNewTag += '</div>';
										
										strNewTag += '<div class="col-md-5">';
											strNewTag += '<div class="form-group">';							
												strNewTag += '<div class="form-line">';
													strNewTag += '<input type="text" name="txtDescripcion[]" class="form-control" value="'+ element.descripcion +'" placeholder="Descripci&oacute;n" required="required" />';
												strNewTag += '</div>';
											strNewTag += '</div>';
										strNewTag += '</div>';
										
										strNewTag += '<div class="col-md-2">';
											strNewTag += '<div class="form-group">';							
												strNewTag += '<div class="form-line">';
													strNewTag += '<input type="text" name="txtNumeroSerie[]" class="form-control" placeholder="Numero de Serie" value=" " />';
												strNewTag += '</div>';
											strNewTag += '</div>';
										strNewTag += '</div>';
										
										strNewTag += '<div class="col-md-1">';										
											strNewTag += '<a class="delete-product" href="javascript:void(0)" type="button"><i class="material-icons">delete</i></a>';
										strNewTag += '</div>';
									strNewTag += '</div>';
									
									$('#productoContainer').append(strNewTag);
						            $('#productoContainer').data('cardinality', cardinality);					
								});
							}
						},
						error				: function(e) {
							console.log(e);
						}
					});
				}
				
		  	});
			
			// FORM SUBMIT
			$('#formEntrega').submit(function(e){
				var flag = false;
				
				if($('#cmbCliente').val() == 'default' || $('#cmbClienteContacto').val() == 'default') {
					flag = true;
				}				
				
				if(flag) {
					swal('Hey!', 'Los campos con (*) son obligatorios', 'warning');
					e.preventDefault();
				}
		  	});
			
			$('#formCliente').submit(function(e){
				e.preventDefault();
				
				var formData = $('#formCliente').serialize();
				
				$.ajax({
					url					: $('#formCliente').attr('action'),
					dataType			: 'json',
					data				: formData,
					type				: "POST",
					success				: function(data) {
						if(data.respuesta) {
							buscarClientes();
							swal(data.titulo, data.mensaje, 'success');
							$('#clienteModal').modal('hide');
						} else{
							swal('Error!', 'Ocurrio un error al crear el cliente, verifique su informacion.', 'error');
						}
					},
					error				: function(e) {
						console.log(e);
					}
				});
		  	});
			
			$('#formContacto').submit(function(e){
				e.preventDefault();				
				
				var data = $('#hddIdCliente').val()
				var formData = $('#formContacto').serialize();
				
				if(data != "") {					
					$.ajax({
						url					: $('#formContacto').attr('action'),
						dataType			: 'json',
						data				: formData,
						type				: "POST",
						success				: function(data) {
							if(data.respuesta) {
								buscarContactos();
								swal(data.titulo, data.mensaje, 'success');
								$('#contactoModal').modal('hide');
							} else{
								swal('Error!', 'Ocurrio un error al crear el contacto, verifique su informacion.', 'error');
							}
						},
						error				: function(e) {
							console.log(e);
						}
					});
				} else {
					swal('Advertencia!', 'Para crear un contacto, es necesario seleccionar un cliente. Verifique su informacion.', 'warning');
				}
				
		  	});
			
			$(document).on('click', '.add-product', function() {
				
				cardinality = parseInt($('#productoContainer').data('cardinality')) + 1;
				
				strNewTag = '<div class="row clearfix">';
					strNewTag += '<div class="col-md-2">';
						strNewTag += '<div class="form-group">';								
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="text" name="txtCantidad[]" class="form-control" placeholder="Cantidad" required="required" />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-2">';
						strNewTag += '<div class="form-group">';							
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="text" name="txtNumeroParte[]" class="form-control" placeholder="Numero de Parte" value=" " />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-5">';
						strNewTag += '<div class="form-group">';							
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="text" name="txtDescripcion[]" class="form-control" placeholder="Descripci&oacute;n" required="required" />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-2">';
						strNewTag += '<div class="form-group">';							
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="text" name="txtNumeroSerie[]" class="form-control" placeholder="Numero de Serie" value=" " />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-1">';
						strNewTag += '<a class="add-product" href="javascript:void(0)" type="button"><i class="material-icons">playlist_add</i></a>';
						strNewTag += '<a class="delete-product" href="javascript:void(0)" type="button"><i class="material-icons">delete</i></a>';
					strNewTag += '</div>';
				strNewTag += '</div>';
				
				$('#productoContainer').append(strNewTag);
	            $('#productoContainer').data('cardinality', cardinality);
			});
			
			$(document).on('click', '.delete-product', function() {
				var _this = this;
				swal({
					title	: "&iquest;Est&aacute;s seguro?",
					text	: "Una vez eliminado, el producto sera eliminado de la entrega.",
					type	: "warning",
					showCancelButton: true,
					cancelButtonText: 'Cancelar',
					confirmButtonText: 'Eliminar',
				}).then((result) => {
					if(result) {
						$(_this).parent().parent().remove();																				
					}
				}).catch(swal.noop);				
			});
		});
		
		function buscarClientes() {
			var $select = $('#cmbCliente');
			
			$.ajax({
				url					: [[@{/controlPanel/clientes/get-clientes}]],
				dataType			: 'json',
				type				: "GET",
				success				: function(data) {
											 
					$select.find('option').remove();  
					$.each(data, function(key, value) 
					{
					    $select.append('<option value="' + value.idCliente + '" >' + value.cliente + '</option>');
					});
					
					$select.selectpicker('refresh');
				},
				error				: function(e) {
					console.log(e);
				}
			});
		}
		
		function buscarContactos() {
			var $select = $('#cmbClienteContacto');
			var data = $('#cmbCliente').val()
			$('#hddIdCliente').val(data);
			
			$.ajax({
				url					: [[@{/controlPanel/clientes/get-clientes-contactos}]] + "?idCliente=" + data,
				dataType			: 'json',
				type				: "GET",
				success				: function(data) {
					$select.attr('disabled', false);
											 
					$select.find('option').remove();  
					$.each(data, function(key, value) 
					{
					    $select.append('<option value=' + value.idClienteContacto + ' data-subtext="'+ value.correo +'">' + value.contacto + '</option>');
					});
					
					$select.selectpicker('refresh');
				},
				error				: function(e) {
					console.log(e);
					$select.attr('disabled', true);
					$select.empty();
				}
			});
		}			
		/*]]>*/</script>
</th:block>