<th:block th:fragment="body">
	<!--/* HEADER */-->
	<table width="100%">
		<tr>			
			<td style="width:119px;">
				<img th:src="@{'http://localhost:8080/WebSar/assets/images/' + ${objEmpresa.logotipo}}" />
			</td>
			
			<td style="width:10px"></td>
			<td style="width:258px">
				<table width="100%">
				<tr>
					<td class="tituloH2">REPORTE DE COMISIONES DE <th:block th:text="${mesActual}"></th:block></td>
				</tr>
				</table>
			</td>
			<td style="width:10px"></td>
				
			
			<td style="width:179px">
				<table width="100%">
					<tr>
						<td class="tituloTH2">PERIODO</td>
					</tr>					
					<tr>
						<td class="celdaH3" th:text="${fechaInicio + ' - ' + fechaFin}"></td>
					</tr>
				</table>
			</td>
			
		</tr>
	</table>
	
	<table id="tblCotizaciones" width="100%" cellpadding="2" cellspacing="0" style="margin-top: 20px;">
		<tr>
			<td width="100%" colspan="10" class="tituloH2" style="text-align:left" th:text="${objUsuario.getNombreCompleto()}"></td>
		</tr>
		<tr>
			<td width="100%" colspan="10" class="tituloH2" style="text-align:left">CUOTA DE <th:block th:if="${objUsuario.getQuota() != null}" th:text="${objUsuario.getQuotaNatural()}"></th:block> <th:block th:unless="${objUsuario.getQuota() != null}" th:text="${'$0.00'}"></th:block> DE U.B.</td>
		</tr>
		<tr>
			<td width="100%" colspan="10" class="tituloH2" style="text-align:left">TOTAL DE CUOTA OBTENIDA $<th:block th:text="${totalCuota}"></th:block></td>
		</tr>
		<tr>
			<td width="100%" colspan="10"></td>
		</tr>
		<th:block th:if="${true || rolCotizacionCobranza}">
			<tr>
				<td width="15%" class="tituloTH5">Cotizaci&oacute;n</td>		
				<td width="10%" class="tituloTH5">Fecha Aprob.</td>
				<td width="9%" class="tituloTH5">D&iacute;as Cr&eacute;dito</td>
				<td width="10%" class="tituloTH5">Fecha Pago</td>
				<td width="9%" class="tituloTH5" style="text-align:right">Ejecutivo (3%)</td>
				<td width="9%" class="tituloTH5" style="text-align:right">Cotizador (3%)</td>
				<td width="9%" class="tituloTH5" style="text-align:right">Vendedor (4%)</td>
				<td width="9%" class="tituloTH5" style="text-align:right">Impl. (3%)</td>
				<td width="8%" class="tituloTH5" style="text-align:right">Acumulado</td>
				<td width="12%" class="tituloTH5">Estatus</td>
				<td width="8%" class="tituloTH5">Factura</td>

			</tr>
			<tr th:each="item : ${cotizacionesMap}">
				<td width="15%" class="celdaH6" th:text="${item.folio}"></td>			
				<td width="10%" class="celdaH6" th:text="${item.fecha_aprobacion}"></td>
				<td width="9%" class="celdaH6" th:text="${item.dias_credito}"></td>
				<td width="10%" class="celdaH6" th:text="${item.fecha_pago}"></td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + item.comision_ejecutivo}"></td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + item.comision_cotizador}"></td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + item.comision_vendedor}"></td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + item.comision_implementador}"></td>			
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + item.comision_acumulado}"></td>
				<td width="12%" class="celdaH6" th:text="${item.estatus}"></td>
				<td width="8%" class="celdaH6" th:text="${item.factura}"></td>

			</tr>
			<tr>
				<td colspan="3"></td>
				<td width="10%" class="tituloTH5">TOTAL</td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + totalEjecutivo}"></td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + totalCotizador}"></td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + totalVendedor}"></td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + totalImplementador}"></td>
				<td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + totalAcumuladoComision}"></td>
				<td width="12%"></td>
			</tr>
		</th:block>
		
		<th:block th:unless="${boolCuota  || rolCotizacionCobranza}">
			<tr>
				<td width="100%" colspan="10" class="tituloTH5">La informaci&oacute;n de las comisiones no est&aacute; disponible ya que no has alcanzado tu cuota.</td>
			</tr>
		</th:block>
	</table>
	
</th:block>
