<th:block th:fragment="body">
	<div id="appCatalogoActivos">
		<ol class="breadcrumb breadcrumb-bg-red">
			<li><a th:href="${ {_PATH_} + 'controlPanel/'}"><i class="material-icons">home</i> Inicio</a></li>
			<li class="active"><i class="material-icons">public</i> Catalogos Activos</li>
		</ol>

		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2>CATALOGO DE TIPO ACTIVOS</h2>
					</div>
					<div class="body">
						<div class="row clearfix">
						<!--<div class="row clearfix" th:if="${rolNuevoCliente}">-->
							<div class="col-md-4 col-md-offset-8 text-right">
								<!--th:href="${ {_PATH_} + 'controlPanel/catalogoActivo/create'}" -->
								<a href="#" role="button" class="btn bg-purple waves-effect" 
									data-toggle="modal" data-target="#modalNuevaCategoria">
									<i class="material-icons">add_circle</i> Nuevo Tipo Activo</a>
							</div>
						</div>
						<div class="table-responsive-md table-responsive-lg table-responsive-xl">
							<table id="dtActivos" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-1" data-field="idCatalogoActivo" data-halign="left" data-align="center">ID</th>
										<th class="col-md-1" data-formatter="accionesFormatter" data-align="center">Opciones</th>
										<!-- <th class="col-md-2" data-formatter="imgFormatter" data-halign="center" data-align="center" data-visible="false">Imagen</th> -->
										<th class="col-md-1" data-field="clave" data-halign="left" data-align="center">Clave Unica</th>
										<th class="col-md-3" data-field="nombre" data-halign="left">Nombre</th>
										<th class="col-md-4" data-field="descripcion" data-halign="left">Descripci&oacute;n</th>
										<th class="col-md-1" data-field="fecharegistro" data-halign="left" data-align="center" data-visible="false">Fecha registro</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- NUEVO CATALOGO DE ACTIVOS -->
		<div class="modal fade" id="modalNuevaCategoria" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<form id="formCatalogoActivo" v-on:submit.prevent="createCatalogo" method="POST" role="form">
						<div class="modal-header">
							<h4 class="modal-title">Registro Tipo Activo</h4>
						</div>
						<div class="modal-body">
							<div class="row clearfix">
								<div class="col-md-12">
									<div class="form-group">
										<p><b>Nombre *</b></p>
										<div class="form-line">
											<input type="text" name="txtNombre" class="form-control" required="required" v-model="nombre"/>
										</div>
									</div>
								</div>
									
								<div class="col-md-12">
									<div class="form-group">
										<p><b>Clave *</b></p>
										<div class="form-line">
											<input type="text" name="txtClave" class="form-control" required="required" v-model="clave"/>
										</div>
									</div>
								</div>
									
							<!-- <div class="col-md-12">
								<div class="form-group files color">
										<p><b>Fichero</b></p>
										<input id="fichero" type="file" name="fichero" class="form-control-drop"/>
									</div>
								</div> -->
										
								<div class="col-md-12">
									<div class="form-group">
										<p><b>Descripci&oacute;n *</b></p>
										<div class="form-line">
											<input type="text" name="txtDescripcion" class="form-control" required="required" v-model="descripcion"/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary waves-effect">Crear</button>
						</div>		
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="script">
	<script th:src="@{/plugins/vue/vue.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/assets/js/activos.js}"></script>
	<!-- Wenzhixin DataTable -->
	<script th:src="@{/plugins/wenzhixin/bootstrap-table.js}"></script>
	<script th:src="@{/plugins/wenzhixin/extensions/export/tableExport.js}"></script>
	<script th:src="@{/plugins/wenzhixin/extensions/export/bootstrap-table-export.js}"></script>
	<script th:src="@{/plugins/wenzhixin/locale/bootstrap-table-es-MX.js}"></script>
	<script type="application/javascript" th:inline="javascript">

			$("#dtActivos").bootstrapTable({
			url					: [[@{/controlPanel/catalogoActivo/table}]],
			method				: 'post',
			contentType 		: 'application/x-www-form-urlencoded',
			sidePagination		: "server",
			pagination			: true,
			showColumns			: true,
			showToggle 			: true,
			showRefresh 		: true,
			search				: true,
			showExport			: true,
			striped				: true,
			pageSize 			: 30,
			exportTypes			: ["excel"],
			toolbar				: "#dtActivosToolBar",
			queryParams 		: function(params) {
										params[ [[${_csrf.parameterName}]] ] = [[${_csrf.token}]];
										params['txtBootstrapTableDesde'] = $('#txtBootstrapTableDesde').val();
										params['txtBootstrapTableHasta'] = $('#txtBootstrapTableHasta').val();
							        	return params;
		    }, onLoadSuccess :function(data){
				$(".deleteCatalogo").click(function(){
					var idCatalogoActivo=$(this).attr('data-catalogo');
					swal({
							title	: "Eliminar Activo",
							text	: "Se eliminara un activo en el sistema.",
							type	: "warning",
							showCancelButton: true,
							cancelButtonText: 'Cancelar',
							confirmButtonText: 'Eliminar',
						}).then((result) => {
							if(result) {
								$.ajax({
									url		: [[@{/controlPanel/catalogoActivo/}]] + idCatalogoActivo + '/delete',
									data	: {
												idCatalogoActivo : idCatalogoActivo, 
												[[${_csrf.parameterName}]] : [[${_csrf.token}]]
									},							        
									dataType	: 'json',
									type		: "POST",
									success		: function(data) {
										if(data.respuesta) {				
											$("#dtActivos").bootstrapTable('refresh');
											swal(data.titulo, data.mensaje,'success');
										}
									},
									error	: function(e) {
										console.log(e);										
									}
								});																													
							}
						}).catch(swal.noop);
						
				});

			}
		});
		
		function accionesFormatter(value, row, index) {
		    return [
		        '<a href="#" title="Eliminar" class="deleteCatalogo" data-catalogo="'+row.idCatalogoActivo+'">',
		        	'<i class="material-icons remove">delete</i>',
				'</a>'
			].join(''); 
		}
		function imgFormatter(value, row, index){
			var lblEstatus='';
			var url=[[@{/ficheros/catalogo/}]]+row.file_name;
			console.log(row.file_name!=null);
			if(row.file_name!="N/A"){
				lblEstatus ='<a type="button" href="'+url+'" class="btn btn-primary waves-effect" target="_blank"> Ver imagen </a>';
			}else{
				lblEstatus='<a type="button" class="btn btn-primary waves-effect disabled" href="#" > Desconocido </a>';
			}
			return lblEstatus;
		}

		$(function () {
		// VALIDADOR DE FORMULARIO
			$('#formCatalogoActivo').validate({
		        rules: {
		            'txtNombre': {
		                required: true
		            },
		            'txtDescripcion': {
		                required: true
					},
					'txtClave':{
						required:true
					}
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.form-group').append(error);
		        }
			});
		});
		
	</script>
</th:block>