<th:block th:fragment="style">
	<style>
		.user{
			text-transform: uppercase;
		}
	</style>
</th:block>

<th:block th:fragment="body">
	<!--/* HEADER */-->
	<table width="100%">
		<tr>			
			<td style="width:119px;">
				<img th:src="@{'http://localhost:8080/WebSar/assets/images/' + ${objEmpresa.logotipo}}" />
			</td>
			
			<td style="width:10px"></td>
			<td style="width:258px">
				<table width="100%">
				<tr>
					<td class="tituloH2">REPORTE DE GASTO DE <th:block th:text="${mesActual}"></th:block></td>
				</tr>
				</table>
			</td>
			<td style="width:10px"></td>
				
			<td style="width:179px">
				<table width="100%">
					<tr>
						<td class="tituloTH2">PERIODO</td>
					</tr>					
					<tr>
						<td class="celdaH3" th:text="${fechaInicio + ' - ' + fechaFin}"></td>
					</tr>
				</table>
			</td>
			
        </tr>
	</table>
	
	<table id="tblGastos" width="100%" cellpadding="2" cellspacing="0" style="margin-top: 20px;">
		<tr>
			<td width="100%" colspan="10" class="tituloH2 user" style="text-align:left" th:if="${tieneUsuario=='USUARIO'}" th:text="'GASTOS DE : '+${objUsuario.getNombreCompleto()}"></td>
		</tr>
		<tr>
			<td width="100%" colspan="10"></td>
		</tr>
		<tr>
            <td width="15%" class="tituloTH5">Foli&oacute; Factura</td>
			<td width="15%" class="tituloTH5">Numero Cotizaci&oacute;n</td>
			<td width="13%" class="tituloTH5">Tipo Gasto</td>		
			<td width="8%" class="tituloTH5">Clasificacion Gasto</td>
			<td width="9%" class="tituloTH5" style="text-align:right">Lugar</td>
			<td width="12%" class="tituloTH5" style="text-align:right">Observaciones</td>
			<td width="9%" class="tituloTH5" style="text-align:right">Usuario</td>
            <td width="9%" class="tituloTH5" style="text-align:right">Subtotal</td>
            <td width="12%" class="tituloTH5" style="text-align: right;">Fecha Gasto</td>
		</tr>
		<tr th:each="item : ${GastosMap}">
            <td width="15%" class="celdaH6" th:text="${item.folioFactura}"></td>
            <td width="15%" class="tituloTH5" th:text="${item.folioCotizacion}"></td>			
			<td width="13%" class="celdaH6" th:text="${item.tipoGasto}"></td>
			<td width="8%" class="celdaH6" th:text="${item.clasificacionGasto}"></td>
			<td width="9%" class="celdaH6" style="text-align:right" th:text="${item.lugar_formatter}"></td>
			<td width="12%" class="celdaH6" style="text-align:right" th:text="${item.observaciones}"></td>
			<td width="9%" class="celdaH6" style="text-align:right" th:text="${item.usuario}"></td>
            <td width="9%" class="celdaH6" style="text-align:right" th:text="${'$'+ item.subTotal}"></td>
            <td width="12%" class="celdaH6" style="text-align:right" th:text="${item.fechaGasto}"></td>
		</tr>
		<tr>
			<td colspan="6"></td>
			<td width="8%" class="tituloTH5">TOTAL</td>
            <td width="9%" class="celdaH6" style="text-align:right" th:text="${'$' + totalSubtotal}"></td>
		</tr>
	</table>
	<!--/* FOOTER */-->
	<table width="100%" style="margin-top:100px;">
            <tr>
                <td style="width:50%">
                    <table>
                        <tr>
                            <td>Inside Business Mexico S.A de C.V.</td>
                        </tr>
                      
                        <tr>
                            <td><span style="color:#ff2e34;font-weight:bold;">https://www.ib-mexico.com/sar</span></td>
                        </tr>
                        <tr></tr>
                    </table>
                </td>							
                <td style="width:40%"></td>
                <td style="width:30%;"></td>				
            </tr>
        </table>
</th:block>
