<th:block th:fragment="body">
	<!--/* HEADER */-->
	<table width="100%">
		<tr>			
			<td style="width:139px;">
				<img th:src="@{'http://localhost:8080/WebSar/assets/images/' + ${objCotizacion.empresa.logotipo}}" />
			</td>
			
			<td style="width:10px"></td>
			<td style="width:278px">
				<table width="100%">
				<tr>
					<td class="tituloH2">RESUMEN DE EXPEDIENTE</td>
				</tr>
				</table>
			</td>
			<td style="width:10px"></td>
				
			
			<td style="width:139px">
				<table width="100%">
					<tr>
						<td class="tituloTH2">FOLIO</td>
					</tr>
					
					<tr>
						<td class="celdaH3" th:text="${objCotizacion.folio}"></td>
					</tr>
				</table>
			</td>
			
		</tr>
	</table>
	
	
	<table width="100%" cellpadding="2" cellspacing="0" style="margin-top: 20px;">
		<tr>
			<td width="20%" class="tituloTH5">Folio O/C</td>
			<td width="20%" class="tituloTH5">Folio</td>			
			<td width="40%" class="tituloTH5">Proveedor</td>
			<td width="20%" class="tituloTH5">Importe</td>
		</tr>
	</table>
	
	<table width="100%" cellpadding="2" cellspacing="0">
		<tr th:each="itemDocumento : ${lstDocumentos}">
			<td width="20%" class="celdaH6" style="text-align:center" th:text="${itemDocumento.folioOrdenCompra}"></td>
			<td width="20%" class="celdaH6" style="text-align:center" th:text="${itemDocumento.folio}"></td>
			<td width="40%" class="celdaH6" style="text-align:left" th:text="${itemDocumento.proveedor}"></td>
			<td width="20%" class="celdaH6" style="text-align:right" th:text="${'$' + itemDocumento.importe}"></td>
		</tr>
		<tr>
			<td colspan="4" width="20%" class="celdaH6" style="text-align:right" th:text="${'Total: $' + totalImporte}"></td>
		</tr>
	</table>
	
	
		
	<!--/* FOOTER */-->
	<table width="100%" style="margin-top:100px;">
		<tr>
			<td style="width:30%">
				<table>
					<tr>
						<td th:text="${objCotizacion.empresa.razonSocial}"></td>
					</tr>
					<tr>							
						<td><span style="color:#ff2e34;font-weight:bold;">ventas@<th:block th:text="${objCotizacion.empresa.dominio}"></th:block></span></td>
					</tr>
					<tr>
						<td><span style="color:#ff2e34;font-weight:bold;">http://www.<th:block th:text="${objCotizacion.empresa.dominio}"></th:block></span></td>
					</tr>
					<tr></tr>
				</table>
			</td>							
			<td style="width:40%"></td>
			<td style="width:30%;"></td>				
		</tr>
	</table>
</th:block>