<th:block th:fragment="body">
	<div class="block-header">
        <h2>CLIENTES</h2>
    </div>
    
    <ol class="breadcrumb breadcrumb-bg-red">
      	<li><a th:href="${ {_PATH_} + 'controlPanel/'}"><i class="material-icons">home</i> Inicio</a></li>
    	<li><a th:href="${ {_PATH_} + 'controlPanel/clientes'}"><i class="material-icons">public</i> Clientes</a></li>
    	<li><a th:href="${ {_PATH_} + 'controlPanel/clientes/'+ objCliente.idCliente + '/contactos'}"><i class="material-icons">contacts</i> Contactos</a></li>
    	<li class="active"> Modificaci&oacute;n</li>
  	</ol>
    
    <div class="row clearfix">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="card">
    			<div class="header">
    				<h2>Modificar Contacto</h2>
    			</div>
    			
    			<div class="body">
    				<form id="formContacto" th:action="${ {_PATH_} + 'controlPanel/clientes/' + objCliente.idCliente + '/contactos/' + objClienteContacto.idClienteContacto}" th:method="PUT">
    					<input type="hidden" name="hddIdCliente" id="hddIdCliente" th:value="${objCliente.idCliente}" />
    				
						<div class="row clearfix">
	                        <div class="col-md-6">
	                        	<div class="form-group">
	                        		<p><b>Contacto *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtContacto" th:value="${objClienteContacto.getContacto()}" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">
                        		<input type="checkbox" th:if="${objClienteContacto.isAdministrador() == true}" id="chkAdministrador" name="chkAdministrador" value="true" checked="checked" class="chk-col-red" />
                        		<input type="checkbox" th:unless="${objClienteContacto.isAdministrador() == true}" id="chkAdministrador" name="chkAdministrador" value="true" class="chk-col-red" />
                               	<label for="chkAdministrador">&iquest;ES PROPIETARIO / GERENTE GRAL.?</label>
	                        </div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>Puesto</b></p>
                                    <div class="form-line">
                                        <input type="text" name="txtPuesto" th:value="${objClienteContacto.getPuesto()}" class="form-control" />
                                    </div>
                                 </div>
							</div>
							
							<div class="col-md-3">                        	
	                        	<div class="form-group">
	                        		<p><b>Correo *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCorreo" th:value="${objClienteContacto.getCorreo()}" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">                        		
	                        	<div class="form-group">
	                        		<p><b>Tel&eacute;fono</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtTelefono" th:value="${objClienteContacto.getTelefono()}" class="form-control" maxlength="25" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">                        		
	                        	<div class="form-group">
	                        		<p><b>Celular *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCelular" th:value="${objClienteContacto.getCelular()}" class="form-control" required="required" maxlength="25" />
	                                </div>
	                            </div>
	                        </div>
						</div>						
									
					
						<div class="row clearfix">
							<div class="col-md-3 col-md-offset-8 text-right">
								<a th:href="${ {_PATH_} + 'controlPanel/clientes/' + objCliente.idCliente + '/contactos'}" role="button" class="btn btn-danger m-t-15 waves-effect">CANCELAR</a>
								<button type="submit" class="btn btn-primary m-t-15 waves-effect">MODIFICAR</button>
							</div>
						</div>
					</form>
    			</div>
    		</div>
    	</div>
    </div>
</th:block>

<th:block th:fragment="script">
	<script type="application/javascript" th:inline="javascript">/*<![CDATA[*/			
	
		$(document).ready(function() {
		
			// VALIDADOR DE FORMULARIO
			$('#formContacto').validate({
		        rules: {
		            'txtTelefono': {
		                number: true
		            },
		            'txtCelular': {
		                number: true
		            }
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.form-group').append(error);
		        }
		    });
			
			//Custom Validations ===============================================================================
		    //Number
		    $.validator.addMethod('number', function (value, element) {
		        return value.match('[0-9]+');
		    },
		        'Por favor ingresa un n&uacute;mero.'
		    );
		});			
		/*]]>*/</script>
</th:block>