<th:block th:fragment="body">
	<div class="block-header">
        <h2>GARANT&Iacute;AS</h2>
    </div>
    
    <ol class="breadcrumb breadcrumb-bg-red">
      	<li><a th:href="${ {_PATH_} + 'controlPanel/'}"><i class="material-icons">home</i> Inicio</a></li>
    	<li><a th:href="${ {_PATH_} + 'controlPanel/garantias'}"><i class="material-icons">build</i> Garant&iacute;as</a></li>
    	<li class="active"> Nuevo</li>
  	</ol>
    
    <div class="row clearfix">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="card">
    			<div class="header">
    				<h2>Nueva Garant&iacute;a</h2>
    			</div>
    			
    			<div class="body">
    				<form id="formGarantia" th:action="${ {_PATH_} + 'controlPanel/garantias'}" th:method="POST" enctype="multipart/form-data">
						<div class="row clearfix">
							<div class="col-md-6">
								<b>Cliente *</b>
								<div class="input-group">								
		                            <select class="form-control show-tick" name="cmbCliente" id="cmbCliente" data-live-search="true" >
		                            	<option value="default" selected="selected">Selecciona un Cliente...</option>
		                            	<option th:each="itemCliente : ${lstClientes}" th:value="${itemCliente.idCliente}" th:text="${itemCliente.cliente}"></option>
		                       		</select>
		                       		<span class="input-group-addon">
		                       			<a href="#" data-toggle="modal" data-target="#clienteModal">		                       			
	                                        <i class="material-icons">add_circle</i>
		                       			</a>
                                    </span>
								</div>	                           
	                        </div>
	                        
	                        <div class="col-md-6">
	                            <b>Contacto *</b>
	                            <div class="input-group">	                            
		                            <select class="form-control show-tick" name="cmbClienteContacto" id="cmbClienteContacto" data-live-search="true" >
		                            	<option value="default" selected="selected">Selecciona un Contacto...</option>
		                            </select>
		                            <span class="input-group-addon">
		                       			<a href="#" data-toggle="modal" data-target="#contactoModal">		                       			
	                                        <i class="material-icons">add_circle</i>
		                       			</a>
                                    </span>
	                            </div>
	                        </div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-4">
	                        	<b>Fecha de Entrega</b>
	                        	<div class="input-group">
                        			<span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control text-center" id="txtFechaEntrega" name="txtFechaEntrega" />
                                    </div>
								</div>
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <b>Proveedor *</b>
	                            <div class="input-group">	                            
		                            <select class="form-control show-tick" name="cmbProveedor" id="cmbProveedor" data-live-search="true" >
		                            	<option value="default" selected="selected">Selecciona un Proveedor...</option>
		                            	<option th:each="itemProveedor : ${lstProveedores}" th:value="${itemProveedor.idProveedor}" th:text="${itemProveedor.proveedor}"></option>
		                            </select>
		                            <span class="input-group-addon">
		                       			<a href="#" data-toggle="modal" data-target="#proveedorModal">		                       			
	                                        <i class="material-icons">add_circle</i>
		                       			</a>
                                    </span>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
	                        	<div class="form-group">
	                        		<b>Factura</b>
	                                <div class="form-line">
	                                    <input type="text" name="txtFactura" class="form-control" />
	                                </div>
	                            </div>
	                        </div>
                  		</div>
						
						<div class="row clearfix">
							<div class="col-md-12">							
								<div class="form-group">
									<p><b>Falla</b></p>
	                              	<div class="form-line">
	                                  	<textarea rows="4" name="txtFalla" class="form-control no-resize"></textarea>
	                              	</div>
	                       		</div>
							</div>
						</div>
						
						<br />
						
						
						
						<div class="row clearfix">
							<div class="col-md-2">
								<div class="form-group">	
									<p><b>Cantidad *</b></p>							
									<div class="form-line">
										<input type="text" name="txtCantidad" class="form-control" required="required"/>
									</div>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<p><b>Producto *</b></p>								
									<div class="form-line">
										<input type="text" name="txtProducto" class="form-control" required="required" />
									</div>
								</div>
							</div>
							
							
							<div class="col-md-4">
								<div class="form-group">
									<p><b>N&uacute;mero de Serie *</b></p>							
									<div class="form-line">
										<input type="text" name="txtNumeroSerie" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						
						<br />
						
						<div class="row clearfix m-t-10">
							<div class="col-md-3">
								<div class="form-group">	
									<p><b>Im&aacute;gen de Producto</b></p>							
									<div class="form-line">
										<input type="file" name="fichero" class="form-control" multiple="multiple" />
									</div>
								</div>
							</div>
							
							<!-- <div class="col-md-1">
								<a class="add-image" href="javascript:void(0)" type="button"><i class="material-icons">playlist_add</i></a>
							</div> -->
						</div>
						
						<!--  <div id="ficheroContainer" data-cardinality="1" ></div>-->
						
						<div class="row clearfix m-t-20">
							<div class="col-md-12">
								<h3>Firma de recepci&oacute;n</h3>
								<div class="form-group form-group-lg">
	                       			<b>Persona que recibe *</b>
	                                <div class="form-line">
	                                    <input type="text" class="form-control" name="txtNombreRecepcion" required="required" />
	                                </div>
	                            </div>
								<div id="firmaRecepcion" style="border: 2px dotted black; background-color: lightgrey;"></div>
								<input type="hidden" id="imgFirmaRecepcion" name="imgFirmaEntrega" value="" />
								<div class="align-right">
									<button id="btnRestaurar" type="button" class="btn btn-warning waves-effect">RESTAURAR</button>
									<button id="btnGuardar" type="button" class="btn btn-success waves-effect">GUARDAR</button>
								</div>
	                        </div>
						</div>
											
					
						<div class="row clearfix">
							<div class="col-md-3 col-md-offset-8 text-right">
								<a th:href="${ {_PATH_} + 'controlPanel/garantias'}" role="button" class="btn btn-danger m-t-15 waves-effect">CANCELAR</a>
								<button type="submit" class="btn btn-primary m-t-15 waves-effect">CREAR</button>
							</div>
						</div>
					</form>
    			</div>
    		</div>
    	</div>
    </div>
    
    <!-- CLIENTE MODAL -->
    <div class="modal fade" id="clienteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="formCliente" th:action="${ {_PATH_} + 'controlPanel/clientes/add-cliente'}" th:method="POST">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="defaultModalLabel">Nuevo Cliente</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="row clearfix">
							<div class="col-md-8">
	                        	<div class="form-group">
	                        		<p><b>Nombre Comercial *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtNombreComercial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
							<div class="col-md-4">
	                            <p><b>Sucursal *</b></p>
	                            <select class="form-control show-tick" name="cmbSucursal" id="cmbSucursal" data-live-search="true" >
	                       			<th:block th:each="itemSucursal : ${lstSucursales}" >
	                       				<option th:if="${itemSucursal.idSucursal == _USER_.getSucursal().getIdSucursal()}" selected="selected" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       				<option th:unless="${itemSucursal.idSucursal == _USER_.getSucursal().getIdSucursal()}" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       			</th:block>
	                       		</select>
	                        </div>	                        	                       
						</div>
						
						<div class="row clearfix">
							<div class="col-md-4">
	                            <p><b>Giro</b></p>
	                            <select class="form-control show-tick" name="cmbGiro" id="cmbGiro" data-live-search="true" >
	                            	<option th:each="itemGiro : ${lstClientesGiros}" th:value="${itemGiro.idClienteGiro}" th:text="${itemGiro.clienteGiro}"></option>
	                       		</select>
	                        </div>
						
							<div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Raz&oacute;n social*</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRazonSocial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                       <div class="col-md-4">
								<div class="form-group">
	                        		<p><b>RFC *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRFC" class="form-control" required="required" />
	                                </div>
	                            </div>
							</div>
						</div>
	                </div>
	                <div class="modal-footer">	                    
	                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-link waves-effect">CREAR</button>
	                </div>
                </form>
            </div>
        </div>
    </div>

	<!-- CONTACTO MODAL -->
    <div class="modal fade" id="contactoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="formContacto" th:action="${ {_PATH_} + 'controlPanel/clientes/add-contacto'}" th:method="POST">
            		<input type="hidden" value="" name="hddIdCliente" id="hddIdCliente" />
	                <div class="modal-header">
	                    <h4 class="modal-title" id="defaultModalLabel">Nuevo Contacto</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="row clearfix">
	                        <div class="col-md-6">
	                        	<div class="form-group">
	                        		<p><b>Contacto *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtContacto" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
                        		<input type="checkbox" id="chkAdministrador" name="chkAdministrador" value="true" class="chk-col-red" />
                               	<label for="chkAdministrador">&iquest;PROPIETARIO / GERENTE?</label>
	                        </div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>Puesto</b></p>
                                    <div class="form-line">
                                        <input type="text" name="txtPuesto" class="form-control" />
                                    </div>
                                 </div>
							</div>
							
							<div class="col-md-3">                        	
	                        	<div class="form-group">
	                        		<p><b>Correo *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCorreo" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">                        		
	                        	<div class="form-group">
	                        		<p><b>Tel&eacute;fono</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtTelefono" class="form-control" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">                        		
	                        	<div class="form-group">
	                        		<p><b>Celular *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCelular" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
						</div>
	                </div>
	                <div class="modal-footer">	                    
	                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-link waves-effect">CREAR</button>
	                </div>
                </form>
            </div>
        </div>
    </div>

	 <!-- PROVEEDOR MODAL -->
    <div class="modal fade" id="proveedorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="formProveedor" th:action="${ {_PATH_} + 'controlPanel/proveedores/add-proveedor'}" th:method="POST">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="defaultModalLabel">Nuevo Proveedor</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="row clearfix">
							<div class="col-md-8">
	                        	<div class="form-group">
	                        		<p><b>Proveedor *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtProveedor" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
							<div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Raz&oacute;n social*</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRazonSocial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>                       	                       
						</div>
						
						<div class="row clearfix">
							<div class="col-md-12">
	                        	<div class="form-group">
	                        		<p><b>Direcci&oacute;n *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtDireccion" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>                       	                       
						</div>
						
						<div class="row clearfix">
							 <div class="col-md-4">
								<div class="form-group">
	                        		<p><b>RFC *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRFC" class="form-control" required="required" />
	                                </div>
	                            </div>
							</div>
						
							<div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Ciudad *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCiudad" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                       <div class="col-md-4">
								<div class="form-group">
	                        		<p><b>C&oacute;digo Postal *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCodigoPostal" class="form-control" required="required" />
	                                </div>
	                            </div>
							</div>
						</div>
	                </div>
	                <div class="modal-footer">	                    
	                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-link waves-effect">CREAR</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="script">
	<!-- JSignature -->
	<script th:src="@{/plugins/jsignature/jSignature.min.js}"></script>
	<script type="application/javascript" th:inline="javascript">/*<![CDATA[*/
			
		var idUsuario = [[${_USER_.getIdUsuario()}]];
	
		$(document).ready(function() {
			
			$("#firmaRecepcion").jSignature();
			
			$('#btnRestaurar').click(function() {
				$("#firmaRecepcion").jSignature("reset");
				$("#firmaRecepcion").jSignature("enable");
				$('#imgFirmaRecepcion').val("");
			});
			
			$('#btnGuardar').click(function() {
				$("#firmaRecepcion").jSignature("disable");
				var data = $("#firmaRecepcion").jSignature("getData", "image");	
				$('#imgFirmaRecepcion').val(data[1]);
				
			});
			
			//DATEPICKER
			$('#txtFechaEntrega').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', weekStart : 1, clearButton: false, time:false, minDate : new Date()});
			
			// SELECT PICKER
			$('#cmbCliente option').attr('selected', false);
			
			$('#cmbCliente').on('change', function() {
				buscarContactos();
			});		
							
			
			// FORM SUBMIT
			$('#formGarantia').submit(function(e){
				var flag = false;
				
				if($('#cmbCliente').val() == 'default' || $('#cmbClienteContacto').val() == 'default' || $('#imgFirmaRecepcion').val() == "") {
					flag = true;
				}				
				
				if(flag) {
					swal('Hey!', 'Los campos con (*) son obligatorios', 'warning');
					e.preventDefault();
				}
		  	});
			
			$('#formCliente').submit(function(e){
				e.preventDefault();
				
				var formData = $('#formCliente').serialize();
				
				$.ajax({
					url					: $('#formCliente').attr('action'),
					dataType			: 'json',
					data				: formData,
					type				: "POST",
					success				: function(data) {
						if(data.respuesta) {
							buscarClientes();
							swal(data.titulo, data.mensaje, 'success');
							$('#clienteModal').modal('hide');
						} else{
							swal('Error!', 'Ocurrio un error al crear el cliente, verifique su informacion.', 'error');
						}
					},
					error				: function(e) {
						console.log(e);
					}
				});
		  	});
			
			$('#formContacto').submit(function(e){
				e.preventDefault();				
				
				var data = $('#hddIdCliente').val()
				var formData = $('#formContacto').serialize();
				
				if(data != "") {					
					$.ajax({
						url					: $('#formContacto').attr('action'),
						dataType			: 'json',
						data				: formData,
						type				: "POST",
						success				: function(data) {
							if(data.respuesta) {
								buscarContactos();
								swal(data.titulo, data.mensaje, 'success');
								$('#contactoModal').modal('hide');
							} else{
								swal('Error!', 'Ocurrio un error al crear el contacto, verifique su informacion.', 'error');
							}
						},
						error				: function(e) {
							console.log(e);
						}
					});
				} else {
					swal('Advertencia!', 'Para crear un contacto, es necesario seleccionar un cliente. Verifique su informacion.', 'warning');
				}
				
		  	});

			$('#formProveedor').submit(function(e){
				e.preventDefault();				
				
				var formData = $('#formProveedor').serialize();
									
				$.ajax({
					url					: $('#formProveedor').attr('action'),
					dataType			: 'json',
					data				: formData,
					type				: "POST",
					success				: function(data) {
						if(data.respuesta) {
							buscarProveedores();
							swal(data.titulo, data.mensaje, 'success');
							$('#proveedorModal').modal('hide');
						} else{
							swal('Error!', 'Ocurrio un error al crear el contacto, verifique su informacion.', 'error');
						}
					},
					error				: function(e) {
						console.log(e);
					}
				});
				
		  	});
			
			/*$(document).on('click', '.add-image', function() {
				
				strNewTag = '<div class="row clearfix">';
					strNewTag += '<div class="col-md-3">';
						strNewTag += '<div class="form-group">';								
							strNewTag += '<div class="form-line">';
								strNewTag += '<input type="file" name="fichero[]" class="form-control" />';
							strNewTag += '</div>';
						strNewTag += '</div>';
					strNewTag += '</div>';
					
					strNewTag += '<div class="col-md-1">';
						strNewTag += '<a class="add-image" href="javascript:void(0)" type="button"><i class="material-icons">playlist_add</i></a>';
						strNewTag += '<a class="delete-image" href="javascript:void(0)" type="button"><i class="material-icons">delete</i></a>';
					strNewTag += '</div>';
				strNewTag += '</div>';
				
				$('#ficheroContainer').append(strNewTag);
			});
			
			$(document).on('click', '.delete-image', function() {
				var _this = this;
				swal({
					title	: "&iquest;Est&aacute;s seguro?",
					text	: "Una vez eliminado, la imagen sera eliminado de la grantia.",
					type	: "warning",
					showCancelButton: true,
					cancelButtonText: 'Cancelar',
					confirmButtonText: 'Eliminar',
				}).then((result) => {
					if(result) {
						$(_this).parent().parent().remove();																				
					}
				}).catch(swal.noop);				
			});*/
		});
		
		function buscarClientes() {
			var $select = $('#cmbCliente');
			
			$.ajax({
				url					: [[@{/controlPanel/clientes/get-clientes}]],
				dataType			: 'json',
				type				: "GET",
				success				: function(data) {
											 
					$select.find('option').remove();
					$select.append('<option value="" >Selecciona un cliente...</option>');
					$.each(data, function(key, value) 
					{
					    $select.append('<option value="' + value.idCliente + '" >' + value.cliente + '</option>');
					});
					
					$select.selectpicker('refresh');
				},
				error				: function(e) {
					console.log(e);
				}
			});
		}
		
		function buscarContactos() {
			var $select = $('#cmbClienteContacto');
			var data = $('#cmbCliente').val()
			$('#hddIdCliente').val(data);
			
			$.ajax({
				url					: [[@{/controlPanel/clientes/get-clientes-contactos}]] + "?idCliente=" + data,
				dataType			: 'json',
				type				: "GET",
				success				: function(data) {
					$select.attr('disabled', false);
											 
					$select.find('option').remove();  
					$select.append('<option value="" >Selecciona un contacto...</option>');
					$.each(data, function(key, value) 
					{
					    $select.append('<option value=' + value.idClienteContacto + ' data-subtext="'+ value.correo +'">' + value.contacto + '</option>');
					});
					
					$select.selectpicker('refresh');
				},
				error				: function(e) {
					console.log(e);
					$select.attr('disabled', true);
					$select.empty();
				}
			});
		}
		
		function buscarProveedores() {
			
			var $select = $('#cmbProveedor');
			$.ajax({
				url					: [[@{/controlPanel/proveedores/get-proveedores}]],
				dataType			: 'json',
				type				: "GET",
				success				: function(data) {
					$select.attr('disabled', false);
											 
					$select.find('option').remove();  
					$select.append('<option value="" >Selecciona un proveedor...</option>');
					$.each(data, function(key, value) 
					{
					    $select.append('<option value=' + value.idProveedor + ' data-subtext="'+ value.rfc +'">' + value.proveedor + '</option>');
					});
					
					$select.selectpicker('refresh');
				},
				error				: function(e) {
					console.log(e);
					$select.attr('disabled', true);
					$select.empty();
				}
			});
		}
		
		$(function () {
			// VALIDADOR DE FORMULARIO
			$('#formGarantia').validate({
		        rules: {
		            'txtCantidad': {
		                number: true
		            }
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.form-group').append(error);
		        }
		    });
			
			//Custom Validations ===============================================================================
		    //Number
		    $.validator.addMethod('number', function (value, element) {
		        return value.match('[0-9]+');
		    },
		        'Por favor ingresa un n&uacute;mero.'
		    );
		});	
		/*]]>*/</script>
</th:block>