<th:block th:fragment="body">
	<div class="block-header">
        <h2>CLIENTES</h2>
    </div>
    
    <ol class="breadcrumb breadcrumb-bg-red">
      	<li><a th:href="${ {_PATH_} + 'controlPanel/'}"><i class="material-icons">home</i> Inicio</a></li>
    	<li><a th:href="${ {_PATH_} + 'controlPanel/clientes'}"><i class="material-icons">public</i> Clientes</a></li>
    	<li class="active"> Nuevo</li>
  	</ol>
    
    <div class="row clearfix">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="card">
    			<div class="header">
    				<h2>Nuevo Cliente</h2>
    			</div>
    			
    			<div class="body">
    				<form id="formCliente" th:action="${ {_PATH_} + 'controlPanel/clientes'}" th:method="POST">
						<div class="row clearfix">
							<div class="col-md-8">
	                        	<div class="form-group">
	                        		<p><b>Nombre Comercial *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtNombreComercial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
							<div class="col-md-4">
	                            <p><b>Sucursal *</b></p>
	                            <select class="form-control show-tick" name="cmbSucursal" id="cmbSucursal" data-live-search="true" >
	                       			<th:block th:each="itemSucursal : ${lstSucursales}" >
	                       				<option th:if="${itemSucursal.idSucursal == _USER_.getSucursal().getSucursal()}" selected="selected" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       				<option th:unless="${itemSucursal.idSucursal == _USER_.getSucursal().getSucursal()}" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       			</th:block>
	                       		</select>
	                        </div>	                        	                       
						</div>
						
						<div class="row clearfix">
							 <div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Tel&eacute;fono</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtTelefono" class="form-control" maxlength="25" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <p><b>Giro *</b></p>
	                            <select class="form-control show-tick" name="cmbGiro" id="cmbGiro" data-live-search="true" >
	                            	<option value="default" selected="selected">Selecciona un tipo de giro...</option>
	                            	<option th:each="itemGiro : ${lstClientesGiros}" th:value="${itemGiro.idClienteGiro}" th:text="${itemGiro.clienteGiro}"></option>
	                       		</select>
	                        </div>	                        
						<!-- </div>
						
						<div class="row clearfix"> -->
							<div class="col-md-4">
	                            <p><b>Grupo Empresarial</b></p>
	                            <select class="form-control show-tick" name="cmbGrupoEmpresarial" id="cmbGrupoEmpresarial" data-live-search="true" required="required">
	                            	<option value="0" selected="selected">Selecciona un grupo empresarial...</option>
	                            	<option th:each="itemGrupo : ${lstGruposEmpresariales}" th:value="${itemGrupo.idGrupoEmpresarial}" th:text="${itemGrupo.grupoEmpresarial}"></option>
	                       		</select>
	                        </div>
	                        
	                        <div class="col-md-4 hidden">
	                        	<div class="form-group">
	                        		<p><b># Cliente SAE</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtClienteSae"  class="form-control" />
	                                </div>
	                            </div>
	                        </div>
						</div>
						<div class="row clearfix">
							<div class="col-md-12">
								<h4 class="h4 text-uppercase" style="font-weight: bolder;">Ejecutivo por empresa :</h4>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-12">
								<hr class="btn-primary" style="margin-top: -15px; font-weight: bold;"/>
							</div>
						</div>
						<div class="row clear-fix">						
							<div class="col-md-4">
	                            <p><b>IB-M&eacute;xico *</b></p>
	                            <select class="form-control show-tick" name="cmbEjecutivo" id="cmbEjecutivo" data-live-search="true" required="required">
	                            	<option value="default" selected="selected">Selecciona un tipo de ejecutivo...</option>
	                            	<option th:each="itemUsuario : ${lstUsuarios}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                       		</select>
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <p><b>S3S *</b></p>
	                            <select class="form-control show-tick" name="cmbEjecutivoS3s" id="cmbEjecutivoS3s" data-live-search="true" required="required">
	                            	<option value="default" selected="selected">Selecciona un tipo de ejecutivo...</option>
	                            	<option th:each="itemUsuario : ${lstUsuarios}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                       		</select>
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <p><b>R2A *</b></p>
	                            <select class="form-control show-tick" name="cmbEjecutivoR2a" id="cmbEjecutivoR2a" data-live-search="true" required="required">
	                            	<option value="default" selected="selected">Selecciona un tipo de ejecutivo...</option>
	                            	<option th:each="itemUsuario : ${lstUsuarios}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                       		</select>
	                        </div>
						</div>
						<hr/>
						<div class="row clearfix">
							<div class="col-md-12">
								<h4 class="h4 text-uppercase" style="font-weight: bolder;">Cliente SAE por empresa :</h4>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-12">
								<hr class="btn-primary" style="margin-top: -15px; font-weight: bold;"/>
							</div>
						</div>
						<hr/>
						<div class="row clearfix">
							<div class="col-md-12">
								<div class="col-md-4">
									<div class="form-group">
										<p><b># Cliente SAE IB-M&eacute;xico *</b></p>
										<div class="form-line">
											<input type="text" name="txtClienteSaeIbMexico"  class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b># Cliente SAE S3S *</b></p>
										<div class="form-line">
											<input type="text" name="txtClienteSaeS3s"  class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b># Cliente SAE R2A *</b></p>
										<div class="form-line">
											<input type="text" name="txtClienteSaeR2a"  class="form-control" />
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-8">
	                        	<div class="form-group">
	                        		<p><b>Raz&oacute;n social*</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRazonSocial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Direcci&oacute;n</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtDireccion" class="form-control" maxlength="250" />
	                                </div>
	                            </div>
	                        </div>
						</div>
					
						<div class="row clearfix">
							<div class="col-md-3">
								<div class="form-group">
									
	                        		<p><b>RFC *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRFC" class="form-control" id="txtRFC" required="required" maxlength="25" style="text-transform:uppercase" />
	                                </div>
	                            </div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>Ciudad</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCiudad" class="form-control" maxlength="100" />
	                                </div>
	                            </div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>Estado</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtEstado" class="form-control" maxlength="100" />
	                                </div>
	                            </div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>C&oacute;digo Postal</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCodigoPostal" class="form-control" maxlength="5" />
	                                </div>
	                            </div>
							</div>
						</div>
					
						<div class="row clearfix">
							<div class="col-md-3 col-md-offset-8 text-right">
								<a th:href="${ {_PATH_} + 'controlPanel/clientes'}" role="button" class="btn btn-danger m-t-15 waves-effect">CANCELAR</a>
								<button type="submit" class="btn btn-primary m-t-15 waves-effect">CREAR</button>
							</div>
						</div>
					</form>
    			</div>
    		</div>
    	</div>
    </div>
</th:block>

<th:block th:fragment="script">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="application/javascript" th:inline="javascript">/*<![CDATA[*/
	
		var boolRFC = false;
	
		$(document).ready(function() {
			// SELECT PICKER
			$('#cmbGiro option').attr('selected', false);
			// FORM SUBMIT
			$('#formCliente').submit(function(e){
				var flag = false;

				if($('#cmbGiro').val() == 'default' || $('#cmbEjecutivo').val() == 'default' || $('#cmbEjecutivoS3s').val() == 'default' || $('#cmbEjecutivoR2a').val() == 'default') {
					flag = true;
				}
				if(flag) {
					swal('Hey!', 'Los campos con (*) son obligatorios', 'warning');
					e.preventDefault();
				}else if(!boolRFC){
					swal('RFC Incorrecto','Corrige los datos del RFC','error');
					e.preventDefault();
				}
			  });
		});
		
		var host = "http://localhost:8080/WebSar/controlPanel/";
		//HEADERS EN AXIOS
		let token = document.head.querySelector('meta[name="_csrf"]');
		axios.defaults.headers.common['X-CSRF-TOKEN'] = token.content; // for all requests
		
		async function getRFC(valueRFC){
			var url = host+'clientes/get-clientes';
			var arrRFC = [];
			await axios.get(url).then((resp) => {
				if(resp.status==200){
					arrRFC = (resp.data);

					var response = true;
					var initvalueRFC = valueRFC.trim();
					var tamanio = initvalueRFC.length;
					
					if(arrRFC.some(item=>item.rfc === initvalueRFC)){
						swal('Advertencia','Ya existe un cliente con el mismo RFC y evite usar espacios','warning');
						boolRFC = !response
					}else if(tamanio<12  || tamanio>13){
						swal('RFC Incorrecto','Los datos del RFC debe ser 12-13 digitos y sin espacios','error');
						boolRFC = !response;
					} else {
						boolRFC = response;
					}
					var elementRFC = document.querySelector("#txtRFC");
					if (!boolRFC) {
						elementRFC.style.borderBottom=null;
						elementRFC.style.borderBottom = "2px solid #f44336";
					}else{
						elementRFC.style.borderBottom=null;
						elementRFC.style.borderBottom = "2px solid #1f91f3";
					}
				}
			});	
		}

		$("#txtRFC").blur(function(){
			var valueRFC=$('input[name=txtRFC]').val();
			getRFC(valueRFC);
		});

		$(function () {
			// VALIDADOR DE FORMULARIO
			$('#formCotizacion').validate({
		        rules: {
		            'txtTelefono': {
		                number: true
		            }
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.form-group').append(error);
		        }
		    });
			
			//Custom Validations ===============================================================================
		    //Number
		    $.validator.addMethod('number', function (value, element) {
		        return value.match('[0-9]+');
		    },
		        'Por favor ingresa un n&uacute;mero.'
		    );			
		});				
		/*]]>*/</script>
</th:block>