<th:block th:fragment="body">
	<div class="block-header">
        <h2>CLIENTES</h2>
    </div>
    
    <ol class="breadcrumb breadcrumb-bg-red">
      	<li><a th:href="${ {_PATH_} + 'controlPanel/'}"><i class="material-icons">home</i> Inicio</a></li>
    	<li><a th:href="${ {_PATH_} + 'controlPanel/clientes'}"><i class="material-icons">public</i> Clientes</a></li>
    	<li class="active"> Modificaci&oacute;n</li>
  	</ol>
    
    <div class="row clearfix">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="card">
    			<div class="header">
    				<h2>Nueva Clientes</h2>
    			</div>
    			
    			<div class="body">
    				<form id="formCliente" th:action="${ {_PATH_} + 'controlPanel/clientes/' + objCliente.getIdCliente()}" th:method="PUT">
						<div class="row clearfix">
							<div class="col-md-8">
	                        	<div class="form-group">
	                        		<p><b>Nombre Comercial *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtNombreComercial" th:value="${objCliente.getCliente()}" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
							<div class="col-md-4">
	                            <p><b>Sucursal *</b></p>
	                            <select class="form-control show-tick" name="cmbSucursal" id="cmbSucursal" data-live-search="true" >
	                       			<th:block th:each="itemSucursal : ${lstSucursales}" >
	                       				<option th:if="${itemSucursal.idSucursal == objCliente.getSucursal().getIdSucursal()}" selected="selected" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       				<option th:unless="${itemSucursal.idSucursal == objCliente.getSucursal().getIdSucursal()}" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       			</th:block>
	                       		</select>
	                        </div>	                        	                       
						</div>
						
						<div class="row clearfix">
							 <div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Tel&eacute;fono</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtTelefono" th:value="${objCliente.getTelefono()}" class="form-control" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <p><b>Giro</b></p>
	                            <select class="form-control show-tick" name="cmbGiro" id="cmbGiro" data-live-search="true" >
	                            	<option value="default">Selecciona un tipo de giro...</option>
	                            	<th:block th:each="itemGiro : ${lstClientesGiros}" >
	                       				<option th:if="${itemGiro.idClienteGiro == objCliente.getClienteGiro().getIdClienteGiro()}" selected="selected" th:value="${itemGiro.idClienteGiro}" th:text="${itemGiro.clienteGiro}"></option>
	                       				<option th:unless="${itemGiro.idClienteGiro == objCliente.getClienteGiro().getIdClienteGiro()}" th:value="${itemGiro.idClienteGiro}" th:text="${itemGiro.clienteGiro}"></option>
	                       			</th:block>
	                       		</select>
	                        </div>	                        	                        
						<!-- </div>												
						
						<div class="row clearfix"> -->
							<div class="col-md-4">
	                            <p><b>Grupo Empresarial</b></p>
	                            <select class="form-control show-tick" name="cmbGrupoEmpresarial" id="cmbGrupoEmpresarial" data-live-search="true" required="required">
	                            	<th:block th:if="${objCliente.getClienteGrupoEmpresarial() != null}">
	                            		<th:block th:each="itemGrupo : ${lstGruposEmpresariales}">
	                            			<option th:if="${itemGrupo.idGrupoEmpresarial == objCliente.clienteGrupoEmpresarial.idGrupoEmpresarial}" selected="selected" th:value="${itemGrupo.idGrupoEmpresarial}" th:text="${itemGrupo.grupoEmpresarial}"></option>
	                            			<option th:unless="${itemGrupo.idGrupoEmpresarial == objCliente.clienteGrupoEmpresarial.idGrupoEmpresarial}" th:value="${itemGrupo.idGrupoEmpresarial}" th:text="${itemGrupo.grupoEmpresarial}"></option>
	                            		</th:block>
	                            	</th:block>
	                            	
	                            	<th:block th:unless="${objCliente.getClienteGrupoEmpresarial() != null}">                        	
		                            	<option value="0" selected="selected">Selecciona un grupo empresarial...</option>
	                            		<option th:each="itemGrupo : ${lstGruposEmpresariales}" th:value="${itemGrupo.idGrupoEmpresarial}" th:text="${itemGrupo.grupoEmpresarial}"></option>
	                            	</th:block>	                            		                            	
	                       		</select>
	                        </div>
	                        
	                        <div class="col-md-4 hidden">
	                        	<div class="form-group">
	                        		<p><b># Cliente SAE</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtClienteSae" th:value="${objCliente.clienteSae}"  class="form-control" />
	                                </div>
	                            </div>
	                        </div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-12">
								<h4 class="h4 text-uppercase" style="font-weight: bolder;">Ejecutivo por empresa :</h4>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-12">
								<hr class="btn-primary" style="margin-top: -15px; font-weight: bold;"/>
							</div>
						</div>

						<div class="row clearfix">
							<div class="col-md-4">
	                            <p><b>IB-M&eacute;xico *</b></p>
	                            <select class="form-control show-tick" name="cmbEjecutivo" id="cmbEjecutivo" data-live-search="true" required="required">
	                            	<th:block th:if="${objCliente.getUsuarioEjecutivo() != null}">
	                            		<th:block th:each="itemUsuario : ${lstUsuarios}">
	                            			<option th:if="${itemUsuario.idUsuario == objCliente.usuarioEjecutivo.idUsuario}" selected="selected" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            			<option th:unless="${itemUsuario.idUsuario == objCliente.usuarioEjecutivo.idUsuario}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            		</th:block>
	                            	</th:block>
	                            	
	                            	<th:block th:unless="${objCliente.usuarioEjecutivo != null}">                        	
		                            	<option value="default" selected="selected">Selecciona un tipo de ejecutivo...</option>
		                            	<option th:each="itemUsuario : ${lstUsuarios}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            	</th:block>
	                       		</select>
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <p><b>S3S *</b></p>
	                            <select class="form-control show-tick" name="cmbEjecutivoS3s" id="cmbEjecutivoS3s" data-live-search="true" required="required">
	                            	<th:block th:if="${objCliente.getUsuarioEjecutivoS3s() != null}">
	                            		<th:block th:each="itemUsuario : ${lstUsuarios}">
	                            			<option th:if="${itemUsuario.idUsuario == objCliente.usuarioEjecutivoS3s.idUsuario}" selected="selected" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            			<option th:unless="${itemUsuario.idUsuario == objCliente.usuarioEjecutivoS3s.idUsuario}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            		</th:block>
	                            	</th:block>
	                            	
	                            	<th:block th:unless="${objCliente.usuarioEjecutivoS3s != null}">                        	
		                            	<option value="default" selected="selected">Selecciona un tipo de ejecutivo...</option>
		                            	<option th:each="itemUsuario : ${lstUsuarios}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            	</th:block>
	                       		</select>
	                        </div>
	                        
	                        <div class="col-md-4">
	                            <p><b>R2A *</b></p>
	                            <select class="form-control show-tick" name="cmbEjecutivoR2a" id="cmbEjecutivoR2a" data-live-search="true" required="required">
	                            	<th:block th:if="${objCliente.getUsuarioEjecutivoR2a() != null}">
	                            		<th:block th:each="itemUsuario : ${lstUsuarios}">
	                            			<option th:if="${itemUsuario.idUsuario == objCliente.usuarioEjecutivoR2a.idUsuario}" selected="selected" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            			<option th:unless="${itemUsuario.idUsuario == objCliente.usuarioEjecutivoR2a.idUsuario}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            		</th:block>
	                            	</th:block>
	                            	
	                            	<th:block th:unless="${objCliente.usuarioEjecutivoR2a != null}">                        	
		                            	<option value="default" selected="selected">Selecciona un tipo de ejecutivo...</option>
		                            	<option th:each="itemUsuario : ${lstUsuarios}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                            	</th:block>
	                       		</select>
	                        </div>
						</div>
						
						<hr />
						

						<div class="row clearfix">
							<div class="col-md-12">
								<h4 class="h4 text-uppercase" style="font-weight: bolder;">Cliente SAE por empresa :</h4>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-md-12">
								<hr class="btn-primary" style="margin-top: -15px; font-weight: bold;"/>
							</div>
						</div>
						<hr/>
						<div class="row clearfix">
							<div class="col-md-12">
								<div class="col-md-4">
									<div class="form-group">
										<p><b># Cliente SAE IB-M&eacute;xico *</b></p>
										<div class="form-line">
											<input type="text" name="txtClienteSaeIbMexico" th:value="${objCliente.clienteSaeIbMexico}" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b># Cliente SAE S3S *</b></p>
										<div class="form-line">
											<input type="text" name="txtClienteSaeS3s" th:value="${objCliente.clienteSaeS3s}" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<p><b># Cliente SAE R2A *</b></p>
										<div class="form-line">
											<input type="text" name="txtClienteSaeR2a" th:value="${objCliente.clienteSaeR2a}" class="form-control" />
										</div>
									</div>
								</div>
							</div>
						</div>
						


						<div class="row clearfix">
							<div class="col-md-8">
	                        	<div class="form-group">
	                        		<p><b>Raz&oacute;n social*</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRazonSocial" th:value="${objCliente.getRazonSocial()}" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Direcci&oacute;n</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtDireccion" th:value="${objCliente.getDireccion()}" class="form-control" maxlength="250" />
	                                </div>
	                            </div>
	                        </div>
						</div>
					
						<div class="row clearfix">
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>RFC *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRFC" th:value="${objCliente.getRfc()}" class="form-control" required="required" maxlength="25" />
	                                </div>
	                            </div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>Ciudad</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCiudad" th:value="${objCliente.getCiudad()}" class="form-control" maxlength="100" />
	                                </div>
	                            </div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>Estado</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtEstado" th:value="${objCliente.getEstado()}" class="form-control" maxlength="100" />
	                                </div>
	                            </div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>C&oacute;digo Postal</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCodigoPostal" th:value="${objCliente.getCodigoPostal()}" class="form-control" maxlength="5" />
	                                </div>
	                            </div>
							</div>
						</div>
					
						<div class="row clearfix">
							<div class="col-md-3 col-md-offset-8 text-right">
								<a th:href="${ {_PATH_} + 'controlPanel/clientes'}" role="button" class="btn btn-danger m-t-15 waves-effect">CANCELAR</a>
								<button type="submit" class="btn btn-primary m-t-15 waves-effect">MODIFICAR</button>
							</div>
						</div>
					</form>
    			</div>
    		</div>
    	</div>
    </div>
</th:block>

<th:block th:fragment="script">
	<script type="application/javascript" th:inline="javascript">/*<![CDATA[*/			
	
		$(document).ready(function() {			
			
			// FORM SUBMIT
			$('#formCliente').submit(function(e){
				var flag = false;
				
				if($('#cmbGiro').val() == 'default' || $('#cmbEjecutivo').val() == 'default') {
					flag = true;
				}				
				
				if(flag) {
					swal('Hey!', 'Los campos con (*) son obligatorios', 'warning');
					e.preventDefault();
				}
		  	});
		});
		
		
		$(function () {
			// VALIDADOR DE FORMULARIO
			$('#formCliente').validate({
		        rules: {
		            'txtTelefono': {
		                number: true
		            }
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.form-group').append(error);
		        }
		    });
			
			//Custom Validations ===============================================================================
		    //Number
		    $.validator.addMethod('number', function (value, element) {
		        return value.match('[0-9]+');
		    },
		        'Por favor ingresa un n&uacute;mero.'
		    );			
		});				
		/*]]>*/</script>
</th:block>