<th:block th:fragment="body">
	<div class="block-header">
        <h2>OPORTUNIDADES DE NEGOCIOS</h2>
    </div>
    
    <div class="row clearfix">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="appOPN">
    		<div class="card">
    			<div class="header">
    				<h2>Modificar Oportunidad</h2>
    			</div>
    			
    			<div class="body">
    				<form id="formOportunidad" th:action="${ {_PATH_} + 'controlPanel/oportunidadesNegocios/' + objOportunidad.getIdOportunidadNegocio()}" th:method="PUT">
						<div class="row clearfix">
							<div class="col-md-6">
								<div class="form-group form-group-lg">
	                        		<p><b>Titulo de oportunidad *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtOportunidad" class="form-control" th:value="${objOportunidad.oportunidad}" required="required" />
	                                </div>
	                            </div>
							</div>														
							
							<div class="col-md-3">
								<div class="form-group form-group-lg">
									<p><b>Estatus *</b></p>
		                            <select class="form-control show-tick" name="cmbEstatus" id="cmbEstatus" data-live-search="true" >
		                       			<th:block th:each="itemEstatus : ${lstOportunidadesEstatus}">
		                       				<option th:if="${itemEstatus.idOportunidadNegocioEstatus == objOportunidad.oportunidadNegocioEstatus.idOportunidadNegocioEstatus}" selected="selected" th:value="${itemEstatus.idOportunidadNegocioEstatus}" th:text="${itemEstatus.oportunidadNegocioEstatus}"></option>
		                       				<option th:unless="${itemEstatus.idOportunidadNegocioEstatus == objOportunidad.oportunidadNegocioEstatus.idOportunidadNegocioEstatus}" th:value="${itemEstatus.idOportunidadNegocioEstatus}" th:text="${itemEstatus.oportunidadNegocioEstatus}"></option>
		                       			</th:block>
		                       		</select>
		                       	</div>
							</div>

							<div class="col-md-3">
								<div class="form-group form-group-lg">
									<p><b>Clasificacion*</b></p>
		                            <select class="form-control show-tick" name="cmbEstatusClasificacion" id="cmbEstatusClasificacion" data-live-search="true" >
		                       			<th:block th:each="itemEstatusClasificacion : ${lstOpnEstatusClasificacion}">
											<h2 th:text="${itemEstatusClasificacion}"></h2>
		                       				<option th:if="${objOportunidad.opnNegocioEstatusClasificacion != NULL AND objOportunidad.opnNegocioEstatusClasificacion.idOpnNegocioEstatusClasificacion == itemEstatusClasificacion.idOpnNegocioEstatusClasificacion}" selected="selected" th:value="${itemEstatusClasificacion.idOpnNegocioEstatusClasificacion}" th:text="${itemEstatusClasificacion.nombre}"></option>
		                       				<option th:unless="${objOportunidad.opnNegocioEstatusClasificacion !=NULL AND objOportunidad.opnNegocioEstatusClasificacion.idOpnNegocioEstatusClasificacion == itemEstatusClasificacion.idOpnNegocioEstatusClasificacion }" th:value="${itemEstatusClasificacion.idOpnNegocioEstatusClasificacion}" th:text="${itemEstatusClasificacion.nombre}"></option>
		                       			</th:block>
		                       		</select>
		                       	</div>
							</div>

						</div>
						
						<div class="row clearfix">
							<div class="col-md-3">
								<b>Moneda *</b>
	                            <select class="form-control show-tick" name="cmbMoneda" id="cmbMoneda" data-live-search="true">
	                            	<th:block th:each="itemMoneda : ${lstMonedas}">	
	                            		<option th:if="${objOportunidad.getMoneda().getIdMoneda() == itemMoneda.idMoneda}" selected="selected" th:value="${itemMoneda.idMoneda}" th:text="${itemMoneda.moneda}"></option>
	                            		<option th:unless="${objOportunidad.getMoneda().getIdMoneda() == itemMoneda.idMoneda}" th:value="${itemMoneda.idMoneda}" th:text="${itemMoneda.moneda}"></option>                            	
	                            	</th:block>	                            	
	                       		</select>
							</div>
							
							<div class="col-md-3 moneda-extranjera">
								<b>Tipo de Cambio</b>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <div class="form-line">
                                        <input type="text" id="txtTipoCambio" name="txtTipoCambio" th:value="${objOportunidad.tipoCambio}" class="form-control moneda-calcular" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3 moneda-extranjera">
								<b>Ingreso (Moneda Extranjera)</b>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <div class="form-line">
                                        <input type="text" id="txtValorMonedaExtranjera" name="txtValorMonedaExtranjera" th:value="${objOportunidad.valorMonedaExtranjera}" class="form-control moneda-calcular" />
                                    </div>
                                </div>
                            </div>
						
							<div class="col-md-3 fecha-renovacion">
								<b>Fecha de Renovaci&oacute;n</b>
	                        	<div class="input-group">
                        			<span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control text-center" id="txtRenovacionFecha" name="txtRenovacionFecha" th:attr="data-fecha_renovacion=${objOportunidad.renovacionFecha}" />
                                    </div>
								</div>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-4">
								<b>Ingreso estimado *</b>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <div class="form-line">
                                        <input type="text" id="txtIngresoEstimado" name="txtIngresoEstimado" th:value="${objOportunidad.ingresoEstimado}" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
								<b>Probabilidad</b>
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" name="txtProbabilidad" th:value="${objOportunidad.probabilidadPorcentaje}" class="form-control" />
                                    </div>
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                            	<div class="form-group">                            	
		                            <b>Empresa *</b>
		                            <select class="form-control show-tick" name="cmbEmpresa" id="cmbEmpresa" data-live-search="true" >
		                            	<th:block th:each="itemEmpresa : ${lstEmpresas}">	
		                            		<option th:if="${objOportunidad.getEmpresa().getIdEmpresa() == itemEmpresa.idEmpresa}" selected="selected" th:value="${itemEmpresa.idEmpresa}" th:text="${itemEmpresa.razonSocial}"></option>
		                            		<option th:unless="${objOportunidad.getEmpresa().getIdEmpresa() == itemEmpresa.idEmpresa}" th:value="${itemEmpresa.idEmpresa}" th:text="${itemEmpresa.razonSocial}"></option>                            	
		                            	</th:block>
		                       		</select>
                            	</div>
	                        </div>
                  		</div>
						
						<div class="row clearfix">
							<div class="col-md-6">
								<b>Cliente *</b>
								<div class="input-group">								
		                            <select class="form-control show-tick" name="cmbCliente" id="cmbCliente" data-live-search="true" >
		                            	<option value="default">Selecciona un Cliente...</option>
		                            	<th:block th:each="itemCliente : ${lstClientes}">		                            	
			                            	<option th:if="${objOportunidad.cliente.idCliente == itemCliente.idCliente}" selected="selected"  th:value="${itemCliente.idCliente}" th:text="${itemCliente.cliente}"></option>
			                            	<option th:unless="${objOportunidad.cliente.idCliente == itemCliente.idCliente}"  th:value="${itemCliente.idCliente}" th:text="${itemCliente.cliente}"></option>
		                            	</th:block> 
		                       		</select>
		                       		<!-- <span class="input-group-addon">
		                       			<a href="#" data-toggle="modal" data-target="#clienteModal">		                       			
	                                        <i class="material-icons">add_circle</i>
		                       			</a>
                                    </span> -->
								</div>	                           
	                        </div>
	                        
	                        <div class="col-md-6">
	                      		<b>Cierre previsto</b>
	                        	<div class="input-group">
                        			<span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control text-center" id="txtCierreFecha" name="txtCierreFecha" th:attr="data-fecha_cierre=${objOportunidad.cierreFecha}" />
                                    </div>
								</div>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-6">
	                            <b>Contacto *</b>
	                            <div class="input-group">	                            
		                            <select class="form-control show-tick" name="cmbClienteContacto" id="cmbClienteContacto" data-live-search="true" >
		                            	<option value="default">Selecciona un Contacto...</option>
		                            	<th:block th:each="itemContacto : ${lstContactos}">
		                            		<option th:if="${itemContacto.idClienteContacto == objOportunidad.clienteContacto.idClienteContacto}" selected="selected"  th:value="${itemContacto.idClienteContacto}" th:text="${itemContacto.contacto}"></option>
		                            		<option th:unless="${itemContacto.idClienteContacto == objOportunidad.clienteContacto.idClienteContacto}"  th:value="${itemContacto.idClienteContacto}" th:text="${itemContacto.contacto}"></option>                            	
		                            	</th:block>
		                            </select>
		                            <!-- <span class="input-group-addon">
		                       			<a href="#" data-toggle="modal" data-target="#contactoModal">		                       			
	                                        <i class="material-icons">add_circle</i>
		                       			</a>
                                    </span> -->
	                            </div>
	                        </div>
							<div class="col-md-6">
	                        	<div class="form-group">
	                        		<b>Prioridad</b>	                        		
	                                <div class="m-t-10">
	                                	<div class='starrr'></div>
	                                	<input type="hidden" id="txtPrioridad" name="txtPrioridad" th:value="${objOportunidad.prioridad}" />
	                                </div>
	                            </div>
	                        </div>
	                        <!-- <div class="col-md-6"></div>							 -->
						</div>
						
						<br />
						
						<div class="row clearfix">
							<div class="col-md-4">
	                            <p><b>Vendedor *</b></p>
	                            <select class="form-control show-tick" name="cmbVendedor" id="cmbVendedor" data-live-search="true" >
	                       			<th:block th:each="itemUsuario : ${lstUsuarios}" >
	                       				<option th:if="${itemUsuario.idUsuario == objOportunidad.usuarioVendedor.idUsuario}" selected="selected" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                       				<option th:unless="${itemUsuario.idUsuario == objOportunidad.usuarioVendedor.idUsuario}" th:value="${itemUsuario.idUsuario}" th:text="${itemUsuario.nombreCompleto}"></option>
	                       			</th:block>
	                       		</select>
							</div>
							<div class="col-md-8">
								<div class="col-md-10">
									<p><b>Seleccionar Colaborador </b></p>
									<div class="input-group">
										<select name="cmbUsuario"  class="'form-control selectpicker show-tick cmbUsuario" data-live-search="true"
										  multiple="multiple">									  
											<option v-for="item in usuario" :value="item.id_usuario" v-text="item.nombre_completo"></option>
										</select>
									</div>
								</div>
								<div class="col-md-1">
									<p><b><b></b></b></p>
									<div class="input-group">
										<button class="btn btn-success" v-on:click="addUser"><i class="material-icons">add</i></button>
									</div>
								</div>
							</div>
	                        
						</div>	
						
						<!--Tabla de colaboradores de esta oportunidad de negocio-->
						<div class="row-clearfix"  v-if="formInputs.length!=null" >
							<div class="col-md-12">
								<table class="table table-sm table-responsive ">
									<thead class="bg-danger">
									  <tr>	
										<th scope="col">Usuario Colaborador</th>
										<th scope="col">Empresa</th>
										<th scope="col">Acci&oacute;n</th>
									  </tr>
									</thead>
									<tbody>
										<tr v-for="(formInput, index) in formInputs" class="table-success">
											<input type="hidden" name="idOpnColaborador" v-model="formInput.idOpnColaborador" v-if="formInput.idOpnColaborador"/>
											<input type="hidden" name="nuevoColaborador" value="" v-else="!formInput.idOpnColaborador"/>
											<input type="hidden" name="idColaborador" :value="formInput.id_usuario"/>
											<td class="text-success"><label v-text="formInput.nombre_completo"></label></td>
											<td class="text-success"><label v-text="formInput.claveEmpresa"></label></td>
											<td>
												<a  title="Eliminar Usuario" class="Eliminar Usuario" v-on:click="removeColaborador(index)"><i class="material-icons delete">delete</i></a>
											</td>
									  </tr>
									</tbody>
								  </table>
							</div>
						</div>	
					
						<div class="row clearfix">
							<div class="col-md-12">
								<ul class="nav nav-tabs tab-nav-right" role="tablist">
	                                <li role="presentation" class="active"><a href="#notasInternas" data-toggle="tab">NOTAS INTERNAS</a></li>
	                            </ul>
	                            
	                            <div class="tab-content">
	                                <div role="tabpanel" class="tab-pane fade in active" id="notasInternas">
                                    	<div class="form-group">
	                                    	<div class="form-line"><textarea rows="4" name="txtNotasInternas" class="form-control no-resize"><th:block th:utext="${objOportunidad.notasInternas}"></th:block></textarea></div>
                                 		</div>
	                                </div>
	                            </div>
							</div>						
						</div>
					
						<div class="row clearfix">
							<div class="col-md-3 col-md-offset-8 text-right">
								<a th:href="${ {_PATH_} + 'controlPanel/oportunidadesNegocios'}" role="button" class="btn btn-danger m-t-15 waves-effect">CANCELAR</a>
								<button type="submit" class="btn btn-primary m-t-15 waves-effect">MODIFICAR</button>
							</div>
						</div>
					</form>
    			</div>
    		</div>
    	</div>
    </div>
    
    <!-- CLIENTE MODAL -->
    <div class="modal fade" id="clienteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="formCliente" th:action="${ {_PATH_} + 'controlPanel/clientes/add-cliente'}" th:method="POST">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="defaultModalLabel">Nuevo Cliente</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="row clearfix">
							<div class="col-md-8">
	                        	<div class="form-group">
	                        		<p><b>Nombre Comercial *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtNombreComercial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
							<div class="col-md-4">
	                            <p><b>Sucursal *</b></p>
	                            <select class="form-control show-tick" name="cmbSucursal" id="cmbSucursal" data-live-search="true" >
	                       			<th:block th:each="itemSucursal : ${lstSucursales}" >
	                       				<option th:if="${itemSucursal.idSucursal == _USER_.getSucursal().getSucursal()}" selected="selected" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       				<option th:unless="${itemSucursal.idSucursal == _USER_.getSucursal().getSucursal()}" th:value="${itemSucursal.idSucursal}" th:text="${itemSucursal.sucursal}"></option>
	                       			</th:block>
	                       		</select>
	                        </div>	                        	                       
						</div>
						
						<div class="row clearfix">
							<div class="col-md-4">
	                            <p><b>Giro</b></p>
	                            <select class="form-control show-tick" name="cmbGiro" id="cmbGiro" data-live-search="true" >
	                            	<option th:each="itemGiro : ${lstClientesGiros}" th:value="${itemGiro.idClienteGiro}" th:text="${itemGiro.clienteGiro}"></option>
	                       		</select>
	                        </div>
						
							<div class="col-md-4">
	                        	<div class="form-group">
	                        		<p><b>Raz&oacute;n social *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRazonSocial" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                       <div class="col-md-4">
								<div class="form-group">
	                        		<p><b>RFC *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtRFC" class="form-control" required="required" />
	                                </div>
	                            </div>
							</div>
						</div>
	                </div>
	                <div class="modal-footer">	                    
	                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-link waves-effect">CREAR</button>
	                </div>
                </form>
            </div>
        </div>
    </div>

	<!-- CONTACTO MODAL -->
    <div class="modal fade" id="contactoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	<form id="formContacto" th:action="${ {_PATH_} + 'controlPanel/clientes/add-contacto'}" th:method="POST">
            		<input type="hidden" value="" name="hddIdCliente" id="hddIdCliente" />
	                <div class="modal-header">
	                    <h4 class="modal-title" id="defaultModalLabel">Nuevo Contacto</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="row clearfix">
	                        <div class="col-md-6">
	                        	<div class="form-group">
	                        		<p><b>Contacto *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtContacto" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-4">
                        		<input type="checkbox" id="chkAdministrador" name="chkAdministrador" value="true" class="chk-col-red" />
                               	<label for="chkAdministrador">&iquest;PROPIETARIO / GERENTE?</label>
	                        </div>
						</div>
						
						<div class="row clearfix">
							<div class="col-md-3">
								<div class="form-group">
	                        		<p><b>Puesto</b></p>
                                    <div class="form-line">
                                        <input type="text" name="txtPuesto" class="form-control" />
                                    </div>
                                 </div>
							</div>
							
							<div class="col-md-3">                        	
	                        	<div class="form-group">
	                        		<p><b>Correo *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCorreo" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">                        		
	                        	<div class="form-group">
	                        		<p><b>Tel&eacute;fono</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtTelefono" class="form-control" />
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="col-md-3">                        		
	                        	<div class="form-group">
	                        		<p><b>Celular *</b></p>
	                                <div class="form-line">
	                                    <input type="text" name="txtCelular" class="form-control" required="required" />
	                                </div>
	                            </div>
	                        </div>
						</div>
	                </div>
	                <div class="modal-footer">	                    
	                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCELAR</button>
	                    <button type="submit" class="btn btn-link waves-effect">CREAR</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="script">
	<!-- Starrr Js -->
	<script th:src="@{/plugins/starrr/starrr.js}"></script>
	<script th:src="@{/plugins/vue/vue.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/assets/js/colaboradores.js}"></script>

	<script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

	<!-- Wenzhixin DataTable -->
	<script th:src="@{/plugins/wenzhixin/bootstrap-table.js}"></script>
	<script th:src="@{/plugins/wenzhixin/extensions/export/tableExport.js}"></script>
	<script th:src="@{/plugins/wenzhixin/extensions/export/bootstrap-table-export.js}"></script>
	<script th:src="@{/plugins/wenzhixin/locale/bootstrap-table-es-MX.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
	<script type="application/javascript" th:inline="javascript">/*<![CDATA[*/
			
		var prioridad = [[${objOportunidad.prioridad}]];
		var idOPN = [[${objOportunidad.idOportunidadNegocio}]];

	
		$(document).ready(function() {
			
			opn.editOpn(idOPN);
			//DATEPICKER
			var date = $('#txtCierreFecha').data('fecha_cierre');
			var dateRenovacion = $('#txtRenovacionFecha').data('fecha_renovacion');
			
			$('#txtCierreFecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', weekStart : 1, clearButton: false, time:false});
			$('#txtRenovacionFecha').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY', weekStart : 1, clearButton: false, time:false});
			
			if(date != null) {
				var arrDate = date.split("-");				
				$('#txtCierreFecha').bootstrapMaterialDatePicker('setDate', arrDate[2]+"/"+arrDate[1]+"/"+arrDate[0]);
			}
			
			if(dateRenovacion != null) {
				var arrDate2 = dateRenovacion.split("-");				
				$('#txtRenovacionFecha').bootstrapMaterialDatePicker('setDate', arrDate2[2]+"/"+arrDate2[1]+"/"+arrDate2[0]);
			}
			
			//PRIORIDAD DE LA OPORTUNIDAD
			$('.starrr').starrr({
			  max		: 3,
			  rating	: prioridad,
			  change	: function(e, value){
				    $('#txtPrioridad').val(value);
			  }
			});
			
			/**
			* ESTATUS DE LAS OPORTUNIDADES
			*/
			if($('#cmbEstatus').val() == 3) {
				$('.fecha-renovacion').show();
			} else {
				$('.fecha-renovacion').hide();
			}
			
			$('#cmbEstatus').on('change', function() {
				if($(this).val() == 3) {
					$('.fecha-renovacion').show();
				} else {
					$('.fecha-renovacion').hide();
				}
			});


			/* Estatus clasificacion */
						
			// SELECT PICKER			
			$('#cmbEstatus').on('change', function() {
				var $select = $('#cmbEstatusClasificacion');
				var data = $('#cmbEstatus').val()
				
				$.ajax({
					url					: [[@{/controlPanel/oportunidadesNegocios/get-estatus-clasificacion}]] + "?idEstatus=" + data,
					dataType			: 'json',
					type				: "GET",
					success				: function(data) {
						$select.attr('disabled', false);
												 
						$select.find('option').remove();  
						$.each(data, function(key, value) 
						{
						    $select.append('<option value=' + value.id_Opn_Estatus_clasificacion + '>' + value.nombre + '</option>');
						});
						
						$select.selectpicker('refresh');
					},
					error				: function(e) {
						console.log(e);
						$select.attr('disabled', true);
						$select.empty();
					}
				});
			});
			
			/**
			* MONEDA Y TIPO DE CAMBIO
			*/
			if($('#cmbMoneda').val() != 1) {
				$('.moneda-extranjera').show();
				$("#txtIngresoEstimado").attr("readonly", true);
			} else {
				$('.moneda-extranjera').hide();
				$("#txtIngresoEstimado").attr("readonly", false);
			}
			
			$('.moneda-calcular').focusout(function() {
				calcularTotal();
			});
			

			$('#cmbMoneda').on('change', function() {
				if($(this).val() != 1) {
					$('.moneda-extranjera').show();
					$("#txtIngresoEstimado").attr("readonly", true);
				} else {
					$('.moneda-extranjera').hide();
					$("#txtIngresoEstimado").attr("readonly", false);
				}
			});
			
			function calcularTotal() {
				
				var tipoCambio = parseFloat($('#txtTipoCambio').val());
				var valor = parseFloat($('#txtValorMonedaExtranjera').val());
				
				if(tipoCambio > 0) {
					$('#txtIngresoEstimado').val(tipoCambio * valor);
				}				
			}
			
			
			$('#cmbCliente').on('change', function() {
				buscarContactos();
			});
			
			// FORM SUBMIT
			$('#formOportunidad').submit(function(e){
				var flag = false;
				
				if($('#cmbCliente').val() == 'default' || $('#cmbClienteContacto').val() == 'default' || isNaN($('#txtIngresoEstimado').val())) {
					flag = true;
				}				
				
				if(flag) {
					swal('Hey!', 'Los campos con (*) son obligatorios', 'warning');
					e.preventDefault();
				}
		  	});
			
			$('#formCliente').submit(function(e){
				e.preventDefault();
				
				var formData = $('#formCliente').serialize();
				
				$.ajax({
					url					: $('#formCliente').attr('action'),
					dataType			: 'json',
					data				: formData,
					type				: "POST",
					success				: function(data) {
						if(data.respuesta) {
							buscarClientes();
							swal(data.titulo, data.mensaje, 'success');
							$('#clienteModal').modal('hide');
						} else{
							swal('Error!', 'Ocurrio un error al crear el cliente, verifique su informacion.', 'error');
						}
					},
					error				: function(e) {
						console.log(e);
					}
				});
		  	});
			
			$('#formContacto').submit(function(e){
				e.preventDefault();				
				
				var data = $('#hddIdCliente').val()
				var formData = $('#formContacto').serialize();
				
				if(data != "") {					
					$.ajax({
						url					: $('#formContacto').attr('action'),
						dataType			: 'json',
						data				: formData,
						type				: "POST",
						success				: function(data) {
							if(data.respuesta) {
								buscarContactos();
								swal(data.titulo, data.mensaje, 'success');
								$('#contactoModal').modal('hide');
							} else{
								swal('Error!', 'Ocurrio un error al crear el contacto, verifique su informacion.', 'error');
							}
						},
						error				: function(e) {
							console.log(e);
						}
					});
				} else {
					swal('Advertencia!', 'Para crear un contacto, es necesario seleccionar un cliente. Verifique su informacion.', 'warning');
				}
				
		  	});
		});
		
		function buscarClientes() {
			var $select = $('#cmbCliente');
			
			$.ajax({
				url					: [[@{/controlPanel/clientes/get-clientes}]],
				dataType			: 'json',
				type				: "GET",
				success				: function(data) {
											 
					$select.find('option').remove();  
					$.each(data, function(key, value) 
					{
					    $select.append('<option value="' + value.idCliente + '" >' + value.cliente + '</option>');
					});
					
					$select.selectpicker('refresh');
				},
				error				: function(e) {
					console.log(e);
				}
			});
		}
		
		function buscarContactos() {
			var $select = $('#cmbClienteContacto');
			var data = $('#cmbCliente').val()
			$('#hddIdCliente').val(data);
			
			$.ajax({
				url					: [[@{/controlPanel/clientes/get-clientes-contactos}]] + "?idCliente=" + data,
				dataType			: 'json',
				type				: "GET",
				success				: function(data) {
					$select.attr('disabled', false);
											 
					$select.find('option').remove();  
					$.each(data, function(key, value) 
					{
					    $select.append('<option value=' + value.idClienteContacto + ' data-subtext="'+ value.correo +'">' + value.contacto + '</option>');
					});
					
					$select.selectpicker('refresh');
				},
				error				: function(e) {
					console.log(e);
					$select.attr('disabled', true);
					$select.empty();
				}
			});
		}
		
		
		$(function () {
			// VALIDADOR DE FORMULARIO
			$('#formOportunidad').validate({
		        rules: {
		            'txtIngresoEstimado': {
		                number: true
		            }
		        },
		        highlight: function (input) {
		            $(input).parents('.form-line').addClass('error');
		        },
		        unhighlight: function (input) {
		            $(input).parents('.form-line').removeClass('error');
		        },
		        errorPlacement: function (error, element) {
		            $(element).parents('.form-group').append(error);
		        }
		    });
			
			//Custom Validations ===============================================================================
		    //Number
		    $.validator.addMethod('number', function (value, element) {
		        return value.match('[0-9]+');
		    },
		        'Por favor ingresa un n&uacute;mero.'
		    );
			
			//Select Picker
		    $.validator.addMethod("valueNotEquals", function(value, element, arg){
	    	  	return arg !== value;
	    	}, 
	    	 'Por favor selecciona una opci&oacute;n.'
	    	 );
		});				
		/*]]>*/</script>
</th:block>