<th:block th:fragment="body">
	<div id="appOportunidades">
		<div class="block-header">
			<h2>OPORTUNIDADES DE NEGOCIOS</h2>
		</div>
		
		<div class="row clearfix">
			<div class="col-md-6">
				<th:block th:if="${rolNuevaOportunidad}">
					<a th:href="${ {_PATH_} + 'controlPanel/oportunidadesNegocios/create'}" type="button" class="btn bg-purple waves-effect">
						<i class="material-icons">add_circle</i> 
						<span>NUEVA OPORTUNIDAD</span>
					</a>
				</th:block>
				
				<a th:href="${ {_PATH_} + 'controlPanel/oportunidadesNegocios/calendario'}" type="button" class="btn bg-teal waves-effect">
					<i class="material-icons">date_range</i>
					<span>VER CALENDARIO</span>
				</a>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="body">    		
						<div class="form-group">
							<div class="form-line">
								<input id="txtBusqueda" type="text" class="form-control" placeholder="Buscar Oportunidades..." />
							</div>
						</div>
						
						<div class="form-group">
							<input type="radio" name="filtro" checked="checked" id="radio1" value="1" class="with-gap radio-col-red" />
							<label for="radio1">Oportunidad</label>
							
							<input type="radio" name="filtro" id="radio2" value="2" class="with-gap radio-col-blue" />
							<label for="radio2">Cliente</label>
							
							<input type="radio" name="filtro" id="radio3" value="3" class="with-gap radio-col-teal" />
							<label for="radio3">Usuario</label>
							
							<input type="radio" name="filtro" id="radio4" value="4" class="with-gap radio-col-amber" />
							<label for="radio4"># OPN</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row clearfix">
			<div class="col-md-12">    	
				<button type="button" :class="ibmActive ? activeClass : inactiveClass" v-on:click="changeEmpresa(1)">
					<i class="material-icons">store</i>
					<span>IB-M&Eacute;XICO</span>
				</button>
				
				<button type="button" :class="s3sActive ? activeClass : inactiveClass" v-on:click="changeEmpresa(2)">
					<i class="material-icons">store</i>
					<span>S3S</span>
				</button>
				
				<button type="button" :class="r2aActive ? activeClass : inactiveClass" v-on:click="changeEmpresa(3)">
					<i class="material-icons">store</i>
					<span>R2A</span>
				</button>
				
				<th:block th:if="${rolOportunidadEmpresaUca}">
					<button type="button" :class="ucaActive ? activeClass : inactiveClass" v-on:click="changeEmpresa(4)">
						<i class="material-icons">store</i>
						<span>UCA</span>
					</button>
				</th:block>
			</div>
		</div>      	
							
		<div class="row clearfix opn-deck m-t-10">
			<!-- ABIERTOS -->
			<div class="col-md-4 col-sm-4 col-lg-4 componente-opn">
				<div class="info-box bg-orange hover-zoom-effect">
					<div class="icon">
						<i class="material-icons">attach_money</i>
					</div>
					<div class="content">
						<div class="text">ABIERTOS</div>
						<div class="number">{{ totalAbiertos }}</div>
					</div>
				</div>
			
				<opn-card v-for="(item, index) in opnData.abiertos" :key="item.id_oportunidad"
					:data="item"
					:id-oportunidad="item.id_oportunidad"
					:tipo-oportunidad="1"
					:index="index"
					:token="token">
				</opn-card>
			</div>
			
			<!-- EN CURSO -->
			<div class="col-md-4 col-sm-4 col-lg-4 componente-opn">
				<div class="info-box bg-light-green hover-zoom-effect">
					<div class="icon">
						<i class="material-icons">attach_money</i>
					</div>
					<div class="content">
						<div class="text">EN CURSO</div>
						<div class="number">{{ totalEnCurso }}</div>
					</div>
				</div>
			
				<opn-card v-for="(item, index) in opnData.en_curso" :key="item.id_oportunidad"
					:data="item"
					:id-oportunidad="item.id_oportunidad"
					:tipo-oportunidad="2"
					:index="index"
					:token="token">
				</opn-card>
			</div>
			
			<!-- RENTAS -->
			<div class="col-md-4 col-sm-4 col-lg-4 componente-opn">
				<div class="info-box bg-pink hover-zoom-effect">
					<div class="icon">
						<i class="material-icons">attach_money</i>
					</div>
					<div class="content">
						<div class="text">RENTAS</div>
						<div class="number">{{ totalRentas }}</div>
					</div>
				</div>
			
				<opn-card v-for="(item, index) in opnData.rentas" :key="item.id_oportunidad"
					:data="item"
					:id-oportunidad="item.id_oportunidad"
					:tipo-oportunidad="3"
					:index="index"
					:token="token">
				</opn-card>
			</div>
			
			<!-- CERRADO -->
			<div class="col-md-4 col-sm-4 col-lg-4 componente-opn">
				<div class="info-box bg-indigo hover-zoom-effect">
					<div class="icon">
						<i class="material-icons">attach_money</i>
					</div>
					<div class="content">
						<div class="text">CERRADO</div>
						<div class="number">{{ totalCerrados }}</div>
					</div>
				</div>
			
				<opn-card v-for="(item, index) in opnData.cerrados" :key="item.id_oportunidad"
					:data="item"
					:id-oportunidad="item.id_oportunidad"
					:tipo-oportunidad="4"
					:index="index"
					:token="token">
				</opn-card>
			</div>
			
			<!-- PERDIDA -->
			<div class="col-md-4 col-sm-4 col-lg-4 componente-opn">
				<div class="info-box bg-cyan hover-zoom-effect">
					<div class="icon">
						<i class="material-icons">attach_money</i>
					</div>
					<div class="content">
						<div class="text">PERDIDOS</div>
						<div class="number">{{ totalPerdidos }}</div>
					</div>
				</div>
				
				<opn-card v-for="(item, index) in opnData.perdidos" :key="item.id_oportunidad"
					:data="item"
					:id-oportunidad="item.id_oportunidad"
					:tipo-oportunidad="5"
					:index="index"
					:token="token">
				</opn-card>
			</div>    	
		</div>
	</div>

	<template id="opn-card-template">
		<div class="card">
			<div class="header">
				<h2>{{ data.oportunidad }}</h2>
				<small class="usuario">{{ data.vendedor }}</small>
				<br />
				<small class="opn-id">{{ '#' + data.id_oportunidad }}</small>
				<br />
				<small>{{ '&Uacute;ltima modificaci&oacute;n: ' + data.ultima_modificacion }}</small>
				<ul class="header-dropdown m-r--5">
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons">more_vert</i>
						</a>
						<ul class="dropdown-menu pull-right">
							<li><a :href="'oportunidadesNegocios/' + data.id_oportunidad + '/create-actividad'">Planificar Actividad</a></li>
							<li><a :href="'oportunidadesNegocios/' + data.id_oportunidad + '/upload-file'" class="opn-adjuntar" :data-id_oportunidad="data.id_oportunidad">Adjuntar Archivo</a></li>
							<li><a :href="'cotizaciones/create/' + data.id_oportunidad">Crear Cotizaci&oacute;n</a></li>
							<li><a :href="'oportunidadesNegocios/reporte-opn-pdf/' + data.id_oportunidad" target="_blank">Reporte OPN</a></li>
							<li><a :href="'oportunidadesNegocios/' + data.id_oportunidad + '/edit'">Editar</a></li>
							<li><a href="#" v-on:click="deleteOportunidad(data.id_oportunidad)">Eliminar</a></li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="body">
				<div class="row cliente-div">
					<div class="col-md-12 cliente-text">
						Cliente: {{ data.cliente }}								
					</div>
					
					<div class="col-md-12">
						Ingreso estimado: ${{ data.ingreso_estimado }}								
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 align-left">						
						<div v-if="data.prioridad == 0" style="color:gold;"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
						<div v-if="data.prioridad == 1" style="color:gold;"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
						<div v-if="data.prioridad == 2" style="color:gold;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
						<div v-if="data.prioridad == 3" style="color:gold;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
					</div>

					<div class="col-md-6 align-right">
						<a title="Cotizaciones" type="button" href="#" data-toggle="modal" :data-target="'#opnModal' + data.id_oportunidad" v-on:click="getCotizaciones">
							<i class="material-icons">view_list</i>
						</a>
					
						<a title="Actividades" type="button" href="#" data-toggle="modal" :data-target="'#opnModal' + data.id_oportunidad" v-on:click="getActividades">
							<i class="material-icons">query_builder</i>
						</a>
						
						<a title="Ficheros" type="button" href="#" data-toggle="modal" :data-target="'#opnModal' + data.id_oportunidad" v-on:click="getFicheros">
							<i class="material-icons">archive</i>
						</a>
					</div>

					<div v-if="modalInfo != null">
						<example-modal 
							:params="modalInfo"
							:id-oportunidad="data.id_oportunidad"
							:modal-tipo="modalTipo"
							:key="data.id_oportunidad">
						</example-modal>
					</div>
				</div>
			</div>			
		</div>
	</template>

	<template id="opn-modal-template">
		<div class="modal fade" :id="'opnModal' + idOportunidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{{ titulo }}</h4>
					</div>
					<div class="modal-body">
						<div class="row clearfix">
							<!-- COTIZACIONES -->
							<div v-if="modalTipo == 1">
								<div v-if="collection.length != 0">
									<ul class="list-group">
										<li class="list-group-item" v-for="item in collection" :key="item.id_cotizacion">
											<div class="row clearfix">
												<div class="col-md-12 align-left">						
													<strong>{{ item.folio }}</strong>
													<br />
													<small v-if="item.maestra == 1">Cotizaci&oacute;n Maestra</small>
													<small v-if="item.renta == 1">Cotizaci&oacute;n de Renta</small>
													<small v-if="item.normal == 1">Cotizaci&oacute;n Normal</small>
												</div>
											</div>								 				
											<div class="row cleafix">
												<i class="material-icons">person</i> <span>{{ item.usuario }}</span><br />
												<i class="material-icons">monetization_on</i> <span>{{ item.total }}</span><br />
												<i class="material-icons">public</i> <span>{{ item.cliente }}</span><br />
												<i class="material-icons">contacts</i> <span>{{ item.contacto }}</span><br />
												<div class="col-md-12 align-right">
													<a :href="'cotizaciones/' + item.id_cotizacion + '/partidas'">Ver Partidas</a>
												</div>								 					
											</div>
										</li>
									</ul>
								</div>

								<div v-if="collection.length == 0">
									<div class="col-md-12 text-center">
										<strong>No hay cotizaciones vinculadas a esta oportunidad</strong>
									</div>
								</div>
							</div>

							<!-- ACTIVIDADES -->
							<div v-if="modalTipo == 2">
								<div v-if="collection.length != 0">
									<ul class="list-group"> 
										<li class="list-group-item" v-for="item in collection" :key="item.id_actividad">								 												 				
											<div class="row clearfix">
												<div class="col-md-8 align-left">														
													<strong>{{ item.actividad_tipo }}</strong>
												</div>	
												
												<div class="col-md-4 align-right">														
													<span v-if="item.finalizado == 1"><i class="material-icons">check_box</i></span>
													<span v-if="item.finalizado != 1"><i class="material-icons">check_box_outline_blank</i></span>
												</div>					 				
											</div>								 				
											<div class="row clearfix">
												<i class="material-icons">person</i> <span>{{ item.usuario }}</span><br />
												<div v-if="item.finalizado != 1">
													<i class="material-icons">query_builder</i><span class="date-format">{{ getDate(item.fecha_vencimiento) }}</span><br />
												</div>
												<div class="col-md-12 align-right"><a :href="'oportunidadesNegocios/' + item.id_actividad + '/edit-actividad'">Ver Actividad</a></div>								 					
											</div>									 												 					
										</li>
									</ul>
								</div>

								<div v-if="collection.length == 0">
									<div class="col-md-12 text-center">
										<strong>No hay actividades vinculadas a esta oportunidad</strong>
									</div>
								</div>
							</div>

							<!-- FICHEROS -->
							<div v-if="modalTipo == 3">
								<div v-if="collection.length != 0">
									<ul class="list-group"> 
										<li class="list-group-item" v-for="item in collection" :key="item.id_oportunidad_fichero">								 												 				
											<div class="row clearfix">
												<div class="col-md-12 text-center">														
													<strong>{{ item.titulo }}</strong>
													<p>
														{{ item.descripcion }}
													</p>
												</div>					 				
											</div>								 				
											<div class="row clearfix">
												<div class="col-md-12 align-right">
													<a :href="'http://corp-mx.com:8080/WebSar/ficheros/oportunidades/' + item.url" target="_blank" role="button" class="btn btn-primary waves-effect" >Ver Fichero</a>
												</div>								 					
											</div>									 												 					
										</li>
									</ul>
								</div>

								<div v-if="collection.length == 0">
									<div class="col-md-12 text-center">
										<strong>No hay ficheros vinculados a esta oportunidad</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CERRAR</button>
					</div>
				</div>
			</div>
		</div>
	</template>

</th:block>

<th:block th:fragment="script">
	<script th:src="@{/plugins/vue/vue.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/assets/js/script.js}"></script>
	<script type="application/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			var csrftoken = [[${_csrf.token}]];			
			app1.token = csrftoken;

			//FILTRADO DE OPN
			$('#txtBusqueda').keyup(function() {
				$('.card').removeClass('hidden');
				var filtro = $(this).val();
				var tipoFiltro = $("input[name=filtro]:checked").val();
				switch(tipoFiltro) {
					case "1":
						$('.opn-deck').find('.componente-opn .card .header h2:not(:contains("'+ filtro +'"))').parent().parent().addClass('hidden');
					break;
					
					case "2":
						$('.opn-deck').find('.componente-opn .card .body .cliente-div div.cliente-text:not(:contains("'+ filtro.toUpperCase() +'"))').parent().parent().parent().addClass('hidden');
						console.log($('.opn-deck').find('.componente-opn .card .body .cliente-div div.cliente-text'));
					break;
					
					case "3":
						$('.opn-deck').find('.componente-opn .card .header small.usuario:not(:contains("'+ filtro +'"))').parent().parent().addClass('hidden');
					break;
					
					case "4":
						$('.opn-deck').find('.componente-opn .card .header small.opn-id:not(:contains("'+ filtro +'"))').parent().parent().addClass('hidden');
					break;
				}				
			});
			// *****************************************************************
		});
	/*]]>*/
	</script>
</th:block>